<div id="sortAndPerPage" class="clearfix">
  <div class="search-widgets float-end">
    <%= render partial: 'tools', locals: { document_list: @document_list } %>
    <%= render partial: 'sort_widget' %>
    <%= render partial: 'per_page_widget' %>
  </div>
</div>
