<td class="holding-status" data-availability-record="true"
  data-record-id="<%= doc_id %>" data-holding-id="<%= holding_id %>"
  <% if aeon_location? %>data-aeon="true"<% end %>
  <% if temp_location_code %>data-temp-location-code="true"<% end %>
  >
  <span class="availability-icon"></span>
</td>
