<td class="holding-status" data-availability-record="true" data-record-id="<%= doc_id %>"
  data-holding-id="<%= holding_id %>" data-scsb-barcode="<%= holding['items'].first['barcode'] %>"
  data-aeon="<%= scsb_supervised_items? %>">
  <span class="availability-icon badge"></span>
</td>
