<td class="libmap-services">
    <div class="libmap-button"
        data-title="<%= title %>"
        data-location="<%= location %>"
        data-collection="<%= collection %>"
        data-callnumber="<%= call_number %>">
    </div>
</td> 