<li class="online-holdings-list">
    <%= content_tag(
        :div,
        tag(:'online-options', :'document-id' => document.id, :'options-count' => links.length, :'link-json' => links.first),
        class: 'lux'
        )
    %>
</li>
