<details <% if open %>open<% end %>>
  <summary class="lux">
    <div class="side-by-side">
      <span class="text"><%= group.group_name %></span>
      <span class="when-closed"><holding-group-availability /></span>
    </div>
    <div>
      <span class="when-closed">
        <lux-icon-base width="20" height="20" icon-hide="true"><lux-icon-arrow-right></lux-icon-arrow-right></lux-icon-base>
      </span>
      <span class="when-open">
        <lux-icon-base width="20" height="20" icon-hide="true"><lux-icon-arrow-down></lux-icon-arrow-down></lux-icon-base>
      </span>
    </div>
  </summary>
  <div class="detailed-content">
    <table class="availability-table">
      <thead class="visually-hidden">
        <tr>
          <th>Call Number</th>
          <th>Status</th>
          <th class="location-services">Location Service</th>
        </tr>
      </thead>
      <% group.holdings.each do |holding| %>
        <%= render Holdings::PhysicalHoldingComponent.new(adapter, holding.mfhd_id, holding.holding_data) %>
      <% end %>
    </table>
  </div>
</details>
