<div class="results_location row">
  <svg viewBox="0 0 20 20" width="16" height="16" aria-hidden="true" class="location-pin-icon">
    <path d="M9.5,1.8
    Q-2,4.4 9.5,17.5
    10,17.9 10.5,17.5
    22,4.4 10.5,1.8
    10,1.79 9.5,1.8Z" stroke-width="2" fill="none" />
    <circle r="2" fill="none" stroke-width="1.5" cx="10" cy="7.8">
  </svg>
  <span class="search-result-library-name"><%= location -%></span>
</div>
<div class="call-number"><%= call_number -%></div>
