<div class="results_location row">
  <span class="icon icon-location"></span>
  <span class="search-result-library-name"><%= location -%></span>
</div>
<div class="call-number"><%= call_number -%></div>
