{
  "sourceMaps": true,
  "presets": [["es2015", { "modules": false }], "stage-3"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "syntax-async-functions",
    "transform-regenerator",
    ["transform-class-properties", { "spec": true }]
  ]
}
