{
  "parser": "@babel/eslint-parser",
  "extends": [ 
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "prefer-const": "error",
    "no-trailing-spaces": [
      "error",
      { "skipBlankLines": true, "ignoreComments": true }
    ],
    // See ticket: https://github.com/prettier/eslint-plugin-prettier/issues/65 
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-unused-vars": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
