<%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
<div class="submit-buttons pull-right">
  <%= submit_tag t('blacklight.advanced_search.form.search_btn_html'), :class=>'btn btn-primary advanced-search-submit', :id => "advanced-search-submit" %>
</div>
