<div class="advanced-search-field">
  <%= render AdvancedSearchFormClauseComponent.new(index: 0, default: 'all_fields', search_fields: advanced_key_value) %>
  <%= render AdvancedSearchFormClauseComponent.new(index: 1, default: 'author', search_fields: advanced_key_value) %>
  <%= render AdvancedSearchFormClauseComponent.new(index: 2, default: 'title', search_fields: advanced_key_value) %>
</div>
