<div class="form-group advanced-search-field">
  <div class="col-sm-2 control-label">	
    <%= label_tag ("Search for") %>
  </div>
  <div class="col-sm-8">
    <%= text_field_tag 'title', label_tag_default_for('title'), :class => 'form-control' %> 
  </div>  
  <div class="col-sm-8">
    <%= text_field_tag 'author', label_tag_default_for('author'), :class => 'form-control' %> 
  </div>    


</div>

