<% @page_title = "Advanced Search - #{application_name}" %>

<div class="advanced-search-form col-sm-12">
    <div class="col-sm-12">
      <h1 class="advanced page-header">
        <%= t('blacklight_advanced_search.form.title') %>
        <%= link_to t('blacklight_advanced_search.form.start_over'), advanced_search_path, :class =>"btn pull-right clear-form" %>
      </h1>
        <%= render 'advanced_search_form' %>
    </div>
</div>
