<% @page_title = "Numismatics Search - #{application_name}" %>

<div class="advanced-search-form col-12">
  <h1 class="advanced page-header">
    <%= t('blacklight_advanced_search.form.numismatics_title') %>
    <%= link_to t('blacklight_advanced_search.form.start_over'), blacklight_advanced_search_engine.advanced_search_path, :class =>"btn pull-right clear-form" %>
  </h1>
</div>
<%= render 'numismatics_advanced_search_form' %>
