<% @page_title = "Numismatics Search - #{application_name}" %>

<div class="advanced-search-form col-12">
  <h1 class="advanced page-header">
    <%= t('blacklight_advanced_search.form.numismatics_title') %>
    <%= link_to t('blacklight_advanced_search.form.start_over'), '/numismatics', :class =>"btn pull-right clear-form" %>
  </h1>
  <p>
  With about 125,000 coins, medals, tokens, decorations, and banknotes, the Princeton University Numismatic Collection
  (comprising the collections of Firestone Library, the Princeton University Art Museum, the Department of Near Eastern Studies,
  and the Antioch Excavation coin finds) ranks as one of the largest and most comprehensive academic numismatic collections in
  the world. It is open to the public by appointment with the curator. About ten percent of the collection has been digitized
  to date; feel free to download the images for personal and scholarly use. For inquiries about other holdings, please
  contact Alan Stahl, Curator of Numismatics (<a href="mailto:astahl@princeton.edu">astahl@princeton.edu</a>)
  </p>
</div>
<%= render 'advanced/numismatics_advanced_search_form' %>
