<div style="padding-top: 9px;">
  <div style="font-weight:normal;font-size:12px;">Title</div> 
  <div style="font-size:20px;line-height:1.4;"><%= @submission.bib["title"] %></div>

  <div style="font-weight:normal;font-size:12px;margin-top:18px;">Author/Artist</div> 
  <div style="font-size:20px;line-height:1.4;"><%= @submission.bib["author"] %></div>
</div>
