<table style="border: 1px solid #ccc; padding: 18px;width:100%;">
  <tr>
    <td style="padding: 18px;">
      <span style="font-weight:normal;font-size:12px;">Name</span>
      <span style="display:block;font-size:16px;"><%= @submission.user_name %></span>
    </td>
    <td style="padding: 18px;">
      <span style="font-weight:normal;font-size:12px;">Email</span>
      <span style="display:block;font-size:16px;"><%= @submission.email %></span>
    </td>
    <td style="padding: 18px;">
      <span style="font-weight:normal;font-size:12px;">Barcode</span>
      <span style="display:block;font-size:16px;"><%= @submission.user_barcode %></span>
    </td>
  </tr>
</table>