<p class="body-content"><%= I18n.t('requests.on_shelf.email_conf_msg') %></p>
<div style="text-align:center;margin:18px 0;">
  <div style="font-size:12px;font-weight:normal;padding-top:18px;line-height:125%;">Pick-up Location</div>
  <span
    style="font-size:20px;font-weight:bold;"><%= @submission.pick_up_location['label'].html_safe %>
  <p/>
</div>