<tr class="email-header">
  <td colspan="2" style="padding: 18px;border-top: 6px solid #e77500;">
    <%= render  partial: 'request_header_patron', locals: { hide_date: "hide" } %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 18px;">
    <p class="body-content" style="margin-bottom:0;"><%= I18n.t('requests.in_process.patron_conf_msg') %></p>
  </td>
</tr>

<tr class="bib-info">
  <td colspan="2" style="padding: 18px;border-top:1px solid #ccc;">
    <%= render 'bib_info_patron' %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 18px;border-top:1px solid #ccc;">
    <%= render partial: 'item_info', locals: { show_edd_fields: false } %>
  </td>
</tr>
