<div class=multiselect-combobox>
    <multiselect-combobox
        field-name="<%= @field_name %>"
        label="<%= @label %>"
        dom-id="<%= @dom_id %>"
        values-json="<%= @values.to_json %>"
    ></multiselect-combobox>
</div>
