---
http_interactions:
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/SCSB-7935196/holdings/8076325/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 24 Aug 2022 17:39:53 GMT
- request:
    method: post
    uri: https://scsb.recaplib.org:9093/sharedCollection/bibAvailabilityStatus
    body:
      encoding: UTF-8
      string: '{"bibliographicId":".b106574619","institutionId":"NYPL"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - TESTME
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"itemBarcode":"33433088591924","itemAvailabilityStatus":"Available","errorMessage":null,"collectionGroupDesignation":"Shared"},{"itemBarcode":"33433088591932","itemAvailabilityStatus":"Available","errorMessage":null,"collectionGroupDesignation":"Shared"}]'
  recorded_at: Wed, 24 Aug 2022 17:39:54 GMT
recorded_with: VCR 6.1.0
