---
http_interactions:
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/9981794023506421/holdings/22591269990006421/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"02b14b8fcc270a9e61885deaf30ce538"
    body:
      encoding: UTF-8
      string: '[{"barcode":"32101089774630","id":"23591269960006421","holding_id":"22591269990006421","copy_number":"1","status":"Available","status_label":"Item
        in place","status_source":"base_status","process_type":null,"on_reserve":"N","item_type":"Gen","pickup_location_id":"firestone","pickup_location_code":"firestone","location":"firestone$stacks","label":"Firestone
        Library - Stacks","description":"","enum_display":"","chron_display":"","in_temp_library":false}]'
  recorded_at: Fri, 06 Aug 2021 13:51:53 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/lewis$stacks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6f385cfb2316bb192a6671936961a4d2"
    body:
      encoding: UTF-8
      string: '{"label":"Stacks","code":"lewis$stacks","aeon_location":false,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Lewis
        Library","code":"lewis","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Lewis
        Library","address":"Washington Road and Ivy Lane Princeton, NJ 08544","phone_number":"609-258-6004","contact_email":"lewislib@princeton.edu","gfa_pickup":"PN","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Lewis
        Library","code":"lewis","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:52:01 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/lewis$pn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e6c721e98c0a4bf04bb6aed08979161c"
    body:
      encoding: UTF-8
      string: '{"label":"Remote Storage (ReCAP): Lewis Library Use[...]
[...]
- request:
    method: post
    uri: https://uat-recap.htcinc.com:9093/sharedCollection/bibAvailabilityStatus
    body:
      encoding: UTF-8
      string: '{"bibliographicId":"994264203506421","institutionId":"PUL"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - TESTME
  response:
    status:
      code: 401
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: 'Authentication Failed

        '
  recorded_at: Fri, 06 Aug 2021 13:53:01 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/rare$ctsn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9decd3accbb5ce7303b7efc474df82ba"
    body:
      encoding: UTF-8
      string: '{"label":"Cotsen Children''s Library","code":"rare$ctsn","aeon_location":true,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":true,"circulates":false,"remote_storage":"","library":{"label":"Special
        Collections","code":"rare","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Special
        Collections","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"rbsc@princeton.edu","gfa_pickup":"PG","staff_only":false,"pickup_location":false,"digital_location":true,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:53:01 GMT
[...]
- request:
    method: get
    uri: https://catalog.princeton.edu/catalog/foo/raw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://catalog.princeton.edu/404
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://catalog.princeton.edu/404">redirected</a>.</body></html>
  recorded_at: Fri, 06 Aug 2021 13:54:37 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/foo/holdings//availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <style>
          body {
            background-color: #EFEFEF;
            color: #2E2F30;
            text-align: center;
            font-family: arial, sans-serif;
            margin: 0;
          }

          div.dialog {
            width: 95%;
            max-width: 33em;
            margin: 4em auto 0;
          }

          div.dialog > div {
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #BBB;
            border-top: #B00100 solid 4px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            background-color: white;
            padding: 7px 12% 0;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }

          h1 {
            font-size: 100%;
            color: #730E15;
            line-height: 1.5em;
          }

          div.dialog > p {
            margin: 0 0 1em;
            padding: 1em;
            background-color: #F7F7F7;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #999;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-color: #DADADA;
            color: #666;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }
          </style>
        </head>

        <body>
          <!-- This file lives in public/404.html -->
          <div class="dialog">
            <div>
              <h1>The page you were looking for doesn't exist.</h1>
              <p>You may have mistyped the address or the page may have moved.</p>
            </div>
            <p>If you are the application owner check the logs for more information.</p>
          </div>
        </body>
        </html>
  recorded_at: Fri, 06 Aug 2021 13:54:37 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/arch$stacks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fda0e06ae0a8da9a594e411cf7ef1bf0"
    body:
      encoding: UTF-8
      string: '{"label":"Stacks","code":"arch$stacks","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Architecture
        Library","code":"arch","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Architecture
        Library","address":"School of Architecture Building, Second Floor Princeton,
        NJ 08544","phone_number":"609-258-3256","contact_email":"ues@princeton.edu","gfa_pickup":"PW","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Architecture
        Library","code":"arch","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:54:38 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/rare$ex.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4042b6848f4a01a6dfd7ef43f17b8f4d"
    body:
      encoding: UTF-8
      string: '{"label":"Rare Books","code":"rare$ex","aeon_location":true,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":true,"circulates":false,"remote_storage":"","library":{"label":"Special
        Collections","code":"rare","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Special
        Collections","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"rbsc@princeton.edu","gfa_pickup":"PG","staff_only":false,"pickup_location":false,"digital_location":true,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:54:46 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/recap$pa.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2ef4f060b12ea3cd652481ec2c3fe3fc"
    body:
      encoding: UTF-8
      string: '{"label":"Remote Storage","code":"recap$pa","aeon_l[...]
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/rare$hsvc.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6041a8ba59296ec933edde2c43b7e5b5"
    body:
      encoding: UTF-8
      string: '{"label":"Cotsen Children''s Library","code":"rare$hsvc","aeon_location":true,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":true,"circulates":false,"remote_storage":"","library":{"label":"Special
        Collections","code":"rare","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[]}'
  recorded_at: Fri, 06 Aug 2021 13:54:58 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/eastasian$gest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8b45146851b69136848f3875b62d7f0d"
    body:
      encoding: UTF-8
      string: '{"label":"Western Languages","code":"eastasian$gest","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"East
        Asian Library","code":"eastasian","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[]}'
  recorded_at: Fri, 06 Aug 2021 13:55:13 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/9931805453506421/holdings/22705623210006421/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ecb41b98a8ed1c7c7c4e5ca42b145106"
    body:
      encoding: UTF-8
      string: '[{"barcode":"","id":"23705623200006421","holding_id":"22705623210006421","copy_number":"3","status":"Available","status_label":"Item
        in place","status_source":"base_status","process_type":null,"on_reserve":"Y","item_type":"Gen","pickup_location_id":"eastasian","pickup_location_code":"eastasian","location":"eastasian$reserve","label":"East
        Asian Library - Reserve","description":"","enum_display":"","chron_display":"","in_temp_library":true,"temp_library_code":"eastasian","temp_library_label":"East
        Asian Library - Reserve","temp_location_code":"eastasian$reserve","temp_location_label":"East
        Asian Library - Reserve"}]'
  recorded_at: Fri, 06 Aug 2021 13:55:18 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/eastasian$reserve.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d90d1e57240498fe58a7c0b7fa709d07"
    body:
      encoding: UTF-8
      string: '{"label":"Reserve","code":"eastasian$reserve","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"East
        Asian Library","code":"eastasian","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"East
        Asian Library","address":"Frist Campus Center, Room 317 Princeton, NJ 08544","phone_number":"609-258-3182","contact_email":"gestcirc@princeton.edu","gfa_pickup":"PL","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"East
        Asian Library","code":"eastasian","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:55:18 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/lewis$resterm.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8a4552ea0984c66520e76eeaee7261c2"
    body:
      encoding: UTF-8
      string: '{"label":"Term Loan Reserves","code":"lewis$resterm","aeon_location":false,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Lewis
        Library","code":"lewis","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[]}'
  recorded_at: Fri, 06 Aug 2021 13:55:25 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/9923858683506421/holdings//availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/eastasian$pl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f0491b48efcb90ea26f329ee1ce0813f"
    body:
      encoding: UTF-8
      string: '{"label":"Remote Storage (ReCAP): East Asian Li[...]
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/firestone$nec.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"67371f780e382a00b7f70d741a1f7645"
    body:
      encoding: UTF-8
      string: '{"label":"Near East Collections","code":"firestone$nec","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Firestone
        Library","code":"firestone","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Library","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"fstcirc@princeton.edu","gfa_pickup":"PA","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:55:33 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/engineer$serial.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1f950f7511412a1ae2f1b7156437b3c9"
    body:
      encoding: UTF-8
      string: '{"label":"Serials","code":"engineer$serial","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Engineering
        Library","code":"engineer","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Engineering
        Library","address":"Friend Center for Engineering Education Princeton, NJ
        08544","phone_number":"609-258-3200","contact_email":"englib@princeton.edu","gfa_pickup":"PT","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Engineering
        Library","code":"engineer","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:56:20 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/annex$fst.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4be7c7005565a9804450f4a7a16c156a"
    body:
      encoding: UTF-8
      string: '{"label":"A","code":"annex$fst","aeon_location":fa[...]
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/arch$ref.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bfd2a3843366a386a4e599add0090e34"
    body:
      encoding: UTF-8
      string: '{"label":"Reference","code":"arch$ref","aeon_location":false,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Architecture
        Library","code":"arch","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Architecture
        Library","address":"School of Architecture Building, Second Floor Princeton,
        NJ 08544","phone_number":"609-258-3256","contact_email":"ues@princeton.edu","gfa_pickup":"PW","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Architecture
        Library","code":"arch","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:57:50 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/firestone$pres.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"591bd2ba346bbd0c859c58903b999ada"
    body:
      encoding: UTF-8
      string: '{"label":"Preservation Office: Contact fstcirc@princeton.edu","code":"firestone$pres","aeon_location":false,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Firestone
        Library","code":"firestone","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Library","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"fstcirc@princeton.edu","gfa_pickup":"PA","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:57:56 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/SCSB-5290772/holdings/5278611/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Aug 2021 13:58:09 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/scsbnypl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fe6a1ad0cb69c2bcd1fe96ed5949ed27"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"scsbnypl","aeon_location":false,"recap_electronic_delivery_location":true,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"recap_rmt","library":{"label":"ReCAP","code":"recap","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Circulation Desk","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609
        258-2345","contact_email":"fstcirc@princton.edu","gfa_pickup":"QX","staff_only":false,"pickup_location":false,"digital_location":false,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:58:11 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/marquand$stacks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"05ab05ff934805db2272112e6de2a9b4"
    body:
      encoding: UTF-8
      string: '{"label":"Stacks","code":"marquand$stacks","aeon_location":false,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":true,"circulates":false,"remote_storage":"","library":{"label":"Marquand
        Library","code":"marquand","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Marquand
        Library of Art and Archaeology","address":"McCormick Hall Princeton, NJ 08544","phone_number":"609-258-5863","contact_email":"marquand@princeton.edu","gfa_pickup":"PJ","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Marquand
        Library","code":"marquand","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 13:58:12 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/eastasian$hy.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2791a77c1b6942f2c4df7cb0cdf485a2"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"eastasian$hy","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","fulfillment_unit":"General","library":{"label":"East
        Asian Library","code":"eastasian","order":0},"holding_library":null,"delivery_locations":[]}'
  recorded_at: Thu, 18 May 2023 16:49:14 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/9942430233506421/holdings/22600149340006421/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"18c75b29b90f91d753f48cf4dc174a1c"
    body:
      encoding: UTF-8
      string: '[{"barcode":"32101025384106","id":"23970841610006421","holding_id":"22600149340006421","copy_number":"","status":"Available","status_label":"Item
        in place","status_source":"base_status","process_type":null,"on_reserve":"N","item_type":"Gen","pickup_location_id":"eastasian","pickup_location_code":"eastasian","location":"eastasian$hy","label":"East
        Asian Library","description":"v.1-3","enum_display":"","chron_display":"","in_temp_library":false},{"barcode":"32101025384098","id":"23970841600006421","holding_id":"22600149340006421","copy_number":"","status":"Unavailable","status_label":"Preservation
        and Conservation","status_source":"work_order","process_type":null,"on_reserve":"N","item_type":"Gen","pickup_location_id":"eastasian","pickup_location_code":"eastasian","location":"eastasian$hy","label":"East
        Asian Library","description":"v.4-6","enum_display":"","chron_display":"","in_temp_library":false}]'
  recorded_at: Thu, 18 May 2023 16:49:20 GMT
recorded_with: VCR 6.1.0
