---
http_interactions:
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/9963773693506421/holdings/22239658680006421/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 06 Aug 2021 12:02:32 GMT
[...]
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/mudd$prnc.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2c0f7e2ae12fdbee80bd8a4b1a76c61f"
    body:
      encoding: UTF-8
      string: '{"label":"Princetoniana Collection","code":"mudd$prnc","aeon_location":true,"recap_electronic_delivery_location":false,"open":false,"requestable":true,"always_requestable":true,"circulates":false,"remote_storage":"","library":{"label":"Mudd
        Manuscript Library","code":"mudd","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Mendel
        Music Library","address":"Woolworth Center Princeton, NJ 08544","phone_number":"609-258-3230","contact_email":"muslib@princeton.edu","gfa_pickup":"PK","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Mendel
        Music Library","code":"mendel","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 12:02:39 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/9995768803506421/holdings/22497016220006421/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8c65267d524a0e0f12258df2befddf98"
    body:
      encoding: UTF-8
      string: '[{"barcode":"32101100136371","id":"23497016210006421","holding_id":"22497016220006421","copy_number":"0","status":"Available","status_label":"Item
        in place","status_source":"base_status","process_type":null,"on_reserve":"N","item_type":"Closed","pickup_location_id":"mudd","pickup_location_code":"mudd","location":"mudd$prnc","label":"Mudd
        Manuscript Library - Princetoniana Collection","description":"","enum_display":"","chron_display":"","in_temp_library":false}]'
  recorded_at: Fri, 06 Aug 2021 12:02:44 GMT
[...]
- request:
    method: post
    uri: https://uat-recap.htcinc.com:9093/requestItem/requestItem
    body:
      encoding: UTF-8
      string: '{"author":"","bibId":"9995904203506421","callNumber":"PN1995.9.A76
        P7613 2015","chapterTitle":"test","deliveryLocation":"","emailAddress":"a@b.com","endPage":"1","issue":"1","itemBarcodes":["ItemBarcodeValue"],"itemOwningInstitution":"PUL","patronBarcode":"22101008199999","requestNotes":"","requestType":"EDD","requestingInstitution":"PUL","startPage":"1","titleIdentifier":null,"username":"jstudent","volume":"1"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - TESTME
  response:
    status:
      code: 401
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: 'Authentication Failed

        '
  recorded_at: Fri, 06 Aug 2021 12:02:51 GMT
recorded_with: VCR 6.0.0
