---
http_interactions:
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/eastasian$cjk.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7aab051fee521c825a23f204b3776a00"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"eastasian$cjk","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"East
        Asian Library","code":"eastasian","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[]}'
  recorded_at: Fri, 06 Aug 2021 12:07:04 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/plasma$stacks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bd4a56882a5b009c89de52f24ced4748"
    body:
      encoding: UTF-8
      string: '{"label":"Stacks","code":"plasma$stacks","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","fulfillment_unit":"General","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma","order":0},"holding_library":null,"delivery_locations":[{"label":"Lewis
        Library","address":"Washington Road and Ivy Lane Princeton, NJ 08544","phone_number":"609-258-6004","contact_email":"lewislib@princeton.edu","gfa_pickup":"PN","staff_only":false,"pickup_location":true,"digital_location":true,"library":{"label":"Lewis
        Library","code":"lewis","order":0}}]}'
  recorded_at: Wed, 11 Sep 2024 21:02:55 GMT
recorded_with: VCR 6.3.1
