---
http_interactions:
- request:
    method: get
    uri: https://bibdata-staging.princeton.edu/locations/holding_locations/scsbcul.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"40e4e7cd658da7a6477d190d4383ab42"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"scsbcul","aeon_location":false,"recap_electronic_delivery_location":true,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"recap_rmt","library":{"label":"ReCAP","code":"recap","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Circulation Desk","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609
        258-2345","contact_email":"fstcirc@princton.edu","gfa_pickup":"QX","staff_only":false,"pickup_location":false,"digital_location":false,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Fri, 06 Aug 2021 12:12:39 GMT
- request:
    method: get
    uri: https://bibdata-staging.princeton.edu/bibliographic/SCSB-2635660/holdings/2613391/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Aug 2021 12:12:40 GMT
- request:
    method: get
    uri: https://bibdata-staging.princeton.edu/locations/delivery_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dda4b4b83ac878a8b2017061bbf388d0"
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeton,
        NJ 08544","phone_number":"609-243-3565","contact_email":"ppllib@princeton.edu","gfa_pickup":"PQ","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata-staging.princeton.edu/locations/delivery_locations/1.json","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma","order":0}},{"label":"Technical
        Services 693","address":"693 Alexander Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"catalogn@princeton.edu","gfa_pickup":"QT","staff_only":true,"pickup_location":true,"digital_location":false,"url":"https://bibdata-staging.princeton.edu/locations/delivery_locations/2.json"[...]
