---
http_interactions:
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/locations/holding_locations/scsbnypl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"28aec19f9a2c315804f2e02e6f131f0c"
    body:
      encoding: UTF-8
      string: '{"label":"Remote Storage","code":"scsbnypl","aeon_location":false,"recap_electronic_delivery_location":true,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"recap_rmt","fulfillment_unit":null,"library":{"label":"ReCAP","code":"recap","order":0},"holding_library":null,"delivery_locations":[{"label":"Firestone
        Circulation Desk","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609
        258-2345","contact_email":"fstcirc@princton.edu","gfa_pickup":"QX","staff_only":false,"pickup_location":false,"digital_location":false,"library":{"label":"Firestone
        Library","code":"firestone","order":0}}]}'
  recorded_at: Wed, 24 Aug 2022 17:45:01 GMT
- request:
    method: get
    uri: https://bibdata-staging.lib.princeton.edu/bibliographic/SCSB-7935196/holdings/8076325/availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 24 Aug 2022 17:45:01 GMT
- request:
    method: post
    uri: https://uat-recap.htcinc.com:9093/sharedCollection/bibAvailabilityStatus
    body:
      encoding: UTF-8
      string: '{"bibliographicId":".b106574619","institutionId":"NYPL"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - BAD_KEY
  response:
    status:
      code: 401
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: 'Authentication Failed

        '
  recorded_at: Wed, 24 Aug 2022 17:45:02 GMT
recorded_with: VCR 6.1.0
