---
version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.8
  ruby: circleci/ruby@2.1.4
  node: circleci/node@5.3.0
  browser-tools: circleci/browser-tools@1.4.6
  vale: circleci/vale@1.0.0
executors:
  orangelight-executor:
    docker:
      - image: cimg/ruby:3.1.0-browsers
        environment:
          RAILS_ENV: test
          ORANGELIGHT_HOST: localhost
          ORANGELIGHT_USER: postgres
          SOLR_URL: http://solr:SolrRocks@localhost:8983/solr/orangelight-core-test
          COVERALLS_PARALLEL: true
      - image: cimg/postgres:15.8
        environment:
          POSTGRES_USER: orangelight
          POSTGRES_PASSWORD: orangelight_password
          POSTGRES_DB: orangelight_test
      - image: pulibrary/ci-solr:8.4-v1.0.0
        command: server/scripts/ci-start.sh
      - image: cimg/redis:6.0.16
    resource_class: large
    working_directory: ~/orangelight
  basic-executor:
    docker:
      - image: cimg/ruby:3.1.0-browsers
        environment:
          RAILS_ENV: test
    resource_class: large
    working_directory: ~/orangelight

commands:
  setup-bundler-and-node:
    steps:
      - node/install:
          install-yarn: true
          node-version: '18.19.1'
      - run:
          name: Check current version of node
          command: node -v
      - run:
          name: Install bundler
          command: gem install bundler -v '2.3.26'
      # Restore bundle cache
      - restore_cache:
          keys:
          - orangelight-v2-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
      # Bundle install dependencies
      - run:
          name: Install dependencies
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs 4 --retry 3
      - save_cache:
          key: orangelight-v2-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
          paths:
            - ./vendor/bundle

jobs:
  build:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - checkout
      - setup-bundler-and-node
      - run:
          name: Set Timezone to EST
          command: echo 'America/New_York' = /etc/timezone
      - restore_cache:
          name: Restore cached dependencies
          keys:
            - orangelight-v2-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
      - run:
          name: Yarn Install
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn cache
          key: orangelight-v2-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: '~/orangelight'
          paths:
            - '*'

  test:
    executor: orangelight-executor
    parallelism: 3
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - setup-bundler-and-node
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - run: |
          ruby --version
          node --version
          java --version
          google-chrome --version
          chromedriver --version
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: sudo apt install postgresql-client
      - run:
          name: Database setup
          command: bundle exec rake db:setup
      - run:
          name: Load config into solr
          command: |
            cd solr/conf
            zip -1 -r solr_config.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_config.zip "http://solr:SolrRocks@127.0.0.1:8983/solr/admin/configs?action=UPLOAD&name=orangelight"
            curl -H 'Content-type: application/json' http://solr:SolrRocks@127.0.0.1:8983/api/collections/  -d '{create: {name: orangelight-core-test, config: orangelight, numShards: 1}}'
      - run:
          name: Index Test Data
          command: bundle exec rake pulsearch:solr:index
      - ruby/rspec-test
      # Store capybara screenshots if there are failing system tests
      - store_artifacts:
          path:  ~/orangelight/tmp/capybara/

  js_tests:
      executor: basic-executor
      steps:
        - attach_workspace:
            at: '~/orangelight'
        - run:
            name: Run JS unit tests
            command: bundle exec yarn test
        - store_test_results:
            path: ~/rspec

  lighthouse:
    executor: orangelight-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - setup-bundler-and-node
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: sudo apt install postgresql-client
      - run:
          name: Database setup
          command: bundle exec rake db:setup
      - run:
          name: Load config into solr
          command: |
            cd solr/conf
            zip -1 -r solr_config.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_config.zip "http://solr:SolrRocks@127.0.0.1:8983/solr/admin/configs?action=UPLOAD&name=orangelight"
            curl -H 'Content-type: application/json' http://solr:SolrRocks@127.0.0.1:8983/api/collections/  -d '{create: {name: orangelight-core-test, config: orangelight, numShards: 1}}'
      - run:
          name: Index Test Data
          command: bundle exec rake pulsearch:solr:index
      - browser-tools/install-chrome
      - run: sudo npm install -g @lhci/cli@0.14.x
      - run: lhci autorun

  rubocop:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - setup-bundler-and-node
      - run: bundle exec rubocop
  erblint:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - setup-bundler-and-node
      - run: bundle exec erblint --lint-all

  reek:
    docker:
      - image: cimg/ruby:3.1
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: Check code smells with Reek
          command: bundle exec reek app

  finish:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - run:
          name: workflow Index
          command: echo $CIRCLE_WORKFLOW_ID
      - run:
          name: finish up coverage
          command: curl -k https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN -d "payload[build_num]=$CIRCLE_WORKFLOW_ID&payload[status]=done"

  deploy:
    executor: basic-executor
    steps:
      - run:
          name: Deploy to Staging
          command: "curl -k \"https://ansible-tower.princeton.edu/api/v2/job_templates/57/launch/\" --header \"Content-Type: application/json\" --header \"Authorization: Bearer $TOWER_TOKEN\" -d '{\"credential_passwords\":{},\"extra_vars\":{\"repo_name\":\"orangelight\"}}'"

workflows:
  build_accept:
    jobs:
      - build
      - rubocop:
         requires:
          - build
      - erblint:
         requires:
          - build
      - reek
      - js_tests:
         requires:
          - build
      - lighthouse:
         requires:
          - build
      - test:
         requires:
          - build
      - vale/lint
          config: docs/.vale.ini
      - finish:
         requires:
           - test
      - deploy:
         requires:
           - finish
         filters:
           branches:
             only:
               - main
