---
version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.0
  ruby: circleci/ruby@2.0.0
  node: circleci/node@5.0.2
executors:
  orangelight-executor:
    docker:
      - image: cimg/ruby:3.1.0-browsers
        environment:
          RAILS_ENV: test
          ORANGELIGHT_HOST: localhost
          ORANGELIGHT_USER: postgres
          SOLR_URL: http://solr:SolrRocks@localhost:8983/solr/orangelight-core-test
          COVERALLS_PARALLEL: true
      - image: postgres:13
        environment:
          POSTGRES_USER: orangelight
          POSTGRES_PASSWORD: orangelight_password
          POSTGRES_DB: orangelight_test
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: pulibrary/ci-solr:8.4-v1.0.0
        command: server/scripts/ci-start.sh
    working_directory: ~/orangelight
  basic-executor:
    docker:
      - image: cimg/ruby:3.1.0-browsers
        environment:
          RAILS_ENV: test
    working_directory: ~/orangelight

commands:
  setup-bundler-and-node:
    steps:
      - node/install:
          install-yarn: true
          node-version: '16.14.2'
      - run:
          name: Check current version of node
          command: node -v
      - run: 
          name: Install bundler
          command: gem install bundler -v '2.3.26'
      # Restore bundle cache
      - restore_cache:
          keys:
          - orangelight-v1-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
      # Bundle install dependencies
      - run:
          name: Install dependencies
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs 4 --retry 3
      - save_cache:
          key: orangelight-v1-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
          paths:
            - ./vendor/bundle
      
jobs:
  build:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - checkout
      - setup-bundler-and-node
      - run:
          name: Set Timezone to EST
          command: echo 'America/New_York' = /etc/timezone
      - restore_cache:
          name: Restore cached dependencies
          keys:
            - orangelight-v1{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
      - run:
          name: Yarn Install
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn cache
          key: orangelight-v1-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: '~/orangelight'
          paths: '*'

  test:
    executor: orangelight-executor
    parallelism: 3
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - setup-bundler-and-node
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - run: |
          ruby --version
          node --version
          java --version
          google-chrome --version
          chromedriver --version
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: sudo apt install postgresql-client
      - run:
          name: Database setup
          command: bundle exec rake db:setup
      - run:
          name: Load config into solr
          command: |
            cd solr/conf
            zip -1 -r solr_config.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_config.zip "http://solr:SolrRocks@127.0.0.1:8983/solr/admin/configs?action=UPLOAD&name=orangelight"
            curl -H 'Content-type: application/json' http://solr:SolrRocks@127.0.0.1:8983/api/collections/  -d '{create: {name: orangelight-core-test, config: orangelight, numShards: 1}}'
      - run:
          name: Index Test Data
          command: bundle exec rake pulsearch:solr:index
      - ruby/rspec-test
      - run:
          name: Run JS unit tests
          command: bundle exec yarn test
      - store_test_results:
          path: ~/rspec

  rubocop:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - setup-bundler-and-node
      - run: bundle exec rubocop
  
  finish:
    executor: basic-executor
    steps:
      - attach_workspace:
          at: '~/orangelight'
      - run:
          name: workflow Index
          command: echo $CIRCLE_WORKFLOW_ID
      - run:
          name: finish up coverage
          command: curl -k https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN -d "payload[build_num]=$CIRCLE_WORKFLOW_ID&payload[status]=done"

workflows:
  build_accept:
    jobs:
      - build
      - rubocop:
         requires:
          - build
      - test:
         requires:
          - build
      - finish:
         requires:
           - test

