<%= check_box_tag 'folder_ids[]', document.id, nil, :id => "folders_ids_#{document.id}", "aria-label" => "Add Document #{document.id} to Folder", class: "add-to-folder" %>
<span class="add-to-folder-label">Add to Folder</span>