// reset form styling cross-browser
.form-control,
.form-control:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

form table th:first-child {
  width: 30px;
}

.blacklight-feedback h1 {
  margin-bottom: var(--space-xx-small);
  display: block;
}
.blacklight-feedback small {
  margin-bottom: var(--space-base);
  display: block;
}

// overwrite bootstrap glyphicon for errors in input fields
.form-control-feedback {
  right: 15px;
}

.has-error .error {
  font-weight: bold;
  color: var(--color-brick-red);
}

.blacklight-feedback .mb-3 {
  overflow: auto;
}
