<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>COVID-19 Update:</b> All Princeton University Library services will be moved online and all locations will cease in-person operations until at least Monday, April 6. Please visit our <a href="https://library.princeton.edu/covid-19">information page</a> for Library-specific updates and policies. 
    </p>
  </div>
</div>
