<%# to remove messages altogether, set this to empty string %>
<% message = 'Recap requests cannot be completed until further notice.' %>
<% if Orangelight.read_only_mode %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %> <%= Orangelight.read_only_message %>
      </p>
    </div>
  </div>
<% elsif message.present? %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %>
      </p>
    </div>
  </div>
<% end %>
