<%#
<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>Your Message Here</b>: Uncomment this block to display an announcement. This is some text to explain the situation, including impact and timeline if known. It should not be more than a couple of lines because it'll be at the top of every page.
    </p>
  </div>
</div>
%>
