<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <strong>Catalog Services Unavailable During Scheduled Upgrade: 8/6-8/8</strong>
    </p>
    <p>
      The Library's Catalog is undergoing a scheduled upgrade this week. During this time, no real-time
      availability, requesting (including ReCAP or Borrow Direct), or "Your Account" functionality will be
      available. Catalog searching will function normally, and records will display their call numbers and
      shelf locations from 8/5/18.
    </p>
  </div>
</div>
