<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>COVID-19 Update:</b> All Princeton University Library locations are CLOSED Monday March, 16 and Tuesday, March 17. Please visit our <a href="https://library.princeton.edu/remote-support">information page</a> for Library-specific updates and policies. 
    </p>
  </div>
</div>
