<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>COVID-19 Update:</b> Princeton University Library services are available online. Please visit our <a href="https://library.princeton.edu/covid-19">information page</a> for Library-specific updates and policies. 
    </p>
    <p>While requests for physical material cannot be fulfilled at this time, library staff are working remotely to deliver materials digitally as long as electronic resources are available. Responses to your request will take longer and some requests might not be fulfilled until the library operations return to normal. Please use <a href="https://library.princeton.edu/services/article-express">Article Express</a> service to make your request. If you have any questions, please <a href="https://library.princeton.edu/ask-us">let us know</a>.
  </div>
</div>
