<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>Fall 2020 Update:</b> Many Library services are available online. Please visit our <a href="https://library.princeton.edu/fall-2020">information page</a>.
    </p>
  </div>
</div>
