<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
    <% if Orangelight.read_only_mode %>
      <%= Orangelight.read_only_message %>
    <% else %>
      <h1>Thank you for testing the Catalog Alma QA site!</h1> Please provide feedback via the <a href="https://docs.google.com/forms/d/e/1FAIpQLSdS0FRa8h-7_iCtBeIRGbD2pI7zcqWAmz5hxLFip6dR7If3Nw/viewform">Alma Catalog Testing Feedback Form.</a> Many Library services are available online. Please visit our <a href="https://library.princeton.edu/2020-21-resources">information page</a>.
    <% end %>
    </p>
  </div>
</div>
