<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>Note</b>: The single sign-on service will be undergoing maintenance from 7am-8:30am on Saturday, July 13th.  Access to Your Account, requests, and resources that require authentication will be unavailable during the maintenance period.
    </p>
  </div>
</div>
