<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>Planned Downtime</b>: On Friday, March 15th from 5:30pm to 10pm EDT, many University email and websites will be unavailable for network maintenance. During this time, some features, such as requesting items or sending email, will not work.
    </p>
  </div>
</div>
