<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <strong>Catalog Services Unavailable During Scheduled Upgrade: 8/6-8/10</strong>
    </p>
    <p>
      The Library's Catalog is undergoing a scheduled upgrade this week in order to improve several
      administrative functions. During this time, item availability, item requesting (including ReCAP or
      Borrow Direct), and "Your Account" functionality will be unavailable. Catalog searching will function
      normally, and records will display their call numbers and shelf locations from Sunday, 8/5/18.
    </p>
  </div>
</div>
