<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      Requests for ReCAP materials will be unavailable on Monday, 10/26 from the hours of 5:00 a.m. - 11:00 a.m. during a planned system update.<br/>
      <b>Fall 2020 Update:</b> Many Library services are available online. Please visit our <a href="https://library.princeton.edu/fall-2020">information page</a>.
    </p>
  </div>
</div>
