<<<<<<< HEAD
<%# to remove messages altogether, set this to empty string %>
<% message = '<h2>Thank you for testing the Catalog Alma QA site!</h2> Please provide feedback via the <a href="https://docs.google.com/forms/d/e/1FAIpQLSdS0FRa8h-7_iCtBeIRGbD2pI7zcqWAmz5hxLFip6dR7If3Nw/viewform">Alma Catalog Testing Feedback Form.</a>'.html_safe %>
<% if Orangelight.read_only_mode %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %> <%= Orangelight.read_only_message %>
      </p>
    </div>
  </div>
<% elsif message.present? %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %>
      </p>
    </div>
  </div>
<% end %>
