<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>COVID-19 Update:</b> Many Library services are available online. Please visit our <a href="https://library.princeton.edu/covid-19">information page</a>.
    </p>
  </div>
</div>
