<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
    Many Library services are available online. </a> Please visit our <a href="https://library.princeton.edu/2020-21-resources">information page</a>.
    </p>
  </div>
</div>
