<%# to remove messages altogether, set this to empty string %>
<% message = 'Due to a system upgrade Partner Library Requests will be unavailable from 9 a.m. until 11 a.m. on Wednesday, November 16th.' %>
<% if Orangelight.read_only_mode %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %> <%= Orangelight.read_only_message %>
      </p>
    </div>
  </div>
<% elsif message.present? %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %>
      </p>
    </div>
  </div>
<% end %>
