<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
    Princeton University Library will be closed Dec. 24 through Jan. 3, reopening Jan. 4.</a> Please visit our <a href="https://library.princeton.edu/fall-2020">information page</a>.
    </p>
  </div>
</div>
