<%# to remove messages altogether, set this to empty string %>
<% message = 'New BorrowDirect platform to launch 12/13/2022.' %>
<% if Orangelight.read_only_mode %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= message %>
      <%= Orangelight.read_only_message %>
      </p>
    </div>
  </div>
<% elsif message.present? %>
  <div class="col-12 alert alert-warning announcement">
    <div class="container">
      <p>
      <%= link_to message, "https://library.princeton.edu/news/general/2022-12-02/borrowdirect-new-platform-launch-december-13-2022" %>·
      </p>
    </div>
  </div>
<% end %>
