<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      <b>COVID-19 Update:</b> Princeton University Library services are available online. Please visit our <a href="https://library.princeton.edu/covid-19">information page</a> for Library-specific updates and policies. 
    </p>
  </div>
</div>
