<div class="col-12 alert alert-warning announcement">
  <div class="container">
    <p>
      In preparation for the temporary Lewis-Fine renovation, collections in Lewis Science Library will be relocated and unavailable until January 6.
    </p>
  </div>
</div>
