<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>The Main Catalog and Request System is unavailable through Wednesday 8/17. If you need to request offsite items from ReCAP, the Annex, or another inaccessible location please contact the <a href="/services/privileges/circulation-policies">Firestone Circulation Department</a>.</p>
    <p><strong>This is Beta Software.&ensp;</strong><a title="Feedback on New Catalog" href="/feedback">Please send us a note</a> if you have feedback or think you have found an error.
    </p>
  </div>
</div>
