<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p>The Fine Hall entrance and section of the <a href="https://library.princeton.edu/lewis">Lewis Science Library</a> will be <a href="https://library.princeton.edu/news/lewis/2017-05-23/fine-hall-section-lewis-science-library-temporary-closure">temporarily closed from June 1st to August 31st for renovation</a>. During this time Princeton faculty, students, and staff are encouraged to use <a href="https://library.princeton.edu/services/borrow-direct">Borrow Direct</a> or <a href="https://library.princeton.edu/services/interlibrary-services">Interlibrary Loan</a> to request access to these materials.
    </p>
  </div>
</div>
