<div class="col-xs-12 col-lg-12 alert alert-warning announcement">
  <div class="container">
    <p><strong>This is Beta Software.&ensp;</strong><a title="Feedback on New Catalog" href="/feedback">Please send us a note</a> if you have feedback or think you have found an error.
    </p>
  </div>
</div>
