<div class="col-md-3 ask-a-librarian">
  <h4>Need help?</h4>
  <ul class="menu">
    <li class="help-link">
      <%= link_to "Using Shared Collection Materials", "https://library.princeton.edu/help/shared-collection" %>
    </li>
    <li class="help-link">
      <%= link_to "Ask a librarian", "https://library.princeton.edu/help/ask-a-librarian", class: "icon-chat" %>
      <span class="needs-js" style="display: none;"></span>
      <span class="libraryh3lp" jid="libchatpul-main@chat.libraryh3lp.com" style="display: none;"><a class="button--libraryh3lp button--libraryh3lp__online get-help-link" href="https://library.princeton.edu/help/ask-a-librarian"> Online now</a></span>
      <span class="libraryh3lp" style=""><a class="button--libraryh3lp button--libraryh3lp__offline get-help-link" href="https://library.princeton.edu/help/ask-a-librarian"> Offline now</a></span>
    </li>
</div>

<script type="text/javascript">
  (function() {
    var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
    x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "libraryh3lp.com/js/libraryh3lp.js?multi,poll";
    var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
  })();
</script>
