<header role="banner">
  <div class="l-branding__pul">
    <div class="container">
      <a href="http://library.princeton.edu" title="Princeton University Library" rel="home" class="logo__pul">
        <%= image_tag("library_full_logo.svg", class: "logo-svg") %>
        <%= image_tag("library_full_logo.png", class: "logo-no-svg") %>
      </a>
    </div>
  </div>

  <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="search">
    <div class="container">
      <%= render :partial=>'/user_util_links' %>
      <%= render_search_bar %>
    </div>
  </div>
</header>