<div class="col-sm-12 start-over-row">
  <div class="button--start-over">
    <%=link_to t('blacklight.search.start_over'), root_path, :class => "catalog_startOverLink btn btn-primary icon-refresh", :id=>"startOverLink" %>
  </div>
</div>