<div class="col-sm-12 start-over-row">
  <div class="button--start-over">
    <a class="catalog_startOverLink btn btn-primary icon-refresh" id="startOverLink" href="/">Start Over</a>
  </div>
</div>
<div class="col-md-12">
  <h1 class="page-heading">Search Tips</h1>
  <div class="search-tips">
    <ul class="list--search-tips">
      <li>
        <dl>
          <dt class="tip-heading">Keyword Searching</dt>
          <dd>Combine keywords and attributes to find specific items.
            <dl class="example">
              <dt>Examples:</dt>
              <dd>
                <ul>
                  <li>morrison beloved</li>
                  <li>Egypt foreign relations</li>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="tip-heading">Phrase Searching</dt>
          <dd>Use quotation marks to search as a phrase.
            <dl class="example">
              <dt>Examples:</dt>
              <dd>
                <ul>
                  <li>"free market"</li>
                  <li>"mourning becomes electra"</li>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="tip-heading">Requiring Words and Phrases</dt>
          <dd>Use "+" before a term to make it required. (Otherwise results matching only some of your terms may be included).
            <dl class="example">
              <dt>Example:</dt>
              <dd>
                <ul>
                  <li>+cuba +politics</li>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="tip-heading">Excluding Words or Phrases</dt>
          <dd>Use "-" before a word or phrase to exclude it.
            <dl class="example">
              <dt>Example:</dt>
              <dd>
                <ul>
                  <li>jaguar -car -automobiles</li>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="tip-heading">Joining Queries</dt>
          <dd>Use "OR", "AND", and "NOT" to create complex boolean logic. You can use parentheses in your complex expressions. Use the
            <%= link_to('Advanced Search', '/advanced') %>
            to join across mulitple fields.
            <dl class="example">
              <dt>Example:</dt>
              <dd>
                <ul>
                  <li>paul AND auster</li>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="tip-heading">Truncation and Wildcards</dt>
          <dd>English terms are automatically stemmed to include plural and singular forms, as well as common suffix and tense variations. An asterisk may also be used to truncate any term from either the beginning or end of the word.
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
