<div class="col-md-12">
  <h1 class="page-heading"><%= I18n.t('blacklight.account.header_links.login') %></h1>
  <p>Review your library account.</p>

  <h2 class="section-heading">Personal Information</h2>
  <p>
    <span class="netid">NetID</span>
    <address>
    <span class="name">Jane Smith</span>
    <span class="street">123 Street Rd.</span>
    <span class="city">Princeton</span>, <span class="state">NJ</span> <span class="zipcode">08504</span>
    </address>
  </p>

  <h2 class="section-heading">Patron Blocks</h2>
  <p>No patron blocks.</p>

  <h2 class="section-heading">Charged Items</h2>
  <div class="placeholder-container is-disabled">
  <div class="ribbon"><span>Placeholder</span></div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Item Type</th>
          <th>Status</th>
          <th>Renew?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Caravan : the assembled tales of John Galsworthy. Galsworthy, John, 1867-1933.</td>
          <td>Book</td>
          <td>Charged: Due 06-15-2016</td>
          <td><label><input type="checkbox"> Renew</label></td>
        </tr>
        <tr>
          <td>Care and feeding of animals, illustrated by Hoot von Zitzewitz. Small, Mary Cox.</td>
          <td>Book</td>
          <td>Charged: Due 06-15-2016</td>
          <td><label><input type="checkbox"> Renew</label></td>
        </tr>
      </tbody>
    </table>
  </div>

  <form class="renew-items">
    <div class="form-group">
      <select class="form-control">
        <option>Renew selected items</option>
        <option>Renew all items from Princeton University Library</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Renew items</button>
  </form>
  </div>

  <h2 class="section-heading">Request Information</h2>
  <div class="placeholder-container is-disabled">
  <div class="ribbon"><span>Placeholder</span></div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Status</th>
          <th>Pickup Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dinosaurs / Kate Petty ; illustrated by Richard Orr, Stephen Bennett.</td>
          <td>Pending</td>
          <td>Firestone Circulation Desk</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="section-heading">Fines and Fees</h2>
  <p>You have no fines or fees.</p>
</div>
