<div class="container release-notes">
    <h1 class="page-heading">Release Notes</h1>
    <p>Information about each release and plans for future development of Princeton University Library's new catalog.</p>
    <dl>
        <dt><h2>August 31, 2015</h2></dt>
        <dd><ul>
            <li>Initial release</li>
        </ul></dd>
    </dl>
</div>