<%= render 'shared/start_over_row' %>

<div class="container release-notes col-md-12">
  <h1 class="page-heading">PUL Open Dataset</h1>
  <p>Princeton University Library (PUL) is committed to sharing its catalog metadata in order to further research and facilitate discovery. This dataset is not a complete representation of PUL’s resources. Some records are excluded because they were supplied by vendors as part of the acquisitions process, or they belong to our ReCAP partner libraries (New York Public Library and Columbia University).</p>

  <h2>Bibliographic Dataset</h2>
  <p>This dataset includes a variety of materials held by PUL (books, journals, special collections, and more) represented by records in <a href="https://www.loc.gov/marc/umb/">MARC format</a>. These records were created over time, and in accordance with different cataloging standards, so variations in the records are present.
  <a href="https://bibdata.princeton.edu/events">Access the PUL Open Dataset here.</a></p>

  <h2>Terms of Use</h2>
  <p>PUL makes this information freely available under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Public Domain Designation</a>. When possible, attribution should be given to Princeton University Library as a source of this data, but not necessarily the creator. In the spirit of information sharing, PUL encourages you to make any information derived from this dataset freely available.</p>

  <p>If you have questions about the contents of the dataset, please contact us via <a href="https://catalog.princeton.edu/feedback">our feedback form</a>.</p>
</div>
