

<div class="col-md-12">
  <h1 class="page-heading">Request mockups</h1>

  <div class="placeholder-container is-disabled">
  <div class="ribbon"><span>Placeholder</span></div>
  <!-- Request item / checked-out item -->
  <h2 class="section-heading">Request item / checked-out item</h2>

  <h3 class="item-title"> The dialectic of sex : the case for feminist revolution / Shulamith Firestone.</h3>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <span class="control-label col-sm-3">Call Number</span>
      <span class="form-control-static col-sm-9">HQ1426 .F68 2003</span>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Deliver to</label>
      <div class="col-sm-9">
        <select class="form-control">
          <option>Engineering Libary</option>
          <option>Firestone Library</option>
          <option>Lewis Science Library</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-3">Earliest delivery</div>
      <div class="form-control-static col-sm-9"><strong>No estimate available</strong></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3 required">Not needed after</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" type="text" required />
          <span class="input-group-addon" style="width:39px"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="send-request col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-md btn-primary">Send request</button>
      </div>
    </div>
  </form>

  <!-- Request on-site access -->
  <h2 class="section-heading">Request on-site access</h2>

  <h3 class="item-title">Cats / by Ylla ; design by Bob Cato.</h3>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <span class="control-label col-sm-3">Call Number</span>
      <span class="form-control-static col-sm-9">90491</span>
    </div>

    <div class="form-group">
      <span class="control-label col-sm-3">Must be used in</span>
      <span class="form-control-static col-sm-9">Reading Room</span>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-3">Earliest reservation</div>
      <div class="form-control-static col-sm-9">Tuesday, Dec 1 2015, after 11:00am</div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3 required">Planned date of use</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input class="form-control" type="text" required />
          <span class="input-group-addon" style="width:39px"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Comment</label>
      <div class="col-sm-9"><textarea class="form-control" rows="5"></textarea></div>
    </div>

    <div class="form-group">
      <div class="send-request col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-md btn-primary">Send request</button>
      </div>
    </div>
  </form>

  <!-- Request delivery to campus library multiple items -->
  <h2 class="section-heading">Request delivery to campus library</h2>

  <h3 class="item-title">Nature.</h3>
  <form class="form-horizontal" role="form">
    <div class="item-list">
      <div class="form-group">
        <label class="control-label col-sm-3">Search within list</label>
        <div class="col-sm-9">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="item-selector col-sm-9 col-sm-offset-3">
        <table class="table table-striped">
          <thead>
            <th>Call number</th>
            <th class="pull-right">Status</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="checkbox">
                Q1 .N3 v.210-211 Indices Apr.-Sept. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="checkbox">
                Q1 .N3   v.212 no.5057-5061 Oct. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="checkbox">
                Q1 .N3   v.212 no.5062-5065 Nov. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
            <tr class="text-muted">
              <td>
                <label class="list-call-number">
                <input type="checkbox" disabled>
                Q1 .N3   v. 212 Dec. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Not Available</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="checkbox">
                Q1 .N3   v.213,no. 5071-5074 Jan.7-Jan.28, 1967</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <span class="control-label col-sm-3">Items selected</span>
      <div class="col-sm-9 form-control-static">Select one or more items from the list above</div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Deliver to</label>
      <div class="col-sm-9">
        <select class="form-control">
          <option>Engineering Libary</option>
          <option>Firestone Library</option>
          <option>Lewis Science Library</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-3">Earliest delivery</div>
      <div class="form-control-static col-sm-9">Tuesday, Dec 1 2015, after 11:00am</div>
    </div>

    <div class="form-group">
      <div class="send-request col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-md btn-primary">Send request</button>
      </div>
    </div>
  </form>

  <!-- Request electronic document delivery multiple items -->
  <h2 class="section-heading">Request electronic document delivery</h2>

  <h3 class="item-title">Nature.</h3>
  <form class="form-horizontal" role="form">
    <div class="item-list">
      <div class="form-group">
        <label class="control-label col-sm-3">Search within list</label>
        <div class="col-sm-9">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="item-selector col-sm-9 col-sm-offset-3" role="group">
        <table class="table table-striped">
          <thead>
            <th>Call number</th>
            <th class="pull-right">Status</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="radio" name="requestItem">
                Q1 .N3 v.210-211 Indices Apr.-Sept. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="radio" name="requestItem">
                Q1 .N3   v.212 no.5057-5061 Oct. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="radio" name="requestItem">
                Q1 .N3   v.212 no.5062-5065 Nov. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
            <tr class="text-muted">
              <td>
                <label class="list-call-number">
                <input type="radio" name="requestItem" disabled>
                Q1 .N3   v. 212 Dec. 1966</label>
              </td>
              <td>
                <span class="list-status pull-right">Not Available</span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="list-call-number">
                <input type="radio" name="requestItem">
                Q1 .N3   v.213,no. 5071-5074 Jan.7-Jan.28, 1967</label>
              </td>
              <td>
                <span class="list-status pull-right">Available</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <span class="control-label col-sm-3">Items selected</span>
      <div class="col-sm-9 form-control-static">Select one item from the list above</div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Page range</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Title of Article or Chapter</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Author(s)</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Note</label>
      <div class="col-sm-9"><textarea class="form-control" rows="5"></textarea></div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-3">Earliest delivery</div>
      <div class="form-control-static col-sm-9">Tuesday, Dec 1 2015, after 11:00am</div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <div class="alert alert-warning">Only journal articles or book chapters qualify for electronic document delivery. Entire books will not be sent electronically.</div>
      </div>
    </div>

    <div class="form-group">
      <div class="send-request col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-md btn-primary">Send request</button>
      </div>
    </div>
  </form>
</div>
</div>
