<!DOCTYPE html>
<html>
<head>
  <title>Requests</title>
  <%= stylesheet_link_tag    "requests/application", media: "all" %>
  <%= javascript_include_tag "requests/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
