defaults: &defaults
  bookmarks:
    maximum: 1000
  events:
    server: 'amqp://localhost:5672'
    exchange: 'orangelight_events'
  feedback_form:
    to: <%= ENV['OL_FEEDBACK_TO'] %>
    cc: <%= ENV['OL_FEEDBACK_CC'] %>

development:
  <<: *defaults

test:
  <<: *defaults
  bookmarks:
    maximum: 50
  feedback_form:
    to: 'test@princeton.edu'
    cc: 'test2w@princeton.edu, test3@princeton.edu'

production:
  <<: *defaults
  events:
    server: <%= ENV['OL_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange: 'orangelight_events'

staging:
  <<: *defaults
  events:
    server: <%= ENV['OL_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange: 'orangelight_events'

alma_qa:
  <<: *defaults
  events:
    server: <%= ENV['OL_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange: 'orangelight_events'
qa:
  <<: *defaults
  events:
    server: <%= ENV['OL_RABBIT_SERVER'] || 'amqp://localhost:5672' %>
    exchange: 'orangelight_events'
