# requests.yml

defaults: &defaults
  bibdata_base: <%= ENV['BIBDATA_BASE'] || "https://bibdata.princeton.edu" %>
  proxy_base: https://library.princeton.edu/resolve/lookup?url=
  voyager_api_base: https://webvoyage.princeton.edu:7014
  pulsearch_base: https://catalog.princeton.edu
  aeon_base: https://lib-aeon.princeton.edu/aeon/aeon.dll
  gfa_base: http://libweb5.princeton.edu/ReCAPNoUI/Default.aspx
  ill_base: https://lib-illiad.princeton.edu/illiad/illiad.dll/OpenURL
  scsb_base: https://scsb.recaplib.org:9093
  clancy_base: <%= ENV['CLANCY_BASE_URL'] || "https://example.caiasoft.com/api" %>
  clancy_api_key: <%= ENV['CLANCY_API_KEY'] || "abc123" %>
  illiad_api_key: <%= ENV['ILLIAD_API_KEY'] %>
  illiad_api_base: <%= ENV['ILLIAD_API_BASE_URL'] %>
  recap_partner_locations:
    scsbcul: "CUL"
    scsbnypl: "NYPL"
    scsbhl: "HL"
development:
  <<: *defaults
  voyager_ub_id: 1@DB
  bibdata_base: <%= ENV['BIBDATA_BASE'] || "https://bibdata.princeton.edu" %>
test:
  <<: *defaults
  voyager_ub_id: 1@DB
  bibdata_base: <%= ENV['BIBDATA_BASE'] || "https://bibdata-staging.princeton.edu" %>
  illiad_api_key: 'TESTME'
  illiad_api_base: <%= ENV['ILLIAD_API_BASE_URL'] || "https://lib-illiad.princeton.edu" %>
production:
  <<: *defaults
staging:
  <<: *defaults
  pulsearch_base: https://catalog-staging.princeton.edu
  bibdata_base: <%= ENV['BIBDATA_BASE'] || "https://bibdata-staging.princeton.edu" %>
alma_qa:
  <<: *defaults
  bibdata_base: <%= ENV['BIBDATA_BASE'] || "https://bibdata-qa.princeton.edu" %>
  # scsb_base: https://uat-recap.htcinc.com:9093
  scsb_base: https://scsb.recaplib.org:9093
  pulsearch_base: https://catalog-qa.princeton.edu
qa:
  <<: *defaults