# requests.yml

defaults: &defaults
  umlaut_base: https://getit-dev.princeton.edu
  bibdata_base: https://bibdata.princeton.edu
  proxy_base: https://library.princeton.edu/resolve/lookup?url=
  stackmap_base: https://bibdata.princeton.edu/locations/map
  voyager_api_base: https://catalog.princeton.edu:7014
  pulsearch_base: https://pulsearch-dev.princeton.edu
  aeon_base: https://lib-aeon.princeton.edu/aeon/aeon.dll
  #gfa_base: http://libweb5.princeton.edu/RecapRequestService/Default.aspx
  gfa_base: http://libweb5.princeton.edu/ReCAPNoUI/Default.aspx
  ill_base: https://lib-illiad.princeton.edu/illiad/illiad.dll/OpenURL
  scsb_base: https://uat-recap.htcinc.com:9093
development:
  <<: *defaults
  #voyager_ub_id: 1@DB
  #umlaut_base: http://localhost:4000
  bibdata_base: http://localhost:7000
test:
  <<: *defaults

production:
  <<: *defaults
