# requests.yml

defaults: &defaults
  umlaut_base: https://getit.princeton.edu
  bibdata_base: https://bibdata.princeton.edu
  proxy_base: https://library.princeton.edu/resolve/lookup?url=
  stackmap_base: https://bibdata.princeton.edu/locations/map
  voyager_api_base: https://catalog.princeton.edu:7014
  pulsearch_base: https://pulsearch-recap.princeton.edu
  aeon_base: https://lib-aeon.princeton.edu/aeon/aeon.dll
  gfa_base: http://libweb5.princeton.edu/ReCAPNoUI/Default.aspx
  ill_base: https://lib-illiad.princeton.edu/illiad/illiad.dll/OpenURL
  scsb_base: https://scsb.recaplib.org:9093
  # scsb_base: https://scsb.recaplib.org:9093
development:
  <<: *defaults
  pulsearch_base: https://pulsearch-recap.princeton.edu
  bibdata_base: http://localhost:7000
  voyager_ub_id: 1@DB
test:
  <<: *defaults
  voyager_ub_id: 1@DB
production:
  <<: *defaults
