# requests.yml

defaults: &defaults
  umlaut_base: https://getit-dev.princeton.edu
  bibdata_base: https://bibdata.princeton.edu/bibliographic
  proxy_base: https://library.princeton.edu/resolve/lookup?url=

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
