# requests.yml

defaults: &defaults
  umlaut_base: https://getit.princeton.edu
  bibdata_base: https://bibdata.princeton.edu
  proxy_base: http://library.princeton.edu/resolve/lookup?url=
  stackmap_base: https://library.princeton.edu/utils/map
  voyager_api_base: http://catalog.princeton.edu:7014
  voyager_ub_id: 1@DB1
  pulsearch_base: https://pulsearch.princeton.edu
  
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
