<div class="col-md-12">
  <div class="dialog">
    <h1>We're sorry, but there was a problem processing the page you requested.</h1>
    <p>For help, please email <a href="mailto:catalog-feedback@princeton.libanswers.com">catalog-feedback@princeton.libanswers.com</a> or <a href="/">start over</a> with a new search. </p>
  </div>
</div>
