<div class="btn-group">
  <button class="btn btn-default checkbox bookmark_all" tabindex='0'>
    <label for="bookmark_all_input">
      <input type="checkbox" id="bookmark_all_input">
      <span>Bookmark all</span>
    </label>
  </button>
</div>
