<% if query_has_constraints? %>
  
    <div id="appliedParams" class="clearfix constraints-container col-12">
      <div class="button--start-over">
        <%= render_start_over_link(start_over_path) %>
      </div>
      <div class="button--edit-search">
        <%=link_to t('blacklight.search.edit_search'), blacklight_advanced_search_engine.advanced_search_path(params.permit!.except(:controller, :action).to_h), :class => "catalog_editSearchLink btn btn-default", :id=>"editSearchLink" %>
      </div>
      <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>
      <%= render_constraints(params) %>
    </div>
  
<% end %>
