<% # main container for facets/limits menu -%>
<h2 class='facets-heading'>
  <%= t('blacklight.search.facets.title') %>
</h2>

<%= render Blacklight::Response::FacetGroupComponent.new(
             response: @response,
             fields: blacklight_config.facet_fields.values) %>
