<div class="welcome-message">
    <h2>Princeton University Library Catalog</h2>
    <p>Welcome to the New Catalog. <%= link_to 'Learn more about the project', page_path('about') %>.</p>
    <p><a class="intro_tour" href="javascript:void(0);" onclick="startIntro();">Take a tour of the new catalog interface!</a></p>
</div>
<hr>
<div class="other-resources">
    <h3>Other Library Resources</h3>
    <ul>
        <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles &amp; Full Text</a></li>
        <li><a href="http://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
        <li><a href="http://getit.princeton.edu/" target="_blank">E-Journal Titles</a></li>
        <li><a href="http://catalog.princeton.edu/" target="_blank"><%= t('blacklight.voyager') %></a></li>
        <li><a href="http://pudl.princeton.edu/" target="_blank">Digital Collections</a></li>
        <li><a href="http://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
    </ul>
</div>
