<div class="welcome-message">
  <h2>Princeton University Library Catalog</h2>
</div>
<hr>
<div class="other-resources">
  <h3>Other Library Resources</h3>
  <ul>
      <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles+</a></li>
      <li><a href="https://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
      <li><a href="<%= ejournals_path %>" target="_blank">E-journal titles</a></li>
      <li><a href="https://dpul.princeton.edu/" target="_blank">Digital collections</a></li>
      <li><a href="https://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
  </ul>
</div>

<div class="numismatics-search">
  <div class="numismatics-icon">
    <span class="icon-coin" aria-hidden="true"></span>
  </div>
  <div class="numismatics-text">
    <%= link_to "/numismatics" do %>
      <h3>Numismatics Search</h3>
    <% end %>
    <p>An updated search page for the Numismatic Collection to allow access by a variety of criteria to descriptions and images of Princeton University's comprehensive collection of coins, paper money, tokens, medals and decorations.</p>
  </div>
</div>

<div class="language-statement">
  <div class="language-statement-icon">
    <span class="icon-language-statement" aria-hidden="true"></span>
  </div>
  <div class="language-statement-text">
    <%= link_to "https://library.princeton.edu/about/languagestatement", 'aria-label': "Read more about Statement on language in description" do %>
      <h3>Statement on language in description</h3>
    <% end %>
    <p>Princeton University Library aims to describe library materials in a manner that is respectful to the individuals and communities who create, use, and are represented in the collections we manage. <a href="https://library.princeton.edu/about/languagestatement" aria-label="Read more about Statement on language in description" class='underlined-link'>Read more...</a></p>
  </div>
</div>

<div class="open-dataset">
  <div class="open-dataset-icon">
    <span class="icon-open-dataset" aria-hidden="true"></span>
  </div>
  <div class="open-dataset-text">
    <%= link_to "/dataset", 'aria-label': 'Read more about PUL Open Dataset' do %>
      <h3>PUL Open Dataset</h3>
    <% end %>
    <p>Princeton University Library (PUL) is committed to sharing its catalog metadata in order to further research and facilitate discovery.  This dataset includes a variety of materials held by PUL (books, journals, special collections, and more) represented by records in MARC format, freely available under the CC0 1.0 Public Domain Designation. <a href="/dataset" aria-label="Read more about PUL Open Dataset" class='underlined-link'>Read more...</a></p>
  </div>
</div>
