<div class="welcome-message">
    <h2>Princeton University Library Catalog</h2>
</div>
<hr>
<div class="other-resources">
    <h3>Other Library Resources</h3>
    <ul>
        <li><a href="https://catalog.princeton.edu/?f%5Baccess_facet%5D%5B%5D=Online" target="_blank">Online Content</a></li>
        <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles+</a></li>
        <li><a href="https://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
        <li><a href="https://getit.princeton.edu/" target="_blank">E-journal titles</a></li>
        <li><a href="https://dpul.princeton.edu/" target="_blank">Digital collections</a></li>
        <li><a href="https://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
    </ul>
</div>
