<div class="welcome-message">
  <h2>Princeton University Library Catalog</h2>
</div>
<hr>
<div class="other-resources">
  <h3>Other Library Resources</h3>
  <ul>
      <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles+</a></li>
      <li><a href="https://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
      <li><a href="https://getit.princeton.edu/" target="_blank">E-journal titles</a></li>
      <li><a href="https://dpul.princeton.edu/" target="_blank">Digital collections</a></li>
      <li><a href="https://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
  </ul>
</div>

<%# start: Temporary message for Columbia ETAS.%>
<div class="covid19-temporary-access">
  <div class="covid19-icon">
    <span class="icon-announce" aria-hidden="true"></span>
  </div>
  <div class="covid19-text">
    <%= link_to "https://library.princeton.edu/news/general/2021-08-02/pul-launch-new-library-system-summer-2021-hathitrust-etas-update" do %>
      <h3>System Upgrades This Summer</h3>
    <% end %>
    <p>Our system upgrade is nearly complete and most materials can now be requested again. Requesting items from ReCAP will remain unavailable until August 8. Please see <%= link_to "our announcement", "https://library.princeton.edu/news/general/2021-08-02/pul-launch-new-library-system-summer-2021-hathitrust-etas-update" %> for more information.</p>
  </div>
</div>
<div class="numismatics-search">
  <div class="numismatics-icon">
    <span class="icon-coin" aria-hidden="true"></span>
  </div>
  <div class="numismatics-text">
    <%= link_to "/numismatics" do %>
      <h3>Numismatics Search</h3>
    <% end %>
    <p>
    An updated search page for the Numismatic Collection to allow access by a variety of criteria to descriptions and images of Princeton University's comprehensive collection of coins, paper money, tokens, medals and decorations.
    </p>
  </div>
</div>
