<div class="welcome-message">
  <h2>Princeton University Library Catalog</h2>
</div>
<hr>
<div class="other-resources">
  <h3>Other Library Resources</h3>
  <ul>
      <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles+</a></li>
      <li><a href="https://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
      <li><a href="https://getit.princeton.edu/" target="_blank">E-journal titles</a></li>
      <li><a href="https://dpul.princeton.edu/" target="_blank">Digital collections</a></li>
      <li><a href="https://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
  </ul>
</div>
<%# start: Temporary message for the HathiTrust access.%>
<div class="hathitrust-temporary-access">
  <div class="hathi-homepage-image">
    <%= link_to "https://library.princeton.edu/news/general/2020-04-03/over-5-million-books-puls-print-collection-now-available-online-through-new" do %>
      <%= image_tag("hathitrust-logo-elephant-fullbleed.svg",  size: "100x100") %>
    <% end %>
  </div>
  <div class="hathi-text">
    <%= link_to "https://library.princeton.edu/news/general/2020-04-03/over-5-million-books-puls-print-collection-now-available-online-through-new" do %>
      <h3>Expanded Online Access: Hathi Trust</h3>
    <% end %>
    <p>
    Many print items are now available online from Hathi Trust.
    Look for the "Temporary Digital Access from Hathi Trust" link in the "Available Online" section.
    </p>
  </div>
</div>
<%# end: Temporary message for the HathiTrust access.%>
<%# start: Temporary message for covid.%>
<div class="covid19-temporary-access">
  <div class="covid19-icon">
    <span class="icon-announce" aria-hidden="true"></span>
  </div>
  <div class="covid19-text">
    <%= link_to "https://library.princeton.edu/news/general/2020-04-16/featured-e-resource-library-materials-delivered-digitally-through-help-me" do %>
      <h3>New Service: Help Me Get It</h3>
    <% end %>
    <p>
    Though the Library cannot fulfill requests by physical lending at this time, Library staff will attempt to locate an item online and provide digital access if at all possible. Look for the "Request" link in the "Copies in Library" section.
    </p>
  </div>
</div>
<%# end: Temporary message for covid.%>
