<div class="welcome-message">
    <h2>Welcome to the beta Princeton University Library catalog.</h2>
    <p>This catalog is being developed to eventually replace our aging <%= t('blacklight.voyager') %> and incorporate the best features of new types of Discovery technology. Please note that the <%= t('blacklight.voyager') %> and the Books+ systems will continue to be available throughout our beta development phase.</p>

    <p>This site is in active development. For more details about these changes, please see our <%= link_to 'release notes', page_path('notes') %>.</p>

    <p>We need your feedback! Please <a href="http://library.princeton.edu/help/contact-us" target="_blank">send us any questions or comments</a>.</p>
    <p>This catalog is based on <a href="http://projectblacklight.org/" target="_blank">Blacklight technology</a>, which is being developed by University libraries around the world.</p>
</div>
<div class="other-resources">
    <h3>Other resources</h3>
    <ul>
        <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles &amp; Full Text</a></li>
        <li><a href="http://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
        <li><a href="http://getit.princeton.edu/" target="_blank">E-Journal Titles</a></li>
        <li><a href="http://catalog.princeton.edu/" target="_blank"><%= t('blacklight.voyager') %></a></li>
        <li><a href="http://pudl.princeton.edu/" target="_blank">Digital Collections</a></li>
        <li><a href="http://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
    </ul>
</div>
