<div class="welcome-message">
    <h2>Welcome to the new Princeton University Library catalog.</h2>
    <p>This catalog is being developed to replace the aging Classic Catalog. This site is in active development.</p>

    <p>We need your feedback! Please send us any questions or comments.</p>
</div>
<div class="other-resources">
    <h3>Other resources</h3>
    <ul>
        <li><a href="http://princeton.summon.serialssolutions.com/">Articles &amp; Full Text</a></li>
        <li><a href="http://library.princeton.edu/research/databasesm">Databases</a></li>
        <li><a href="">E-Journal Titles</a></li>
        <li><a href="">Classic Catalog</a></li>
        <li><a href="">Digital Collections</a></li>
    </ul>
</div>
<% #Creates a bit space in the page -%>
