<div class="welcome-message">
    <h2>Princeton University Library Catalog</h2>
    Main Catalog. Main Catalog
    <p>This catalog is currently under development and will ultimately replace our twenty-year-old <%= t('blacklight.voyager') %>. Please note that the <%= t('blacklight.voyager') %> will still remain available for a long time, and that the Books+ system will be available throughout our development phase. <%= link_to 'Learn more about the project', page_path('about') %>.</p>
</div>
<div>
    <h3>Other Library Resources</h3>
    <ul>
        <li><a href="http://princeton.summon.serialssolutions.com/advanced" target="_blank">Articles &amp; Full Text</a></li>
        <li><a href="http://library.princeton.edu/research/databases" target="_blank">Databases</a></li>
        <li><a href="http://getit.princeton.edu/" target="_blank">E-Journal Titles</a></li>
        <li><a href="http://catalog.princeton.edu/" target="_blank"><%= t('blacklight.voyager') %></a></li>
        <li><a href="http://pudl.princeton.edu/" target="_blank">Digital Collections</a></li>
        <li><a href="http://findingaids.princeton.edu" target="_blank">Finding Aids</a></li>
    </ul>
</div>
