<div class="row">

<div class="record-wrapper">
      <% # header bar for doc items in index view -%>
      <div class="documentHeader">

        <%# main title container for doc partial view
            How many bootstrap columns need to be reserved
            for bookmarks control depends on size.
        -%>

        <% counter = document_counter_with_offset(document_counter) %>
        <h3 class="index_title">
          <span class="document-counter">
            <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
          </span>
        <% if titlealt = document['title_vern_display'] %>
          <% altdir = titlealt.dir %>
            <% if altdir == "rtl" %>
              <%= truncated_link document, titlealt, :counter => counter, :dir => altdir, :style => "float: right;" %>
            <% else %>
              <%= truncated_link document, titlealt, :counter => counter, :dir => altdir %>
            <% end %>
            </h3>
            <h3 class="index_title">
        <% end %>
        <%= truncated_link document, :title_display, :counter => counter %>
        </h3>
      </div>
