<div role="alert" id="results-banner">
<span class="icon icon-announce" aria-hidden="true"></span>
<h3>Do these search results seem biased?</h3>
We are working to address bias in the library's search results. If these results
appear biased, please let us know!
</div>
