<div id="results-banner">
    <span class="icon icon-announce" aria-hidden="true" id="results-banner-icon"></span>
    <div id="results-banner-text">
        <h3>Do these search results seem biased?</h3>
        We are working to address bias in the library's search results. If these results
        appear biased,
        <%= link_to(
          'please let us know',
          {
            controller: "feedback",
            action: "report_biased_results",
            report_biased_results_form: {
              context: request.original_url
            }
          },
          title: "Report Biased Results",
          class: "report-biased-results",
          data: { blacklight_modal: 'trigger' }
        ) %>!
    </div>
</div>
