<div class="document-thumbnail <%= render_document_class %>">
  <div class="default"></div>
</div>

<div class="availability panel panel-default">
    <h2 class="availability--heading panel-heading">Availability</h2>
    <ul class="panel-body">
        <li class="holding-info">
            <div id="full_text"></div>
            <h3 class="holding-info holding-info--heading">Copies in Library</h3>
            <div id="holding"></div>
        </li>
    </ul>
</div>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>