<% online, physical = holding_request_block(document) %>
<% unless holding_requests_adapter.restrictions.empty? %>
  <div class="restrictions--panel alert alert-warning">
    <span class="icon-warning" aria-hidden="true"></span> <%= PhysicalHoldingsMarkupBuilder.restrictions_markup(holding_requests_adapter.restrictions) %>
  </div>
<% end %>
