<nav class="navbar navbar-expand-lg harmful-content-feedback" aria-label="feedback">
  <%= link_to(
    'Ask a Question',
    {
      controller: "feedback",
      action: "ask_a_question",
      ask_a_question_form: { 
        id: @document,
        title: @document['title_display']
       }
    },
    title: "Ask a Question",
    class: "ask-a-question",
    'data-blacklight-modal' => 'trigger',
    ) %>
  <a class="navbar-brand" href="#">Suggest A Correction</a>
  <a class="navbar-brand" href="#">Report Harmful Language</a>
</nav>
