<% unless @document['electronic_access_1display'].nil? %>
  <div class="row location--panel location--online">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.online') %></div>
      <div class="panel-body">
        <%= urlify(@document['electronic_access_1display']) %>
      </div>
    </div>
  </div>
<% end %>

<% unless @document['holdings_1display'].nil? %>
<% h = holding_request_block(@document['holdings_1display'], @document['id']) %>
  <% unless h.nil? %>
  <div class="row location--panel location--holding">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.print') %></div>
      <div class="panel-body">
        <%= h %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
