<h2>Details</h2>
<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert document-details">
  <% doc_presenter.fields_to_render.each do |field_name, field| -%>
      <% next if field&.coin_description %>
      <%# marc relator code for authors -%>
      <% if json_field?(field) %>
        <%= render 'hash_show', document: document, field: field_name %>
      <% elsif linked_record_field?(field) %>
        <%= render 'other_versions_show', document: document, field: field, linked_records: document.linked_records(field: field.field) %>
      <% else %>
        <% field_presenter = doc_presenter.field_presenters.find {|presenter| presenter.key == field.key } %>
        <% componentClass = field.component || Blacklight::MetadataFieldComponent %>
        <%= render(componentClass.new(field: field_presenter, show: true)) %>
    <% end %>
  <% end %>
  <%= render 'statement_on_language_in_description' unless document.numismatics_record? %>
</dl>
