<%= content_tag(:div, class: "document-thumbnail", data: @document.identifier_data) do %>
  <div class="default">
    <% if @document.iiif_manifest_uris.present? || @document.ark.present? %>
      <a href="#viewer-modal", data-toggle="modal"><span class="glyphicon glyphicon-zoom-in"></span></a>
    <% end %>
  </div>
<% end %>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>
