
<div class="col-xs-12 header-row">
    <%# bookmark/folder functions -%>

    <% if document_title.present? %>
      <h1 dir="<%= document_title_dir %>"> <%= document_title %> </h1>
    <% end %>
    <abbr class="unapi-id" title="<%= @document.id %>"></abbr>
    <% if @document.title_without_citation.present? %>
      <%= render_document_title_without_citation(@document, :tag => :h2) %>
    <% end %>
</div>
