<div class="document-thumbnail <%= render_document_class %>">
  <div class="default"></div>
</div>

<div class="availability">
  <div id="full_text" class="availability--panel availability_full-text"></div>
  <div id="holding" class="availability--panel availability_holding"></div>
</div>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>