<% online, physical = holding_request_block(document) %>
<h2 class="visually-hidden">Availability</h2>
<% unless online.blank? %>
  <div class="availability--online">
    <h3 id="available-online"><%= t('blacklight.holdings.online')  %></h3>
    <%= online if online.present? %>
  </div>
<% end %> 

<% unless physical.empty? %>
  <div class="availability--physical">
    <h3><%= t('blacklight.holdings.print') %></h3>
    <table class="availability-table" aria-label="Availability">
      <thead>
        <tr>
          <th>Location</th>
          <th>Call Number</th>
          <th>Status</th>
          <th class="location-services"><span class="visually-hidden">Location Service</span></th>
          <th><span class="visually-hidden">Notes</span></th>
        </tr>
      </thead>
      <%= physical %>
    </table>
  </div>
<% end %>
