<div class="availability panel panel-default">
    <h2 class="availability--heading panel-heading">Availability</h2>
    <ul class="panel-body">
        <li class="holding-info">
            <h3 class="holding-info holding-info--heading">Firestone Library</h3>
            <span class="is-available">Available</span><br>
            <span class="holding-info">Call Number: PS3539.A74 Z93 2000</span><br>
            <button class="request">Request</button>
        </li>
    </ul>
</div>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>