<div class="container-fluid need-help-container" role="region" aria-label="Need Help">
    <div class="row need-help-row">
        <div class="column col-md-5">
            <div class="need-help-label">Need Help?</div>
        </div>
        <div class="column col-md-4">
            <div class="row">
                <%= link_to(
                    'Ask a Question',
                    {
                    controller: "feedback",
                    action: "ask_a_question",
                    ask_a_question_form: { 
                        id: @document,
                        title: @document['title_display']
                    }
                    },
                    title: "Ask a Question",
                    class: "ask-a-question",
                    data: { blacklight_modal: 'trigger' }
                    ) %>
            </div>
            <div class="row">
                <%= link_to(
                    'Suggest a Correction',
                    {
                    controller: "feedback",
                    action: "suggest_correction",
                    suggest_correction_form: { 
                        id: @document,
                        title: @document['title_display']
                    }
                    },
                    title: "Suggest a Correction",
                    class: "suggest-correction",
                    data: { blacklight_modal: 'trigger' }
                    ) %>
            </div>
        </div>
    </div>
</div>
