<nav class="navbar navbar-expand-lg harmful-content-feedback">
  <a class="navbar-brand" href="#">Ask A Question</a>
  <a class="navbar-brand" href="#">Suggest A Correction</a>
  <a class="navbar-brand" href="#">Report Harmful Language</a>
</nav>