<% unless holding_requests_adapter.restrictions.empty? %>
  <div class="restrictions--panel alert alert-warning">
    <ul class="restrictions-list item-list">
      <% holding_requests_adapter.restrictions.each do |restriction| %>
        <li><%= restriction %> Only</li>
      <% end %>
    </ul>
  </div>
<% end %>
