
<div class="col-xs-12 header-row">
    <%# bookmark/folder functions -%>
    <% titlevalue = render_document_show_field_value @document, :field => 'title_vern_display' %>
    <% unless titlevalue == '' %>
        <h1 dir="<%= titlevalue.dir %>"> <%= titlevalue %> </h1>
    <% end %>
    <%= render_document_heading(@document, :tag => :h1) %>
</div>
