<% online, physical = holding_request_block(@document) %>
<% unless online.nil? %>
  <div class="location--panel location--online">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.online') %></div>
      <div class="panel-body">
          <%= online %>
      </div>
    </div>
  </div>
<% end %>

<% unless physical.nil? %>
  <div class="location--panel location--holding">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('blacklight.holdings.print') %></div>
      <div class="panel-body">
        <%= physical %>
      </div>
    </div>
  </div>
<% end %>
