<div id="sortAndPerPage" class="clearfix">
  <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
  <%= link_to(" ", catalog_index_path(params.merge(:format => 'atom')), :class => "icon-rssfeed", :title => "Atom feed" ) %>
  <%= render_results_collection_tools wrapping_class: "search-widgets pull-right" %>
</div>
