<% conf = blacklight_config.view_config(document_index_view_type) %>
<div class="col-12">
  <%= render conf&.constraints_component.new(search_state: search_state) %>
</div>
<div id="sidebar" class="col-12 col-md-4">
  <%= render conf.sidebar_component.new(blacklight_config:,
                                      response: @response,
                                      view_config: conf) %>
</div>

<div id="content" class="col-12 col-md-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
