<% @document = SolrDocument.new(id: params[:id]) %>
<div class="pagination-search-widgets">
    <div class="col-md-12">
    <%= link_to "Back to item", solr_document_path(@document), :class => "btn btn-default" %>
    </div>
</div>

<div class="col-md-12">
    <h1 class="page-heading"><%= t('blacklight.search.librarian_view.title') %></h1>
</div>

<%- if @document.respond_to?(:to_marc) && @document.to_marc.present? -%>
  <%= render "marc_view", document: @document %>
<%- else %>
  <%= t('blacklight.search.librarian_view.empty') %>
<%- end -%>
