$white: #ffffff;
$black: #000000;
$black-pul: #040404;
$dark-gray: #494f57;
$blacklight-gray: #757575;
$gray: #e8e6df;
$light-gray: rgb(245, 245, 245);
$dark-orange: #9F620D;
$orange: #e87511;
$blue: #3072AB;
$danger: #a94442;
$yellow-light: #FFF3CD;
//bootstrap variables override
$table-bg-accent: #f5f4f1;
$font-size-base: 1rem;
$primary: #3072AB;
$success: #3B863B;
$gray-light: #757575;
$available-green: #00871B;
