$white: #ffffff;
$black: #000000;
$dark-gray: #494f57;
$blacklight-gray: #777;
$gray: #e8e6df;
$light-gray: #f5f4f1;
$dark-orange: #89440a;
$orange: #e87511;
$blue: #3072AB;
$brand-danger: #a94442;
$yellow-light: #fee7ba;
