<div class="col-md-12">
  <h2 class="page-heading my-account">Your Account</h2>
  <div class="login--cas">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Log in with Princeton Net ID", omniauth_authorize_path(resource_name, provider), :class => "btn btn-primary" %><br />
      <% end -%>
    <% end -%>
  </div>
</div>
