<div class="doc-message-<%= @request.system_id %>">
    <h1>Physical Delivery Requests are not being accepted at this time</h1>
    <p>Request services are not currently active for patrons who are not Princeton Faculty, Staff, or Students. We hope to be able to resume services as the wider COVID-19 situation improves.</p>
</div>