      <div>
        <%= hidden_field_tag "requestable[][fill_in]", requestable.fill_in_pick_up? %>
        <%= radio_button_tag "requestable[][delivery_mode_#{requestable.preferred_request_id}]", 'in_library', selected, data: { target: "#fields-print__#{requestable.preferred_request_id}" }, 'aria-controls' => "fields-print__#{requestable.preferred_request_id}", class: 'control-label' %>
        <%= label_tag "requestable[][delivery_mode_#{requestable.preferred_request_id}_in_library]", I18n.t("requests.#{requestable.off_site_location}_in_library.delivery_label"), class: 'control-label', id: "requestable__type_#{requestable.off_site_location}_label_#{requestable.preferred_request_id}" %>
        <%= pick_up_choices requestable, default_pick_ups, !selected %>
      </div>
