<tr class='request--online-items' id='request_online_items_<%= "#{requestable.holding.keys[0]}" %>'>
  <td class='request--select'>

  </td>
  <td class='request--enum'>

  </td>
  <td class='request--status'>
    <%= display_status requestable %>
  </td>
  <td>
    <%= display_urls requestable %>
  </td>
</tr>
