<div class="alert flash-notice alert-info">
    Only circulating materials are eligible for pick-up in person.  Materials in open library locations can be digitized upon request for electronic delivery. Borrow Direct and Interlibrary Loan services remain suspended.
</div>