<div class="row">
  <div id="punetid-form" role="menu" aria-hidden="false" style="display: block; text-align:center; width: 100%; margin: 0 auto; ">
    <%= render  partial: 'shared/login', locals: { do_not_show_barcode: true } %>
  </div>
</div>
