
.icon-audio {
	background-image: image-url('png/audio.png');
	background-repeat: no-repeat;
}

.icon-book {
	background-image: image-url('png/book.png');
	background-repeat: no-repeat;
}

.icon-data-file {
	background-image: image-url('png/data-file.png');
	background-repeat: no-repeat;
}

.icon-journal {
	background-image: image-url('png/journal.png');
	background-repeat: no-repeat;
}

.icon-manuscript {
	background-image: image-url('png/manuscript.png');
	background-repeat: no-repeat;
}

.icon-map {
	background-image: image-url('png/map.png');
	background-repeat: no-repeat;
}

.icon-musical-score {
	background-image: image-url('png/musical-score.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: image-url('png/search.png');
	background-repeat: no-repeat;
}

.icon-senior-thesis {
	background-image: image-url('png/senior-thesis.png');
	background-repeat: no-repeat;
}

.icon-senior-thesis2 {
	background-image: image-url('png/senior-thesis2.png');
	background-repeat: no-repeat;
}

.icon-thesis {
	background-image: image-url('png/thesis.png');
	background-repeat: no-repeat;
}

.icon-toggle.collapsed {
	background-image: image-url('png/toggle.collapsed.png');
	background-repeat: no-repeat;
}

.icon-toggle {
	background-image: image-url('png/toggle.png');
	background-repeat: no-repeat;
}

.icon-video {
	background-image: image-url('png/video.png');
	background-repeat: no-repeat;
}

.icon-visual-material {
	background-image: image-url('png/visual-material.png');
	background-repeat: no-repeat;
}