@import "../variables/colors";
@import "variables";

@font-face {
    font-family: 'pul-icons';
    src:
        font-url('icons/pul-icons.ttf?llihnc') format('truetype'),
        font-url('icons/pul-icons.woff?llihnc') format('woff'),
        font-url('icons/pul-icons.svg?llihnc#pul-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.toggle,
.toggle.collapsed,
.document-thumbnail .default {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pul-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 6px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bell {
    &:before {
        content: $icon-bell;
    }
}

.icon-announce {
    &:before {
        content: $icon-announce;
    }
}

.icon-bookslibrary {
    &:before {
        content: $icon-bookslibrary;
    }
}

.icon-bookmark {
    &:before {
        content: $icon-bookmark;
    }
}

.ask-a-librarian .icon-chat {
    &:before {
        content: $icon-chat;
    }
}

.icon-warning {
    &:before {
        content: $icon-warning;
    }
}

.icon-refresh {
    &:before {
        content: $icon-refresh;
    }
}

.icon-moveback {
    &:before {
        content: $icon-moveback;
    }
}

.icon-cite {
    &:before {
        content: $icon-cite;
    }
}

.icon-share {
    &:before {
        content: $icon-share;
    }
}

.icon-senior-thesis,
.blacklight-senior-thesis .document-thumbnail .default {
    &:before {
        content: $icon-senior-thesis;
    }
}

.icon-data-file,
.blacklight-data-file .document-thumbnail .default {
    &:before {
        content: $icon-data-file;
    }
}

.icon-map,
.blacklight-map .document-thumbnail .default {
    &:before {
        content: $icon-map;
    }
}

.icon-manuscript,
.blacklight-manuscript .document-thumbnail .default {
    &:before {
        content: $icon-manuscript;
    }
}

.icon-audio,
.blacklight-audio .document-thumbnail .default {
    &:before {
        content: $icon-audio;
    }
}

.icon-musical-score,
.blacklight-musical-score .document-thumbnail .default {
    &:before {
        content: $icon-musical-score;
    }
}

.icon-video-projected-medium,
.blacklight-video-projected-medium .document-thumbnail .default {
    &:before {
        content: $icon-video-projected-medium;
    }
}

.icon-visual-material,
.blacklight-visual-material .document-thumbnail .default {
    &:before {
        content: $icon-visual-material;
    }
}

.toggle.collapsed {
    &:before {
        content: $icon-toggle-collapsed;
    }
}

.icon-remove {
    &:before {
        content: $icon-remove;
    }
}

.toggle {
    &:before {
        content: $icon-toggle;
    }
}

.icon-book,
.blacklight-book .document-thumbnail .default {
    &:before {
        content: $icon-book;
    }
}

.icon-journal,
.blacklight-journal .document-thumbnail .default {
    &:before {
        content: $icon-journal;
    }
}

.icon-mixed-material,
.blacklight-mixed-material .document-thumbnail .default {
    &:before {
        content: $icon-mixed-material;
    }
}

.icon-dissertation,
.blacklight-dissertation .document-thumbnail .default {
    &:before {
        content: $icon-dissertation;
    }
}

.icon-unknown,
.blacklight-unknown .document-thumbnail .default {
    &:before {
        content: $icon-unknown;
    }
}

.icon-search {
    &:before {
        content: $icon-search;
    }
}

.icon-cd {
    &:before {
        content: $icon-cd;
    }
}

.icon-lp {
    &:before {
        content: $icon-lp;
    }
}

.icon-coin,
.blacklight-coin .document-thumbnail .default {
    &:before {
        content: $icon-coins-flat;
    }
}

.icon-language-statement,
.blacklight-language-statement .document-thumbnail .default {
    &:before {
        content: $icon-language-statement;
    }
}

.icon-open-dataset,
.blacklight-open-dataset .document-thumbnail .default {
    &:before {
        content: $icon-open-dataset;
    }
}

.icon-external {
    &:before {
        content: $icon-newtab;
    }
}

.icon-mobile {
    &:before {
        content: $icon-mobile;
    }
}

.icon-email {
    &:before {
        content: $icon-email;
    }
}

.icon-print {
    &:before {
        content: $icon-print;
    }
}

.icon-spinner {
    margin-left: 6px;

    &:before {
        content: $icon-spinner;
        margin-right: 0;
    }
}

.icon-rssfeed {
    &:before {
        content: $icon-rssfeed;
        color: $orange;
    }

    &:hover {
        text-decoration: none;

        &:before {
            color: $blue;
        }
    }

    @media (max-width: 500px) {
        display: none;
    }
}

a:link.toggle,
a:visited.toggle,
a:hover.toggle,
a:active.toggle {
    text-decoration: none;
}

.document-thumbnail .default {
    font-size: 5.5em;
}

.icon.toggle {
    color: black;
}

.glyphicon-map-marker {
    font-size: 1.2em;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -ms-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

.pulse {
    -webkit-animation: spin 1s infinite steps(8);
    -moz-animation: spin 1s infinite steps(8);
    -ms-animation: spin 1s infinite steps(8);
    animation: spin 1s infinite steps(8);
    display: inline-block;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
