@use "variables";
@use "../variables/colors";

@font-face {
    font-family: 'pul-icons';
    src:
        url(@assets/fonts/icons/pul-icons.ttf?llihnc) format('truetype'),
        url(@assets/fonts/icons/pul-icons.woff?llihnc) format('woff'),
        url(@assets/fonts/icons/pul-icons.svg?llihnc#pul-icons) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.toggle,
.toggle.collapsed,
.toggle-handle,
.toggle-handle[aria-expanded="true"],
.document-thumbnail .default {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pul-icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.document-thumbnail .default {
    display: flex;
    justify-items: center;
    align-content: center;
    max-height: 100%;
    width: 80px;
    &:before {
        display: block;
        padding: 20px 0 30px 0;
        content: variables.$icon-book;
        font-size: 50px;
        margin: auto;
        align-self: center;
    }

}

.icon-bell {
    &:before {
        content: variables.$icon-bell;
    }
}

.icon-announce {
    &:before {
        content: variables.$icon-announce;
    }
}

.icon-bookslibrary {
    &:before {
        content: variables.$icon-bookslibrary;
    }
}

.icon-bookmark {
    &:before {
        content: variables.$icon-bookmark;
    }
}

.ask-a-librarian .icon-chat {
    &:before {
        content: variables.$icon-chat;
    }
}

.icon-refresh {
    &:before {
        content: variables.$icon-refresh;
    }
}

.icon-moveback {
    &:before {
        content: variables.$icon-moveback;
    }
}

.icon-cite {
    &:before {
        content: variables.$icon-cite;
    }
}

.icon-share {
    &:before {
        content: variables.$icon-share;
    }
}

.icon-web {
    &:before {
        content: variables.$icon-web;
    }
}

.icon-location {
    &:before {
        content: variables.$icon-location;
        display: block;
    }
}

.icon-senior-thesis,
.blacklight-senior-thesis .document-thumbnail .default {
    &:before {
        content: variables.$icon-senior-thesis;
    }
}

.icon-data-file,
.blacklight-data-file .document-thumbnail .default {
    &:before {
        content: variables.$icon-databases;
    }
}

.icon-databases,
.blacklight-databases .document-thumbnail .default {
    &:before {
        content: variables.$icon-databases;
    }
}

.icon-map,
.blacklight-map .document-thumbnail .default {
    &:before {
        content: variables.$icon-map;
    }
}

.icon-manuscript,
.blacklight-manuscript .document-thumbnail .default {
    &:before {
        content: variables.$icon-manuscript;
    }
}

.icon-microform,
.blacklight-microform .document-thumbnail .default {
    &:before {
        content: variables.$icon-film;
    }
}

.icon-audio,
.blacklight-audio .document-thumbnail .default {
    &:before {
        content: variables.$icon-audio;
    }
}

.icon-archival-item,
.blacklight-archival-item .document-thumbnail .default {
    &:before {
        content: variables.$icon-manuscript;
    }
}

.icon-musical-score,
.blacklight-musical-score .document-thumbnail .default {
    &:before {
        content: variables.$icon-musical-score;
    }
}

.icon-video-projected-medium,
.blacklight-video-projected-medium .document-thumbnail .default {
    &:before {
        content: variables.$icon-video-projected-medium;
    }
}

.icon-visual-material,
.blacklight-visual-material .document-thumbnail .default {
    &:before {
        content: variables.$icon-visual-material;
    }
}

.toggle.collapsed,
.toggle-handle {
    background: none;
    border: none;
    &:before {
        content: variables.$icon-toggle-collapsed;
    }
}

.icon-remove {
    &:before {
        content: variables.$icon-remove;
    }
}

.toggle,
.toggle-handle[aria-expanded="true"] {
    background: none;
    border: none;
    &:before {
        content: variables.$icon-toggle;
    }
}

.icon-book,
.blacklight-book .document-thumbnail .default {
    &:before {
        content: variables.$icon-book;
    }
}

.icon-report,
.blacklight-report .document-thumbnail .default {
    &:before {
        content: variables.$icon-book;
    }
}

.icon-journal,
.blacklight-journal .document-thumbnail .default {
    &:before {
        content: variables.$icon-journal;
    }
}

.icon-mixed-material,
.blacklight-mixed-material .document-thumbnail .default {
    &:before {
        content: variables.$icon-mixed-material;
    }
}

.icon-dissertation,
.blacklight-dissertation .document-thumbnail .default {
    &:before {
        content: variables.$icon-dissertation;
    }
}

.icon-unknown,
.blacklight-unknown .document-thumbnail .default {
    &:before {
        content: variables.$icon-unknown;
    }
}

.icon-search {
    &:before {
        content: variables.$icon-search;
    }
}

.icon-cd {
    &:before {
        content: variables.$icon-cd;
    }
}

.icon-lp {
    &:before {
        content: variables.$icon-lp;
    }
}

.icon-coin,
.blacklight-coin .document-thumbnail .default {
    &:before {
        content: variables.$icon-coins-flat;
    }
}

.icon-language-statement,
.blacklight-language-statement .document-thumbnail .default {
    &:before {
        content: variables.$icon-language-statement;
    }
}

.icon-open-dataset,
.blacklight-open-dataset .document-thumbnail .default {
    &:before {
        content: variables.$icon-open-dataset;
    }
}

.icon-external {
    &:before {
        content: variables.$icon-newtab;
    }
}

.icon-mobile {
    &:before {
        content: variables.$icon-mobile;
    }
}

.icon-email {
    &:before {
        content: variables.$icon-email;
    }
}

.icon-print {
    &:before {
        content: variables.$icon-print;
    }
}

.icon-spinner {
    margin-left: 6px;

    &:before {
        content: variables.$icon-spinner;
        margin-right: 0;
    }
}

.icon-rssfeed {
    &:before {
        content: variables.$icon-rssfeed;
        color: $orange;
    }

    &:hover {
        text-decoration: none;

        &:before {
            color: colors.$blue;
        }
    }

    @media (max-width: 500px) {
        display: none;
    }
}

a:link.toggle,
a:visited.toggle,
a:hover.toggle,
a:active.toggle {
    text-decoration: none;
}

.document-thumbnail .default {
    font-size: 5.5em;
}

.icon.toggle {
    color: black;
}

.glyphicon-map-marker {
    font-size: 1.2em;
}

.pulse {
    -webkit-animation: spin 1s infinite steps(8);
    -moz-animation: spin 1s infinite steps(8);
    -ms-animation: spin 1s infinite steps(8);
    animation: spin 1s infinite steps(8);
    display: inline-block;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.new-tab-icon-padding {
    padding-left: 5px;
}
