
.icon-audio {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABmklEQVQ4T61T3W3CMBC+izMAGzQj0AmwiHnPCOkGdAOYoGxAmKC846CMkG6QDZq+G1/1RU5FwUAfelKUyDl/vu/HTDdKaz1RSr0R0TMzZyLSMfO7tXYd28KxxcViMRWRDRH1RIT3iogaEckA6pwrmqbBv5+KAuV53p5OJ52m6RIAI1AAmxBRUdd1eRfIGKNFBI0AiRYOqut6+ghoJSJPzNyh0Tm3a5qmwwFENAub8b221mLaoa6oGWOgB/i3AaiFHlrrLE3TDGsiUjJz9RAI1Jh5EJOZl4fDoZ3P52WSJIMuQfTyJlBohtV/oua9z47HY3VFzRgDznj+RA1uWmuh12+NjDG9iACkH6nFbAO1sScKBFtxCkJnrUUQo4XJoZ2IYKLiaqI8z6skSTbe+wqBvEwvNoTUD0n33vdRjc6aMM3SOVeeg+F/OKRQSu3PQxnNUXBtB5oi8snMoAxRv5gZa1sier2bI4wfYgDuW+fcB4LonOuUUjNmfhmz9fDSoiEkGWCYBPdvLyLQZR/TLnr7L62CS6PNt5z8N6BvmiESIl8qJmIAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-book {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAmklEQVQ4T2NkgAJXV1eDf//+LWBkZPwAEyNAG+zZs0cApoYRxnBxcdnAyMjY8P//f38iDDrIwMDQsGfPHgdsBh0AuYiJiekBIZcwMDCAXOKA06D///8/YGRkVCDCRXAlMMOQvXYA2QZiDHNxcYHrGTUIe4iNhhHhlDQCw2jDnz9/Cg4cOEAo98MDD2sYIRVs7wkHM1wFIyyjAwDwcZYTLxiyBAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.icon-data-file {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAnUlEQVQ4T+2T0QkCMQyG/0D38EYpNAM4gm7gCDeK7pFgN3AFN/kl4MF51PP6KFxeUkj5IF8SwTtUtU7vViY5ALi7+7lVlznIzPI3mKqOJI8AHi1YFwhAJXkCwCWsG2RmtZRyXcK6QCQPIvKM9kleANzcPTI2g3LOQ0ophM9jnLxuBrWGEJPeQWu7DuyO1v1E9Y8cxS3+bujjh0wn8gL9oqQTCLpKMgAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.icon-journal {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAB4ElEQVQ4T41TwXHbMBC8A6h32EHkCqIOgoygd9RBUkI6iNyBSkg6YN48jeEOmAqiVGD5TQKXWQZwaIbWGB/M4HB3u3t77L13zKxERG3b3uN+7Znm8na7PTPzt5zsiOhCRG9UtYkx/gghnBFzzq2ttR+ZeU9Ej0RUE1FATFU/s/c+iAgKPB3nXG2tBdIvRHSXAx9U9RhjDCEENHs6qLFYaPbpoKr16XRC0cXzrJD3vsmUQKUzxty3bdtBBzATkcNut9uklN4T0YaZ16AoIvtFRFmLDRFBi4aZQcOpaoc3VQ3W2g5NCrw5osNf3fRsjPlZPk4RITGjepcRkYjcPiuED9AipbRmZiACpcMMEZp1zAw0uC+Z/j+xiyf6vv9dRg4Ec0TFCqvV6m3x3pwaplKrKhCtVfXBGHMLlEDHzE1K6SsR3TDzOBB4TkSOV8cP0dGxqircbhiG0bRTtC+JjfGjOxR/QE6M8XtVVaNewzAcrbWfsnZAhWkC0fL4swa1MWZvjBnXIycHDCKlBGeX9zE4Usu79mti2QAL5D27TMXOq4N9G+mWHFW94bnnkYjOQJSp3qkqnAzajymlBkhFZFzYcv4rNA1ml0M7ijHul4R+VaHi5L7vL9eK4N9VRC8s++LzH9xtQYagndF3AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-manuscript {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABNElEQVQ4T8WUwXGDMBBF9QXc3UHoIHQQDSznUEJKcDpwCSmBdMAdMSN3gDtICb4jUGYz2IM1iNgn7w12eXz4+wXhVVmWmXPuy7+/cv3mnDsBOAPYwx8oiqIfx1EZY84hWJ7nH1LKVGt9UErt4jhubkBEpIQQige2FBER99+FEH8vc85lQZBSKk2S5GUJHIbhxEpnkNFam0s/CCqKogKQLUHW2toY8/MQ6I5Pu08REe2FENUSyO60bds/VRE7cy0An89TNLv26rn2/bBrvEdxHKceqP93j3irnXOsIJNS1iH727Y9rrrGIZ2mqQbQbOwOBzkDUHN8VkFEZKy11VZI/ZkgSGvNYQ0Wg5YzIVAD4MD7ESIR0XWGj40oikzXdTc5xHye8M/d8YkQgHGPH+S04xKV5ewvhBPxVuHzOgIAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-map {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABpElEQVQ4T9WU0W3CMBRF3zMegG7QDcoIFjb/6QaMABOUbsAGZIT+40jeoOkEpROUARy/6iIbmShI7Wct5SO2c/zuzbtm59yZiBrvfaA7Y7VaLUTkICL9MAzbEAK+image-urlsre2JqGfmb+/9drzBObfBQSJyYuaTiDRKqfXxeMR318HOueC9N9bahpk3eLDJGDOfzWYHZv7w3u+cczsiCjHGXmvdEtG79/61kK4gTBhjHrXWe2wSkWdAi+QCqt5RqYkxbkIIpxtQoUPuMAym9mIMwt6sYoGKJ0FFbu3BFMg5Z1DVPwfhRxDRufYNf5aI5nfNnvKo+IXmTCm9MPMD5kRk33Xd26/NrtqjjTE2pTJrLXrqbyBr7V4p1aaU1sy8ABzNDAWXiNSNh8WxNMgpMlCN1vqtAHIqeoZhueU/S9ZqUMlajHGttW5SSpfAIm85xHukgYuJy+VyjUVUBwNxcp217BHyF7quu1SYu7tl5vYKqs0UkSci+hpLzrKRsXkOMjobeWxuQOUUyIkxtlP3TvEQVRPRrmRyEjS+k8bv+YrplVJNuZd+AAkSWehy7wHiAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-musical-score {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABU0lEQVQ4T8WU3W2DMBDH72wGYAS6QUZwkXnOCCETJBuUEdigjMA7H/IIGSHdIANgX3XIrpxIKU5fyhNI8Dv+H2eEP1xaa0VEB0R8G8dRMQJTOUqpXEp5AIAjABhrbZtlWZcMqqpq55w78XTnXDfPc8fDGZxlWb8JUkoVPJGIrkKIdhiGCwNiWfy8CeIPePA4jo2XtUfEI4OttY0x5qq1NkkgNnQ10styzvXGmFvwNRkEAA0inoOsx2BeAa3SniX7/yAf+Sn6w/cks0NqoTdSSuN9C4Y3L4O01meOfpqmfjM1bjER7flFIioQ8SuY/Qjiwkopm2ma6rtd8wXkhEJKOwDIA8iX0iDiBw8gok8uaKjGz9JqrftlWepQuLjZQYo3myXmQogu7tdTUFmW6y+HJd06JWIQ79baZOdcwffWWhWvxG+wu/PIHxk1It6WZWlTITzgG8M17xOS0cgqAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABSElEQVQ4T6WTzXHCMBCF9VcA6YAOQgkaLM64BFNBKIFUEFNB6CDkjNZRCXQQSiB3SZtZBjIKSDgBnzTS6tPbt8+cJZ8xRiPiE+f84bSNiJ8hhGfn3C6tPV9z2tBaD6SUL4yxrxBCm16aTCYjRGwR8Q0AliXYAVRV1QoRXdd1q1JhXw0/tlMDwPyadDozxjjvfe2c21+0ZoxZe+/nfR7QxfF43AghBtbaNgdy1lrdp+bkpVJqZa2t7wKd2ss9zKuq2gLA6I+KhlLKBQA0F4poGkKIdrPZbPtgxph5jHGfmy7XWg+PfV/16Zg1V1J/yBG9hIiPADDLqSKIUuojxrgsZe0ASkbbIOJrCOGdskJqpZRTxtiM0s05Xwgh6pwNP6BkvGQktTlAxF2aePpdYozrHOwXqM9sOi/B/g0qwW4C5WA3g85hd4FS2DftCtS7Pn/rxAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.icon-senior-thesis {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABJ0lEQVQ4T82U3U3DUAyFffLzTEaACegIfcgAZYLCBmUCMkLYoCPwHltkA8oGGYH3ODLy1b2oQqhpioS4L1Gu4i8+PrZBRFTX9ZqIGjOriKgCMPj9OYeZPZYQQQ0R9TFwzcz+Pnvquu7/BuTZmdn+J4lmNojIfVRyOqMI2k7T9OgBZVne+nMcx/csyzYAViKym5Wmqvs8z3sA4c/RiAFAxcybBJgFebH9Iwc4xcwc+Abgzot7EQjAh5m1wWJgF8HtMfCk/SkjVT2kGnmfmdmz16nrusNiaVFi6DMALw45yzVVbYuieCWi4JqZbUXk4XuHzmYUu7xR1eCaOygi15eCntLYuGsicrMYFKWtjgOZOc3i1/WstP83tL/JKCw2Irrypluw2JD20SdyMwkiyjDNnAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.icon-senior-thesis2 {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAABMklEQVQ4T62Tv0rEQBDGv4F0WlgIopUIgo9gGXa38A0EqyvsFG3ExkOsxULQQuRqH8FC9k8gYC2WcoWPoGiTkOzIiichuUDC3bYz85vvm5klzPhoxnrMH6CUegCwOk1ZlmXHaZq+VmMNBVLKdyIa1AHMvAjgMM/z0yqkDfCstd4TQjwR0SaALwAHAUpEZ1rrnUmDBkApFQO40FrHQY0xZl0IMQTwba29VkolIdYVMAZwA2CbmY21dtQLIITYBxC8h+4jKeU5My9ba486KYjj+CSKooWQ7L1fIaK1siwHSZJ8dALUN1IUxUu1+Heo9XVJKe+IaGsyRGa+tdZetV3sNMDYe3/pnLsPngFsGGMad9FqQUoZJp/+JSwB+OwL2GXm/1Nm5jfn3GNnC31/5/x/Y18FP+oflhOt06sdAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-thesis {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAqElEQVQ4T+1UwQnDMAyUDH43GzSjCFsDdISMkBG6l2XICBkhK2QCFZUY2nyifAot1cNgYx13J3QIAJBzviHiqKodAHSIuNi7p0SE7B/awcx3AJi2RhIRux8WM0+fBSKiPsZ43VFbSynzpsTHyCSrar/zzKQ/fXFLa96JSPPvrdkNlFIaQgjDqzRVnWut4ylGR2NzM/oDfeOK/MbUzHnLoIuF24lgw7bADy+KvhPOjgg6AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-toggle.collapsed {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAANUlEQVQ4T2NkoBJgpJI5DKMGEQ7JQRhGLi4uBxgYGP4Tdjx+FYPQa5R6CaZ/1GuEQ3LwhREAahwCnq3G2fwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-toggle {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAATklEQVQ4T2NkIABcXFwO7Nmzx4GQOkZCCkYNYhjOYQSKXgYGhv+4ksH///8NGBkZL+BLJoyMjIXDOYxGs8ggKkZcXV0Ndu/ejTdBgiIMAErgSxIMzMU/AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

.icon-video {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABiklEQVQ4T62U33HCMAzGJce8pxuwQRnBh807I7AB6QbZADZomKC8x6buBoxAN8gARuqJJlygcEBbveTOf376JH0xQhvGmHwwGDzXdf3RrT3yRTlsrV0i4hAAtgBgiKjabDbVQyDnXElEu/5Fa22FiJX3Pt4LQ+dc9N6b/gVjzDDLsjKEMGvVjmQfEYu6rkX1j7gGyrXWFRGtlVJD730pPdRar8+TdkSUMpRSy34m51xBRI1AmHkbQljLhUvqj6AuEzO/KaW2zDxl5icpS0oUZQCwAIBRu15cLK1btNZOEXGEiOu+uhYm8F2n7CJIFGVZtmjHf3NIzNzs9/uXGOOuf1iaLRMz0tCblO8+Hc+3aufMnJ+AxFMAwNeAKaWV1loGMEfEnJk/xW8AUJ6DTvx0DkwpbbXW4qkipVR05ck0/1Ral+gvoAUzL0MIq85fv1IkXkPERoYEAO8AMMXJZDIiokIp9XrP1IhIvIbe+2X7cojH8sMzMh6PZ/I73AMCgCalVMUYRdExDqD/iC9eN+ZsMQmm2wAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}

.icon-visual-material {
	background-image: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABO0lEQVQ4T7VT3W2EMAy2kwzACIzACJES3hmBDdoN2m5w3YARGCBRs0EZgRH6TsCVUVCjHlTHneonUOLP34+D1tovABjgsarQWhucc/oRHMbYBdJal1LKFwAoEPHdORf+GrQLVNd1tSxLJ4Rop2kalVJ9jLENIYxHYFdAxpgGEVsi6rz3PTdaa18BgOUfsroC4iYiGjYQrXVxF6PU2LE3SQYnesnZsHSWHELgs7UOzT7ywhhz4TNErHLfTgFZazURtd77Nv8+ZJQMfyYijv4jxvjGMnhqjLHZJKX/Nc3d1ACg4ak8aQMFAE6wcM5xgpsvOcOfhWSjpZRhnmedG5n2qvfel7+921gppTo0xgxCiCciapKR6/7cUkTErCpELBloRESO/O7iEP730Z6ldmqPbnn9vOqfZ1nk99nwb9RN/XPP8ulMAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}