
.icon-audio::before {
	content: image-url('png/audio.png');
}

.icon-book::before {
	content: image-url('png/book.png');
}

.icon-data-file::before {
	content: image-url('png/data-file.png');
}

.icon-help-circle::before {
	content: image-url('png/help-circle.png');
}

.icon-journal::before {
	content: image-url('png/journal.png');
}

.icon-manuscript::before {
	content: image-url('png/manuscript.png');
}

.icon-map::before {
	content: image-url('png/map.png');
}

.icon-mixed-material::before {
	content: image-url('png/mixed-material.png');
}

.icon-musical-score::before {
	content: image-url('png/musical-score.png');
}

.icon-remove::before {
	content: image-url('png/remove.png');
}

.icon-search::before {
	content: image-url('png/search.png');
}

.icon-senior-thesis::before {
	content: image-url('png/senior-thesis.png');
}

.icon-thesis::before {
	content: image-url('png/thesis.png');
}

.icon-toggle.collapsed::before {
	content: image-url('png/toggle.collapsed.png');
}

.icon-toggle::before {
	content: image-url('png/toggle.png');
}

.icon-unknown::before {
	content: image-url('png/unknown.png');
}

.icon-video-projected-medium::before {
	content: image-url('png/video-projected-medium.png');
}

.icon-visual-material::before {
	content: image-url('png/visual-material.png');
}