.svg {
    .icon-audio::before,
    .blacklight-audio .document-thumbnail .default {
        content: image-url("svg/audio.svg");
    }
    .icon-book::before,
    .blacklight-book .document-thumbnail .default {
        content: image-url("svg/book.svg");
    }
    .icon-data-file::before,
    .blacklight-data-file .document-thumbnail .default {
        content: image-url("svg/data-file.svg");
    }
    .icon-journal::before,
    .blacklight-journal .document-thumbnail .default {
        content: image-url("svg/journal.svg");
    }
    .icon-manuscript::before,
    .blacklight-manuscript .document-thumbnail .default {
        content: image-url("svg/manuscript.svg");
    }
    .icon-map::before,
    .blacklight-map .document-thumbnail .default {
        content: image-url("svg/map.svg");
    }
    .icon-mixed-material::before,
    .blacklight-mixed-material .document-thumbnail .default {
        content: image-url("svg/mixed-material.svg");
    }
    .icon-musical-score::before,
    .blacklight-musical-score .document-thumbnail .default {
        content: image-url("svg/musical-score.svg");
    }
    .icon-remove::before {
        content: image-url("svg/remove.svg");
    }
    .icon-search::before {
        content: image-url("svg/search.svg");
    }
    .icon-senior-thesis::before,
    .blacklight-senior-thesis .document-thumbnail .default {
        content: image-url("svg/senior-thesis.svg");
    }
    .icon-thesis::before,
    .blacklight-thesis .document-thumbnail .default {
        content: image-url("svg/thesis.svg");
    }
    .icon-unknown::before,
    .blacklight-unknown .document-thumbnail .default {
        content: image-url("svg/unknown.svg");
    }
    .icon-video-projected-medium::before,
    .blacklight-video-projected-medium .document-thumbnail .default {
        content: image-url("svg/video-projected-medium.svg");
    }
    .icon-visual-material::before,
    .blacklight-visual-material .document-thumbnail .default {
        content: image-url("svg/visual-material.svg");
    }
    .toggle::before {
        content: image-url("svg/toggle.svg");
    }
    .toggle.collapsed::before {
        content: image-url("svg/toggle.collapsed.svg");
    }
}
