$icomoon-font-path: "fonts" !default;

$icon-add-box: "\e921";
$icon-archives: "\f5f5";
$icon-article-express--small: "\e61d";
$icon-audio: "\e604";
$icon-best-bet: "\f580";
$icon-book: "\e60b";
$icon-bookmark: "\e901";
$icon-bookslibrary: "\e907";
$icon-calendar: "\f82c";
$icon-caret-left: "\e911";
$icon-caret-right: "\e912";
$icon-cd: "\f2f3";
$icon-chat: "\f728";
$icon-cite: "\e902";
$icon-clock: "\f82e";
$icon-collections: "\f5fa";
$icon-compass: "\efd5";
$icon-data-file: "\e601";
$icon-databases: "\ec2b";
$icon-digital: "\e91e";
$icon-dissertation: "\e60e";
$icon-down: "\e908";
$icon-email: "\f813";
$icon-film: "\e920";
$icon-guide: "\f04a";
$icon-home: "\efc1";
$icon-journal: "\e60c";
$icon-library: "\efa3";
$icon-links: "\f87f";
$icon-location: "\eff3";
$icon-lp: "\f2f4";
$icon-manuscript: "\e603";
$icon-map: "\e602";
$icon-minus-sign-alt: "\e91a";
$icon-mixed-material: "\e60d";
$icon-mobile: "\f690";
$icon-moveback: "\e904";
$icon-musical-score: "\e605";
$icon-newspaper: "\f608";
$icon-newtab: "\f639";
$icon-phone-book: "\f6a8";
$icon-phone: "\f6a4";
$icon-plus-sign-alt: "\e910";
$icon-print: "\f893";
$icon-question: "\f558";
$icon-refresh: "\e906";
$icon-remove: "\e609";
$icon-right: "\e909";
$icon-rssfeed: "\e900";
$icon-search: "\e90b";
$icon-senior-thesis: "\e600";
$icon-share: "\e903";
$icon-spinner: "\e905";
$icon-staff: "\f785";
$icon-text: "\ec40";
$icon-toggle-collapsed: "\e608";
$icon-toggle: "\e60a";
$icon-unknown: "\e60f";
$icon-video-projected-medium: "\e606";
$icon-visual-material: "\e607";
$icon-warning: "\e90e";
$icon-web: "\efbe";
$icon-windows: "\f0fd";

