$icomoon-font-path: "fonts" !default;

$icon-audio: "\e604";
$icon-book: "\e60b";
$icon-bookmark: "\e901";
$icon-cd: "\f2f3";
$icon-cite: "\e902";
$icon-data-file: "\e601";
$icon-dissertation: "\e60e";
$icon-email: "\f813";
$icon-external: "\f636";
$icon-journal: "\e60c";
$icon-loading: "\e904";
$icon-lp: "\f2f4";
$icon-manuscript: "\e603";
$icon-map: "\e602";
$icon-mixed-material: "\e60d";
$icon-mobile: "\f690";
$icon-musical-score: "\e605";
$icon-print: "\f893";
$icon-remove: "\e609";
$icon-rssfeed: "\e900";
$icon-search: "\e610";
$icon-senior-thesis: "\e600";
$icon-share: "\e903";
$icon-spinner: "\e905";
$icon-toggle-collapsed: "\e608";
$icon-toggle: "\e60a";
$icon-unknown: "\e60f";
$icon-video-projected-medium: "\e606";
$icon-visual-material: "\e607";

