@import "variables/colors";

main > .container .flash_messages {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .alert {
    animation: slide-down 1.25s;
    -webkit-box-shadow: 0px 2px 51px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 51px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 51px -4px rgba(0, 0, 0, 0.75);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
  }
}

.modal-body .flash_messages {
  margin-bottom: 15px;

  .container {
    padding: 0;
    width: auto;
  }

  .alert-success .close {
    display: none;
  }
}
