.ask-a-librarian {
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  a {
    font-size: 16px;
    margin-top: 5px;

    &:hover {
      text-decoration: none;
      &:before {
        color: $orange;
      }
    }

    &:before {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }
}
