@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.holdings-card .lux-card .lux-text-style {
  padding: 0;
  margin-left: 22px;
  flex: 1 1 0px;
  align-content: flex-end
}

.holdings-card {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  border-radius: 0.375rem;
  padding: 0.5rem 0rem 0.5rem 0rem;

  a:hover, a:focus {
    outline: solid 0.25rem var(--color-princeton-orange-on-white) !important;
    background-color: var(--color-grayscale-lighter);
    text-decoration: none !important;

    .lux-card {
      background-color: transparent;
    }

    .call-number {
      color: var(--color-grayscale-darker);
    }
    .green {
      color: var(--color-forest-green);
    }
  }
}

/* If there is a single card, it should be wide enough that its
  text does not wrap */
.holdings-card a {
  width: max-content;
  min-width: 24%;
}
    
/* If there are multiple cards, they should be consistent widths */
.holdings-card:has(a:nth-child(n+2)) a {
  width: 24%;
} 

article .lux-card {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #EEE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.holdings-card article.lux-card {
  height: 100%;
}

.holdings-card article.lux-card.show-more-holdings span {
  text-align: center;
  align-content: center;
  margin: 0 9px;
  color: var(--color-bleu-de-france)
}


.library-location {
  flex: 1 1 0px;
  .icon-location {
    display: grid;
    padding: 0;
    place-items: center;
  }
  .results_location {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    color: var(--color-bleu-de-france);
  }
  .call-number {
    margin-left: 22px;
    color: $gray-light;
  }
}

.lux-card.medium {
  width: 100% !important;
  padding: 16px 8px;
}

.availability-column,
.holding-block,
.linked-block {
  .availability-icon,
  .more-info {
    display: inline-block;
    background: none;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin-right: 0;
    white-space: normal;

    &.bg-secondary {
      color: $black-pul;
      --bs-bg-opacity: 0;
    }

    &.bg-warning {
      color: $dark-orange;
      --bs-bg-opacity: 0;
    }

    &.bg-danger {
      color: $danger;
      --bs-bg-opacity: 0;
    }

    &.bg-success {
      color: $success;
      --bs-bg-opacity: 0;
    }
  }
}

.holding-label {
  font-weight: 500;
}

.location--panel .panel,
.location--linked .panel {
  background: white;
  margin: 0 0 1.5em;
  border-radius: 0;

  .panel-heading {
    font-size: 1.1em;
    margin: 0;
    border-bottom: 2px solid #eee;
    background: none;
  }

  .panel-body {
    padding: 0;
  }

  .btn {
    margin-top: .9em;
  }

  .holding-block,
  .linked-block {
    padding: 1.5em 1em;
    border-bottom: 1px solid #eee;
    display: block;

    h3 {
      margin: -.3em 0 0.1em;
      line-height: 1.2em;
      font-size: 0.8rem;
    }
  }

  .linked-block {
    padding: 0;
  }

  .holding-block:last-child, ul li:last-child {
    border: none;
  }
}

.location--online .panel .panel-body {
  display: block;
  padding: 1em;

  a {
    display: inline-block;
  }

  ul {
    margin-bottom: 0px;
  }

  .electronic-access {
    margin: .25em 0;
  }
}

.location--linked .panel .panel-body {
  display: block;
  padding: 1em 1em 0.5em;

  a {
    display: inline-block;
  }

  ul {
    margin-bottom: 0px;
  }

  li {
    margin-bottom: 1em;
    border: 0;
  }
}

.blacklight-holdings .availability-icon.badge:hover {
  color: white;
  text-decoration: none;
}

.top-panel-heading.panel-heading {
  padding: 0px 15px 10px 0;
}

.panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
  background: $light-gray;
}

.panel-title > a {
  font-size: 0.9em;
}

.holding-block,
.linked-block {
  .status,
  .location-has,
  .journal-current-issues {
    margin-bottom: 1em;
  }

  > ul {
    margin-top: 1em;
  }

  .holding-details .trigger {
    cursor: pointer;
    color: $blue;
    padding: 0 5px;
    border: 1px solid $blue;
    display: inline-block;
    margin-top: 0.5rem;

    &:hover {
      color: $white;
      background: $blue;
    }
  }

  .journal-current-issues li:nth-child(n+2) {
    display: none;

    &.all-issues {
      display: block;
    }
  }

  .call-number-details {
    flex: 0 1 60%;
  }

  .holding-status {
    flex: 1;
  }

  .location-services {
    flex: min-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .location-services a {
    display: none;
  }

  .location-services.service-always-requestable a,
  .location-services[data-requestable="true"] a {
    display: inline-block;
  }
}

.availability--online,
.availability--physical,
.availability--other-versions,
.availability--excerpts,
.availability--highlighted {
  font-size: 14px;
  margin-bottom: 1.25rem;
}

.availability--online {
  div {
    display: inline;
  }

  li {
    margin-bottom: .25rem;

    .response_coverage_statement {
      padding-left: 5px;
      color: $gray-light;
    }

    .response_notes {
      color: $gray-light;
    }
  }
}

.availability-table .find-it,
.availability-table .browse-cn {
  display: table;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .link-text {
    margin-right: 4px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.availability-table {
  display: inline-block;
  font-size: 14px;

  thead,
  tbody {
    display: inline-block;
    width: 100%;
  }

  th {
    color: $gray-light;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.75rem;

    &:last-child {
      border-bottom: 0;

      td {
        padding-bottom: 0;
      }

      td:last-child > li:first-child {
        padding-top: 10px;
      }
    }

    th,
    td {
      border: 0;
      display: block;
      flex: 1;
      padding: 10px 15px 10px 0;
    }

    td:last-child{
      width: 100%;
    }

    .location-services {
      padding-right: 0;
    }

    .holding-details {
      color: $gray-light;

      ul,
      li {
        font-size: .875rem;
      }

      .lux-show-more {
        font-size: var(--font-size-small);
      }
    }
  }
}

.availability--other-versions {
  .linked-block {
    margin-bottom: .75em;
  }

  .linked-block-id {
    margin-left: 1em;
    color: $gray-light;
    font-size: 12px;
  }
}

.availability--excerpts {
  .section_prompt {
    display: none;
  }

  .response_item {
    margin-bottom: .75em;
  }

  .response_notes {
    margin-left: 1em;
    color: $gray-light;
    font-size: 12px;
  }
}

.availability--highlighted {
  .response_item {
    margin-bottom: .75em;
  }

  .response_source {
    margin-left: 1em;
    color: $gray-light;
    font-size: 12px;
  }
}

.availability-icon {
  margin-right: 10px;
  cursor: default;
  font-size: 80%;
  letter-spacing: 0.05em;
  min-width: 95px;

  &.more-info {
    width: auto;
  }
}

.blacklight-holdings ul {
  margin-top: var(--space-small);
  margin-bottom: var(--space-x-small);

  li {
    margin-bottom: 6px;

    &.empty {
      display: none;
    }

    .availability-icon {
      float: left;
      padding: 6px 5px;

      &.bg-warning {
        color: $black;
      }
    }
  }
}

.holding-block .location-text,
.holding-block .holding-call-number {
  font-weight: 500;

  a {
    font-weight: normal;
  }
}

.record-availability, .document {
  h3 {
      margin-top: 1rem;
    }
  }

.electronic-access {
  color: #717171;
}
