@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.availability-column,
.holding-block,
.linked-block {
  .availability-icon,
  .more-info {
    display: inline-block;
    background: none;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin-right: 0;
    white-space: normal;

    &.badge-secondary {
      color: $gray-light;
    }

    &.badge-warning {
      color: $dark-orange;
    }

    &.badge-danger {
      color: $brand-danger;
    }

    &.badge-success {
      color: $brand-success;
    }
  }
}

.holding-label {
  font-weight: 500;
}

.location--panel .panel,
.location--linked .panel {
  background: white;
  margin: 0 0 1.5em;
  border-radius: 0;

  .panel-heading {
    font-size: 1.1em;
    margin: 0;
    border-bottom: 2px solid #eee;
    background: none;
  }

  .panel-body {
    padding: 0;
  }

  .btn {
    margin-top: .9em;
  }

  .holding-block,
  .linked-block {
    padding: 1.5em 1em;
    border-bottom: 1px solid #eee;
    display: block;

    h3 {
      margin: -.3em 0 0.1em;
      line-height: 1.2em;
      font-size: 0.8rem;
    }
  }

  .linked-block {
    padding: 0;
  }

  .holding-block:last-child, ul li:last-child {
    border: none;
  }
}

.location--online .panel .panel-body {
  display: block;
  padding: 1em;

  a {
    display: inline-block;
  }

  ul {
    margin-bottom: 0px;
  }

  .electronic-access {
    margin: .25em 0;
  }
}

.location--linked .panel .panel-body {
  display: block;
  padding: 1em 1em 0.5em;

  a {
    display: inline-block;
  }

  ul {
    margin-bottom: 0px;
  }

  li {
    margin-bottom: 1em;
    border: 0;
  }
}

.blacklight-holdings .availability-icon.badge:hover {
  color: white;
  text-decoration: none;
}

.top-panel-heading.panel-heading {
  padding: 0px 15px 10px 0;
}

.panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
  background: $light-gray;
}

.panel-title > a {
  font-size: 0.9em;
}

.holding-block,
.linked-block {
  .status,
  .location-has,
  .journal-current-issues {
    margin-bottom: 1em;
  }

  > ul {
    margin-top: 1em;
  }

  .holding-details .trigger {
    cursor: pointer;
    color: $blue;
    padding: 0 5px;
    border: 1px solid $blue;
    display: inline-block;
    margin-top: 0.5rem;

    &:hover {
      color: $white;
      background: $blue;
    }
  }

  .journal-current-issues li:nth-child(n+2) {
    display: none;

    &.all-issues {
      display: block;
    }
  }

  .location-services a {
    display: none;
  }

  .location-services.service-always-requestable a,
  .location-services[data-requestable="true"] a {
    display: inline-block;
  }
}

.availability--online,
.availability--physical,
.availability--other-versions,
.availability--excerpts,
.availability--highlighted {
  font-size: 14px;
  margin-bottom: 1.25rem;
}

.availability--online {
  div {
    display: inline;
  }

  li {
    margin-bottom: .25rem;

    .response_coverage_statement {
      padding-left: 5px;
      color: $gray-light;
    }

    .response_notes {
      color: $gray-light;
    }
  }
}

.availability-table .find-it,
.availability-table .browse-cn {
  display: table;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .link-text {
    margin-right: 4px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.availability-table {
  display: inline-block;
  font-size: 14px;

  thead,
  tbody {
    display: inline-block;
    width: 100%;
  }

  th {
    color: $gray-light;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.75rem;

    &:last-child {
      border-bottom: 0;

      td {
        padding-bottom: 0;
      }

      td:last-child > li:first-child {
        padding-top: 10px;
      }
    }

    th,
    td {
      border: 0;
      display: block;
      flex: 1;
      padding: 10px 15px 10px 0;

      &:nth-child(3) {
        flex: 0 0 135px;
      }
    }

    th:last-child {
      display: none;
    }

    td:last-child{
      width: 100%;
      flex: auto;
    }

    .location-services {
      padding-right: 0;
    }

    .holding-details {
      padding: 0 0 0 1em;
      color: $gray-light;

      ul,
      li {
        font-size: .875rem;
      }
    }
  }
}

.availability--other-versions {
  .linked-block {
    margin-bottom: .75em;
  }

  .linked-block-id {
    margin-left: 1em;
    color: $gray-light;
    font-size: 12px;
  }
}

.availability--excerpts {
  .section_prompt {
    display: none;
  }

  .response_item {
    margin-bottom: .75em;
  }

  .response_notes {
    margin-left: 1em;
    color: $gray-light;
    font-size: 12px;
  }
}

.availability--highlighted {
  .response_item {
    margin-bottom: .75em;
  }

  .response_source {
    margin-left: 1em;
    color: $gray-light;
    font-size: 12px;
  }
}

.availability-icon {
  margin-right: 10px;
  cursor: default;
  font-size: 80%;
  letter-spacing: 0.05em;
  min-width: 95px;

  &.more-info {
    width: auto;
  }
}

.blacklight-holdings ul {
  margin-top: 1.5em;

  li {
    margin-bottom: 6px;

    &.empty {
      display: none;
    }

    .icon-warning {
      float: left;
      font-size: 24px;
      padding-top: 1px;
      color: #e87511;
    }

    .availability-icon {
      float: left;
      padding: 6px 5px;

      &.badge-warning {
        color: $black;
      }
    }

    .library-location {
      display: block;
      margin-left: 105px;

      @media (max-width: 500px) {
        clear: both;
        margin: 0;
        width: 100%;
      }
    }
  }
}

.holding-block .location-text,
.holding-block .holding-call-number {
  font-weight: 500;

  a {
    font-weight: normal;
  }
}

.holding-call-number {
  font-family: 'Roboto Mono', monospace;
  a {
    font-family: initial
  }
}

.record-availability, .document {
  h3 {
      margin-top: 1rem;
    }
  }
