@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.availability-column,
.holding-block {
  .availability-icon {
    display: inline-block;
    background: none;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin-right: 0;

    &.label-default {
      color: #777;
    }

    &.label-warning {
      color: darken(#f0ad4e, 20%);
    }

    &.label-danger {
      color: darken(#d9534f, 20%);
    }

    &.label-success {
      color: darken(#5cb85c, 20%);
    }
  }
}

.holding-label {
  font-weight: bold;
}

.location--panel .panel {
  background: white;
  margin: 0 0 1.5em;
  border-radius: 0;

  .panel-heading {
    font-size: 1.1em;
    margin: 0;
    border-bottom: 2px solid #eee;
    background: none;
  }

  .panel-body {
    font-size: 12px;
    padding: 0;
  }

  .btn {
    margin-top: .9em;
  }

  .holding-block {
    padding: 1.5em 1em;
    border-bottom: 1px solid #eee;
    display: block;

    h3 {
      margin: -.3em 0 0.1em;
      line-height: 1.2em;
      font-size: 0.8rem;
    }
  }

  .holding-block:last-child, ul li:last-child {
    border: none;
  }
}

.location--online .panel .panel-body {
  display: block;
  padding: 1em;

  a {
    display: inline-block;
  }

  ul {
    margin-bottom: 0px;
  }

  .electronic-access {
    margin: .25em 0;
  }

  .umlaut-section a {
    padding: 0;
  }

  .umlaut-section li {
    margin-bottom: 1.5em;
  }
}

.location--linked .panel .panel-body {
  display: block;
  padding: 1em 1em 0.5em;

  a {
    display: inline-block;
  }

  ul {
    margin-bottom: 0px;
  }

  li {
    margin-bottom: 0.5em;
  }
}

.blacklight-holdings .availability-icon.label:hover {
  color: white;
  text-decoration: none;
}

.record-availability {
  padding-left: 5px;
}

.top-panel-heading.panel-heading {
  padding: 0px 15px 10px 0;
}

.panel-group .panel {
  border-radius: 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
  background: $light-gray;
}

.panel-title > a {
  font-size: 0.9em;
}

.holding-block {
  .status,
  .location-has,
  .journal-current-issues {
    margin-bottom: 1em;
  }

  > ul {
    margin-top: 1em;
  }

  li {
    margin-left: 1em;
  }

  .holding-label {
    color: $blacklight-gray;
  }

  .journal-current-issues .trigger {
    cursor: pointer;
    color: $blue;

    &:hover {
      color: $dark-orange;
      text-decoration: underline;
    }
  }

  .journal-current-issues li:nth-child(n+3) {
    display: none;

    &.all-issues {
      display: block;
    }
  }

  .location-services {
    display: none;
  }

  .location-services.service-always-requestable {
    display: block;
  }
}

.panel .find-it,
.panel .browse-cn {
  display: table;
  font-size: 12px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  .link-text {
    margin-right: 4px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.availability-icon {
  margin-right: 10px;
  cursor: default;
  font-size: 80%;
  letter-spacing: 0.05em;
  min-width: 95px;

  &.more-info {
    width: auto;
  }

  // @media (min-width: $bp-small){
  //   width: 100px;
  // }
}

.blacklight-holdings ul {
  margin-top: 1.5em;

  li {
    margin-bottom: 6px;

    &.empty {
      display: none;
    }

    .icon-warning {
      float: left;
      font-size: 24px;
      padding-top: 1px;
      color: #e87511;
      // @include vertical-align;
    }

    .availability-icon {
      float: left;
      padding: 6px 5px;
      // @include vertical-align;
    }

    .library-location {
      display: block;
      margin-left: 105px;
      // @include vertical-align;

      // .call-number {
      //   white-space: pre;
      // }
    }
  }

  // .availability-icon + .library-location {
  //   @media (min-width: $bp-small){
  //     padding-left: 110px;
  //   }
  // }
}
