@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.bookmark_all {
  display: inline-block;

  @media (max-width: 500px) {
    width: 100%;
    margin-top: 0;

    label {
      width: 100%;
    }

    span {
      display: block;
      font-size: 14px;
      width: 100%;
    }
  }
}

.checkbox.toggle-bookmark {
  margin-bottom: 5px;
  padding: 0;
  text-align: center;

  label {
    cursor: pointer;
  }
}

.search-widgets label.toggle-bookmark {
  min-width: initial;
}

@media (max-width: $bp-medium) {
  .search-widgets .checkbox.toggle-bookmark {
    padding: 0;
  }
}

.checkbox.bookmark_all {
  margin-left: 3px;
}

.checkbox.bookmark_all,
.search-widgets .checkbox.toggle-bookmark {
  float: right;

  label {
    padding: 0;
    display: inline-block;
    margin: 10px 0;
  }

  input {
    display: none;
  }
}

.search-widgets input[type=checkbox]:checked + span {
  background: $blue;
  color: $white;
}
