@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.bookmark_all {
  display: inline-block;

  @media (max-width: 500px) {
    width: 100%;
    margin-top: 0;

    label {
      width: 100%;
    }

    span {
      display: block;
      width: 100%;
    }
  }
}

.checkbox.toggle-bookmark {
  margin-bottom: 5px;
  padding: 0;
  text-align: center;

  label {
    cursor: pointer;
    margin-left: -10px;
  }
}

.checkbox.bookmark_all {
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox.bookmark_all {
  float: right;

  label {
    padding: 0;
    display: inline-block;
    margin: 0;
  }

  input {
    display: none;
  }
}
