@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.browse {
  clear: both;
}

.browse-row {
  padding: 2px 15px;

  .availability-icon {
    font-size: 0.7rem;
  }
}

.row-odd {
  background: $light-gray;
}

.row-even + .alert,
.row-odd + .alert {
  margin: 0;
  padding: 10px 15px;
}

.browse li {
    padding: 0.5em;
}

.browse .alert {
  border-radius: 0;
}

.clickable-row {
  cursor: pointer;
}

.prev_next_links .nav .previous a,
.prev_next_links .nav .next a {
  @media (min-width: $bp-small) {
    margin: 3px 3px 3px 0;
  }

  padding: 6px 12px;
  margin: 3px 2px;
  background: $light-gray;
  border: 1px solid $gray;
  border-radius: 4px;
  color: $black;

  &:hover {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}



