@use "variables/breaks";
@use "variables/colors";

.browse {
  clear: both;
}

.browse-row {
  padding: 2px 15px;

  .availability-icon {
    font-size: 0.7rem;
  }
}

.row-odd {
  background: colors.$light-gray;
}

.row-even + .alert,
.row-odd + .alert {
  margin: 0;
  padding: 10px 15px;
}

.browse li {
    padding: 0.5em;
}

.browse .alert {
  border-radius: 0;
}

.clickable-row {
  cursor: pointer;
}

.prev_next_links .nav .previous a,
.prev_next_links .nav .next a {
  @media (min-width: breaks.$bp-medium) {
    margin: 3px 3px 3px 0;
  }

  padding: 6px 12px;
  margin: 3px 2px;
  background: colors.$light-gray;
  border: 1px solid colors.$gray;
  border-radius: --var(border-radius-default);
  color: colors.$black;

  &:hover {
    background: colors.$blue;
    color: colors.$white;
    text-decoration: none;
  }
}

.call-number {
  font-family: 'Roboto Mono', monospace;
  font-size: var(--font-size-small);
}
