@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.button--start-over,
.button--edit-search {
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 1px 0 0 0;

  a {
    font-size: 14px;
    margin: 0;
  }
}

.actions .btn-xs {
  width: 50px;
  text-transform: capitalize;
}

.search-widgets .clear-bookmarks {
  display: none;
}

a.clear-bookmarks {
  margin: 0 0 0 3px;
}

.search-widgets .navbar-nav {
  margin: 0;

  li {
    display: inline-block;
    margin-left: 3px;
  }
}

.pagination-search-widgets {
  .btn {
    vertical-align: initial;
  }
}

.search-widgets .btn-group {
  vertical-align: initial;
  margin: 10px 0;
}



.search-widgets select,
.navbar-nav > li > a,
.navbar-nav > li.dropdown > button,
.pagination-search-widgets .btn-default,
.search-widgets button,
.browse-header button,
#sortAndPerPage .page_links .prev a,
#sortAndPerPage .page_links .next a,
.prev.is-disabled,
.next.is-disabled,
.pagination-search-widgets .previous,
.pagination-search-widgets .next,
.checkbox.bookmark_all span,
.search-widgets .checkbox.toggle_bookmark span,
.bookmarksTools.nav #emailLink,
.bookmarksTools.nav #citationLink,
.bookmarksTools.nav > li > a,
.bookmark-tool a {
  @media (min-width: $bp-small) {
    margin: 3px 3px 3px 0;
  }

  padding: 6px 12px;
  margin: 3px 0;
  background: $light-gray;
  border: 1px solid $gray;
  border-radius: 4px;
  color: $black;

  &:hover {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}

.bookmark-tool {
  float: left;
  margin: 20px 4px 0 0;
  font-size: 14px;

  @media (max-width: 500px) {
    margin: 8px 6px 0 0;
    float: right;
  }
}

.checkbox.bookmark_all span,
.search-widgets .checkbox.toggle_bookmark span {
  display: inline-block;
}

.pagination-search-widgets .checkbox.toggle_bookmark {
  margin-bottom: 0;
}

.pagination-search-widgets .previous,
.pagination-search-widgets .next {
  opacity: .6;
  background: $light-gray;
  cursor: default;

  &:hover {
    background: $light-gray;
    color: $black;
    text-decoration: none;
  }
}

.pagination-search-widgets a.previous,
.pagination-search-widgets a.next {
  opacity: 1;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}

#sortAndPerPage .prev a,
#sortAndPerPage .next a {
  text-docoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.search-submit-buttons {
  padding-top: -1em;
  padding-bottom: 1em;
  clear: both;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: $blue;
  color: $white;
}

header .navbar-nav > li > a {
  border: none;
  border-radius: 3px;
}

.prev_next_links.btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 4px;
  margin-left: 1em;
}

.prev_next_links.btn-group > .btn {
  float: none;
}

#sort-dropdown .dropdown-toggle,
#per_page-dropdown .dropdown-toggle {
  color: $black;

  &:hover,
  &:active {
    color: $white;
    background: $blue;

    .caret {
      color: $white;
    }
  }
}

#sort-dropdown,
#sort-dropdown .dropdown-toggle,
#per_page-dropdown,
#per_page-dropdown .dropdown-toggle,
.checkbox.bookmark_all span,
// .search-widgets .checkbox.toggle_bookmark span,
.bookmark_all,
.bookmark_all label,
.bookmark_all span {
  @media (max-width: 500px) {
    margin: 0;
    width: auto;
    float: left;
    display: inline;
  }
}

.checkbox.bookmark_all,
.search-widgets .checkbox.toggle_bookmark {
  @media (max-width: 500px) {
    // float: left;
    margin-left: 0;
  }
}

#per_page-dropdown .dropdown-toggle {
  @media (max-width: 500px) {
    margin: 0 6px;
  }
}

.start-over-row {
  padding-top: 2px;
  padding-bottom: 10px;
}

.back-to-top {
    background: image-url("up-arrow.svg") center 50% no-repeat rgba(255,255,255,.8);
    bottom: 30px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 40px;

    @media only screen and (min-width: 768px) {
      bottom: 20px;
      right: 20px;
    }

    @media only screen and (min-width: 1024px) {
      bottom: 30px;
      height: 60px;
      right: 30px;
      width: 60px;
    }

  &:hover{
    text-decoration: none;
  }
}

.login-button {
  margin-bottom: 5px;
}

.search-widgets .dropdown-menu {
  @media (max-width: 500px) {
    right: initial;
  }
}

.pagination-search-widgets .col-sm-6 {
  width: auto;
}
