@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

.button--start-over,
.button--edit-search {
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 1px 0 0 0;

  a {
    font-size: 16px;
    margin: 0;
  }
}

.actions .btn-sm {
  width: 50px;
  text-transform: capitalize;
}

a.clear-bookmarks, a.clear-search-history {
  margin: 0 0 0 3px;
}

.search-widgets .navbar-nav {
  margin: 0;
  flex-direction: row;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 3px;
  }
}

.pagination-search-widgets {
  .btn {
    vertical-align: initial;
  }
}

.search-widgets .btn-group {
  vertical-align: initial;
  margin: 10px 0;
}

.btn-outline-secondary {
  color: $dark;
  border-color: #ccc;
  &:hover, &:active {
    background-color: #ddd;
    border-color: #bbb;
    color: $dark;
  }
}

.search-constraint-value:hover,
.search-constraint-value:active {
  background-color: transparent;
  color: $dark;
}

.search-widgets select,
.navbar-nav > li > a,
.navbar-nav > li.dropdown > button,
.pagination-search-widgets .btn-default,
.search-widgets button,
.browse-header button,
.page-links .paginate-section .prev a,
.page-links .paginate-section .next a,
.prev.is-disabled,
.next.is-disabled,
.pagination-search-widgets .previous,
.pagination-search-widgets .next,
.bookmarksTools.nav #emailLink,
.bookmarksTools.nav #citationLink,
.bookmarksTools.nav > li > a,
.bookmarksTools a {
  @media (min-width: $bp-medium) {
    margin: 3px 3px 3px 0;
  }

  padding: 6px 12px;
  background: $light-gray;
  border: 1px solid $gray;
  border-radius: 4px;
  color: $black;

  &:hover {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}

.browse-header button,
.pagination-search-widgets .previous,
.pagination-search-widgets .next {
  margin: 3px 0;
}

.bookmarksTools {
  float: left;
  margin: 10px 4px 0 0;

  @media (max-width: 500px) {
    margin: 0 0 3px 6px;
    float: right;
  }
}

button.checkbox.bookmark_all {
  margin: 3px 0 3px 0;
}

.pagination-search-widgets .previous,
.pagination-search-widgets .next {
  opacity: .6;
  background: $light-gray;
  cursor: default;

  &:hover {
    background: $light-gray;
    color: $black;
    text-decoration: none;
  }
}

.pagination-search-widgets a.previous,
.pagination-search-widgets a.next {
  opacity: 1;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}

#sortAndPerPage .prev a,
#sortAndPerPage .next a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.search-submit-buttons {
  padding-top: 1em;
  padding-bottom: 1em;
  clear: both;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: $blue;
  color: $white;
}

header .navbar-nav > li > a {
  border: none;
  border-radius: 3px;
}

.prev_next_links.btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 4px;
  margin-left: 1em;
}

.prev_next_links.btn-group > .btn {
  float: none;
}

#sort-dropdown .dropdown-toggle,
#per_page-dropdown .dropdown-toggle {
  color: $black;

  &:hover,
  &:active {
    color: $white;
    background: $blue;

    .caret {
      color: $white;
    }
  }
}

#sort-dropdown,
#sort-dropdown .dropdown-toggle,
#per_page-dropdown,
#per_page-dropdown .dropdown-toggle {
  @media (max-width: 500px) {
    margin: 0;
    width: auto;
    float: left;
    display: inline;
  }
}

.search-widgets .checkbox.toggle-bookmark {
  @media (max-width: 500px) {
    margin-left: 0;
    margin-top: 0;
  }
}

#per_page-dropdown .dropdown-toggle {
  @media (max-width: 500px) {
    margin: 0 6px;
  }
}

.start-over-row {
  padding-top: 2px;
  padding-bottom: 10px;
}

.login-button {
  margin-bottom: 5px;
}

.search-widgets .dropdown-menu {
  @media (max-width: 500px) {
    right: initial;
  }
}

.pagination-search-widgets .col-sm-6 {
  width: auto;
}

:focus {
  outline: 2px solid #5E9ED6 !important;
  outline-offset: 0 !important;
}

.applied-filter .filter-name:after {
  font-family: FontAwesome;
  color: #777777;
  content: "\f054";
  font-size: 70%;
  padding-left: 5px;
}
