div.dataTables_wrapper {
  .row:first-child {
    .col-sm-12:first-child {
      float: right;
      order: 13;
    }
    .col-sm-12:last-child {
      float: left;
      padding-left: 23px;
    }
  }
  div.dataTables_length {
    text-align: right !important;
  }
  div.dataTables_filter {
    text-align: left !important;
  }
}

@media (max-width: 550px) {

  .dataTables_filter label {
    white-space: normal;
  }

  .reserves-info {
    display: none;
  }

  div.dataTables_wrapper div.dataTables_filter {
    input.form-control.form-control-sm {
      width: 100%;
      margin: 0;
    }
  }

  .dataTables_length {
    display: none;
  }

}
