div.dataTables_wrapper {
  .row:first-child {
    .col-sm-6:first-child {
      float: right;
    }
    .col-sm-6:last-child {
      float: left;
      padding-left: 23px;
    }
  }
  .dataTables_length {
    text-align: right;
  }
  .dataTables_filter {
    text-align: left;
  }
}

@media (max-width: 500px) {

  .reserves-info {
    display: none;
  }

  .dataTables_wrapper .dataTables_filter label {
    white-space: initial;

    input {
      width: 100%;
      margin: 0;
    }
  }

  .dataTables_length {
    display: none;
  }

}
