@import "variables/colors";

.dropdown-menu > li > a {
  color: $black;
  display: inline-block;
  padding: 3px 10px;
  width: 100%;

  &:hover {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}

.search-widgets .dropdown-menu > li {
  float: none;
  margin-left: 0;
  width: 100%;
}
