@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";
@import "abstractions/mixins";

#sidebar {
  @media (max-width: 500px) {
    padding-bottom: 0;
  }
}

.facet_limit-active,
.facet_limit-active > .panel-heading {
  color: #333;
  border-color: #ddd;
}

.facet-values {
  li {
    .selected {
      @extend .text-dark;
    }
  }
}


.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.facet-values .remove {
  text-indent: 0;
  margin-left: 1em;
  @include vertical-align();
}

.facet-values .remove
  .fa {
    position: relative;
  }
  .fa-times {
    font-size: 1.5em;
  }

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count {
  text-indent: 0;
  line-height: 1.8em;
  padding: 0;
}

.facet-values .icon {
  font-size: 1.275em;
  line-height: 1.4em;
}

.icon + .facet-label {
  padding-left: .5em;
}

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count,
.facet-label .selected,
.facet-values .remove .fa-times {
  vertical-align: middle;
}

.facet-values .facet-label,
.facet-values .facet-count {
  font-size: .9em;
  -moz-hyphens: none;
}

.facets-heading {
  margin-top: 0;
  font-size: 18px;
}

.pivot-facet .facet-label {
  display: inline;
  padding-left: 0;
  word-break: none;
}

.document .icon,
.facet-values .icon {
  width: 22px;
  height: 22px;
  display: table-cell;
  background-position: center;
  background-size: contain;
  padding-right: .5em;
}

ul.facet-values {
  border-spacing: 0 .3em;
  margin-bottom: 0;

  .facet-values,
  > ul {
    border-spacing: 0;
  }
}

.pivot-facet .pivot-facet {
  width: 100%;
  padding: 0 0 0 3.5em;

  &.collapse.in,
  &.collapsing {
    display: table;
  }
}

.toggle, .toggle-collapsed {
  line-height: 1.4em;
}

@media (max-width: $bp-small) {
  #facets {
    padding: 0;
  }
  #facets .top-panel-heading {
    padding: 1em 0;
  }

  #facets .facets-heading {
    font-size: 1.6em;
    margin: 0;
    padding: 0.15em;
  }

  .facets-toggle {
    margin: 0;
    background: $gray;
  }
}

@media (max-width: $bp-small) {
  .facets-toggle {
    margin: 0;
  }

  .facets-heading {
    padding: 0.5em;
    margin-bottom: 0;
  }
}

#facets .top-panel-heading {
  @media (max-width: 768px) {
    border: 0;
    margin-bottom: 0;
  }
}

a.more_facets_link {
  font-size: 0.95em;
  line-height: 1.4em;
}

.facets .facets-heading {
  margin: 1em 0 0.5em;
}

.facet-limit {
  margin-bottom: $spacer;

  .card-body {
    padding: $spacer ($spacer * 2);
  }
}
