@use '../variables/breaks';

#facets .facets-heading {
    font-size: var(--font-size-large-min);
    font-weight: var(--font-weight-normal);
    margin: 1em 0 0.5em;

    @media (max-width: breaks.$bp-medium) {
        margin: 0;
        padding: 0.15em;
    }
}
