@use "abstractions/mixins";
@use "variables/breaks";
@use "variables/colors";
@use "variables/typography";

#sidebar {
  @media (max-width: 500px) {
    padding-bottom: 0;
  }
}

.facet_limit-active,
.facet_limit-active > .panel-heading {
  color: #242424;
  border-color: #ddd;
}

ul.facet-values {
  li {
    .selected {
      @extend .text-dark;
    }
  }
}

.h-leaf {
  padding-left: 39px;
}

@-moz-document url-prefix() {
  .h-leaf {
    padding-left: 35px;
  }
}

.h-node .h-leaf {
  padding-left: 53px;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.facet-values .remove {
  text-indent: 0;
  margin-left: 1em;
  @include mixins.vertical-align();
}

.facet-values .remove
  .fa {
    position: relative;
    font-size: 1.5em;
  }

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count {
  text-indent: 0;
  line-height: 1.8em;
  padding: 0;
}

.facet-values .icon {
  font-size: 1.275em;
  line-height: 1.4em;
}

.icon + .facet-label {
  padding-left: .5em;
}

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count,
.facet-label .selected,
.facet-values .remove .fa-times {
  vertical-align: middle;
}

.facet-values .facet-label,
.facet-values .facet-count {
  font-size: .9em;
  -moz-hyphens: none;
}

.pivot-facet .facet-label {
  display: inline;
  padding-left: 0;
  word-break: none;
}

.document .icon,
.facet-values .icon {
  width: 22px;
  height: 22px;
  background-position: center;
  background-size: contain;
}

ul.facet-values {
  border-spacing: 0 .3em;
  margin-bottom: 0;

  .facet-values,
  > ul {
    border-spacing: 0;
  }
}

.pivot-facet .pivot-facet {
  width: 100%;
  padding: 0 0 0 3.5em;

  &.collapse.in,
  &.collapsing {
    display: table;
  }
}

.toggle, .toggle-collapsed {
  line-height: 1.4em;
}

@media (max-width: breaks.$bp-medium) {
  #facets {
    padding: 0;
  }

  .facets-toggle {
    margin: 0;
    background: colors.$gray;
  }
}

@media (max-width: breaks.$bp-medium) {
  .facets-toggle {
    margin: 0;
  }

  .facets-heading {
    padding: 0.5em;
    margin-bottom: 0;
  }
}

a.more_facets_link {
  font-size: 0.95em;
  line-height: 1.4em;
}

.facet-limit {
  margin-bottom: typography.$spacer;

  .card {
    margin-bottom: 0px;
  }
  .card-body {
    padding: typography.$spacer (typography.$spacer * 2);
  }
}

.facet-limit-active {
  .card-header {
    .btn {
      color: var(--color-gray-90);
    }
  }
}

.facet-field-heading {
  a {
    &::after {
      content: "❯";
      float: right;
      transform: rotate(90deg);
    }
  }
}

.facet-field-heading.collapsed {
  a {
    &::after {
      transform: rotate(0deg);
      transition: transform 0.1s ease;
    }
  }
}

.facet-toggle-handle {
  min-height: auto;
  margin-left: -12px;
}
