@import 'variables/breaks';
@import 'variables/colors';
@import 'variables/typography';

.l-footer {
  background-color: $black;
  border-top: 5px solid $orange;
  font-size: 0.875rem;
}

.l-region--footer {
  clear: both;

  address,
  .footer--copyright,
  a {
    color: $white;
    font-style: normal;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 400;
  }

  .footer--copyright {
    margin-top: 0.5em;
  }

  h2,
  h2 a {
    color: $white;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.75em;

    &:hover {
      text-decoration: none;
    }
  }

  .leaf {
    list-style: none;

    a {
      line-height: 1.75em;

      &:hover {
        color: $white;
      }
    }
  }
}

// SVG logo
.svg {
  .facebook-logo img,
  .twitter-logo img,
  .govdocs-logo img,
  .friends-logo img,
  .pu-logo img {
    display: none;
  }

  .facebook-logo,
  .twitter-logo,
  .govdocs-logo,
  .friends-logo,
  .pu-logo {
    background-size: contain;
    display: inline-block;
    height: 24px;
    line-height: 11px;


    &::before {
      content: " ";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .footer--icons {
    margin-top: 1em;

    li {
      float: left;
    }
  }

  .facebook-logo {
    background-image: image-url("logo-facebook-white.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .twitter-logo {
    background-image: image-url("logo-twitter-bird-white.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .govdocs-logo {
    background-image: image-url("govdocs.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .friends-logo {
    background-image: image-url("friends.svg");
    margin: 0 0.2em 0.75em;
    width: 85px;
  }

  .pu-logo {
    background-image: image-url("logo-white.svg");
    height: 40px;
    margin: 0.5em 0 0;
    width: 141px;
  }
}
