.format-badge-group {
    display: flex;
    align-items: center;
}

.format-badge-group svg.format-icon {
    height: 1rem;
}

.format-badge-group svg.access-icon {
    height: 1rem;
    overflow: visible;
    margin-top: 4px;
}