@use "variables/breaks";
@use "variables/typography";

.header__secondary .container {
  max-width: initial;
}

.search-options,
.header__secondary .user-utils a {
  font-size: typography.$text-small;
  line-height: var(--line-height-base);

  @media (min-width: breaks.$bp-large) {
    font-size: var(--font-size-small);
  }
}

.search-bar .navbar,
.user-utils,
.user-utils .nav {
  padding: 0;
}

.header__secondary .user-utils {

  @media (min-width: breaks.$bp-large) {
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
  }

  .nav {
    float: right;
    margin: 0;
  }

  .nav-link {
    display: initial;
  }

  li a {
    background: transparent;
    padding: 1rem;
    margin: 0;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    &:last-child {
      padding-right: 0;

      @media (min-width: breaks.$bp-medium) {
        padding-right: 1em;
      }
    }
  }
}

.header__secondary a {
    color: var(--color-bleu-de-france-dark);
}
