.search-options,
.header__secondary .navbar-right {
  font-size: $text-small;
  line-height: 1.4rem;

  @media (min-width: $bp-medium) {
    font-size: 14px;
  }
}

// Bookmarks and Course Reserves
.header__secondary .navbar-right {
  z-index: 2;
  padding-right: 0;
  margin-top: -46px;
  width: 70%;
  float: right;
  text-align: center;

  @media (min-width: $bp-medium) {
    width: 30%;
    margin-top: 0;
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
  }

  .navbar-nav {
    float: right;
    margin: 0;
  }

  li a {
    background: transparent;
    padding: 1em;
    margin: 0;
    color: darken($blue, 3);

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    &:last-child {
      padding-right: 0;

      @media (min-width: $bp-small) {
        padding-right: 1em;
      }
    }
  }
}

.navbar-item {
  font-size: 14px;
}
