/* The container that the lux header will be in.
   It is the same background color and height as
   the lux header, so that when the lux header loads,
   there is no layout shift or sudden color change. */
.pul_header {
    background-color: var(--color-gray-100);
    min-height: calc((var(--lux-library-logo-width-large) * .221) + 2rem);
    @media (max-width: 899px) {
        min-height: calc((var(--lux-library-logo-width-large) * .14) + 2rem);
    }
}
