@import 'variables/colors';

.bulleted {
    margin-left: 1.5em;
    list-style-type: disc;
}

.example {
    margin-bottom: 0;
}
.example li {
    display: inline;
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-right: 2em;
}

.example dt {
    float: left;
    display: inline;
    font-family: arial, sans-serif;
    margin-right: 2em;
    font-weight: normal;
}

.list--search-tips > li {
    border: 1px solid #ddd;
    // padding: 1em;
    // border-bottom: 0;
    list-style-type: none;
    margin-bottom: 1.5em;

    // &:last-child {
    //     border-bottom: 1px solid #ddd;
    //     padding: 1em;
    // }
    > dl {
        margin: 0;

        .tip-heading {
            margin: 0;
            font-size: 15px;
        }
        > dd {
            padding: 1em;
        }
        dl {
            margin-top: 1em;
        }
    }
    dt.tip-heading {
        background: $light-gray;
        border-bottom: 1px solid #ddd;
        padding: 10px 15px;
    }
}

.browse li {
    padding: 0.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}
