@import 'variables/colors';

.bulleted {
    margin-left: 1.5em;
    list-style-type: disc;
}

.example {
    margin-bottom: 0;
}
.example li {
    display: inline;
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-right: 2em;
}

.restrictions-list {
  margin-bottom: 0;
}

.example dt {
    float: left;
    display: inline;
    font-family: arial, sans-serif;
    margin-right: 2em;
    font-weight: normal;
}

.list--search-tips > li {
    border: 1px solid #ddd;
    list-style-type: none;
    margin-bottom: 1.5em;

    > dl {
        margin: 0;

        .tip-heading {
            margin: 0;
            font-size: 15px;
        }
        > dd {
          padding: 1em 1em 0.5em;
          margin-bottom: 0;
        }
        dl {
            margin-top: 1em;
        }
    }
    dt.tip-heading {
        background: $light-gray;
        border-bottom: 1px solid #ddd;
        padding: 10px 15px;
    }
}

ul {
  list-style-type: none;
  padding: 0;
}

.account--patron_info {
    dd {
        margin-bottom: 0.5em;
    }
}

// other resources on the home page
.other-resources {
    h3 {
        font-size: 1.15em;
    }

    @media (min-width: 530px) {
        li {
            display: inline-block;
            border-left: 1px solid $gray;
            padding: 0 10px;

            &:first-child {
                border-left: 0;
                padding-left: 0;
            }

            a {
                font-size: 0.9em;
            }
        }
    }
}
