
.harmful-content-feedback {
  background-color: #e4e4e4;
  color: #23578B;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  @media (max-width: $bp-small) {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}
