@use "variables/breaks";
@use "variables/colors";
@use "variables/typography";

body {
  background: colors.$light-gray;
  font-family: typography.$font-sans;
}

main {
  background: colors.$white;
  padding: 1em 0 1.5em;
  min-height: calc(100vh - 419px);
}

.input-group {
  width: 100%;
}

.input-group-addon,
.input-group-btn {
  width: auto;
}

.navbar {
  margin-bottom: 0;
}

.navbar + .navbar {
  margin-top: 0;
}

.navbar-inverse,
.navbar-default {
  background-color: colors.$light-gray;
  border-bottom: 1px solid colors.$gray;
}

.constraints-container {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0.35em;
  padding: 2px 15px;
  display: block;
}

.orange {
  display: inline;
  color: colors.$orange;
}

.rtl {
  direction: rtl;
  float: right;
  font-family: verdana, arial;
}

h3.rtl {
  color: colors.$orange;
  text-align: right;
}

dd.rtl {
  color: colors.$orange;
  text-align: right;
}

td.rtl {
  direction: rtl;
  text-align: right;
}

td[dir="rtl"]::before {
  text-align: left;
}

.dl-horizontal dd {
  width: auto;
}

.alert {
  margin: 10px 0px;
}

.dl-nested dd {
  margin-left: 50px;
  clear: left;
}

.dl-nested dt {
  clear: left;
  text-align: left;
}

address {
  margin-bottom: 0;
}

@media (min-width: breaks.$bp-small) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: breaks.$bp-large) {
  .container {
    width: breaks.$bp-large;
  }
}

@media (min-width: breaks.$bp-xlarge) {
  .container {
    width: breaks.$bp-xlarge;
    max-width: breaks.$bp-xlarge;
  }
}

.dropdown-menu {
  left: auto;
  right: 3px;
  min-width: 114px;
}

.caret {
  z-index: auto;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

[dir="rtl"] {
  font-family: verdana, arial;
  text-align: right;
}

.search_history .constraint {
  display: block;
  text-indent: 0;
  padding-left: 0;
}

.dl-horizontal.dl-invert .col-md-3,
.dl-horizontal.dl-invert .col-md-9 {
  padding-left: 0;
}
