@import "../variables/breaks";

ul.pagination {
  margin: 0;

  @media (max-width: $bp-small) {
    width: 100%;
    text-align: center;
  }
}

.browse-pager {
  display: inline-block;

  .pager {
    margin: 0;
  }
}

.pager li > span {
  border: 0;
  padding: 0;
}

.pagination-search-widgets .page_links {
  padding: 0;
  border: 0;
  display: inline-block;

  .prev,
  .next,
  .previous {
    margin-left: 0;
    display: inline-block;
  }
}

#sortAndPerPage {
  display: inline-block;
  width: 100%;

  .pagination-rss {
    display: inline-block;

    @media (max-width: 500px) {
      width: 100%;
      font-size: 14px;
    }
  }

  .page_links {
    padding: 10px 0;
    border: 0;

    @media (max-width: 500px) {
      padding-bottom: 0;
    }

    .prev,
    .next,
    .prev a,
    .next a {
      margin-left: 0;
      display: inline-block;

      @media (max-width: 500px) {
        display: inline;
        float: left;
        font-size: 20px;
        margin: 0 6px 0 0;
        vertical-align: middle;
        width: 44px;
        height: 34px;
        line-height: 0.9em;
      }
    }

    .page_entries {
      @media (max-width: 500px) {
        font-size: 14px;
        display: inline;
        float: right;
        padding: 10px 6px;
      }
    }
  }
}
