@import "variables/breaks";
@import "abstractions/mixins";

.dl-horizontal dt,
.dl-horizontal dd {
  display: block;
  clear: both;
}

.dl-horizontal dd ul {
  margin-bottom: 0;
}

.dl-horizontal dd.blacklight-holdings > ul > li {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.dl-horizontal .blacklight-holdings ul.holding-block li {
  margin-bottom: 0;
}

.blacklight-holdings li + li {
  margin-top: .3em;
}

@media (min-width: $bp-small) {
  .dl-horizontal dt {
    overflow: visible;
    width: 160px;
    margin-right: 10px;
    clear: none;
    display: inline-block;
    white-space: normal;
    float: left;
    clear: left;
    text-align: left;
  }

  .dl-horizontal dd {
    margin-left: 170px;
    margin-right: -30px;
    clear: none;
    margin-bottom: 1em;
  }

  .dl-horizontal dd:after {
    display: block;
    content: '';
    clear: both;
  }
}

.header-row {
  padding-left: 0px;
  margin-bottom: 1em;

  h2 {
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 1.18em;
  }
}
