@import "variables/colors";

.need-help-container {
    background-color: var(--color-gray-10);
    border-radius: 8px;
    border: 1px solid var(--color-grayscale-light);
    font-family: Libre Franklin, sans-serif;
    padding: 0;
    margin: 30px 0 0 0;
}

.need-help-row {
    padding: 30px;
}

@media (max-width: 767px) {
    .need-help-links {
        margin-top: 30px;
    }

    .links-row {
    padding-left: 12px;
}
}

.need-help-label {
    font-weight: 675;
    font-size: 23px;
}

.ask-a-question, .suggest-correction, .missing-item {
    font-size: 15px;
    font-weight: 600;
    color: $black;
    display: inline-block;
    position: relative;
    width: fit-content;
    padding: 0;
    margin-bottom: 16px;
    &:hover {
        text-decoration: none;
    }
}

.ask-a-question::after, .suggest-correction::after, .missing-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $orange;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.ask-a-question:hover::after, .suggest-correction:hover::after, .missing-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    width: wrap-content;
}
