@import "variables/breaks";

.dl-horizontal dt,
.dl-horizontal dd {
    width: 100%;
    display: block;
    clear: both;
    margin-bottom: 1em;
}

.dl-horizontal dd ul {
    margin-bottom: 0;
}

.dl-horizontal dd.blacklight-call_number_display > ul > li {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

.availability-icon {
  margin-right: 5px;
}

.dl-horizontal .blacklight-call_number_display ul.holding-block li {
    margin-bottom: 0;
}

@media (min-width: $bp-small) {
    .dl-horizontal dt {
        overflow: visible;
        width: 180px !important;
        margin-right: 10px;
        clear: none;
        display: inline-block;
    }
    .dl-horizontal dd {
        margin-left: 190px;
        clear: none;
    }
}
