@import "variables/breaks";
@import "variables/colors";
@import "abstractions/mixins";

.field-hierarchy {
  text-decoration: underline;
  color: darken($orange, 10%);
}

.search-subject:hover,
.search-title:hover,
.search-name-title:hover {
  color: darken($orange, 10%);
}

.search-subject:active,
.search-title:active,
.search-name-title:active {
  text-decoration: none;
}
