@import "variables/breaks";
@import "abstractions/mixins";

.dl-horizontal dt,
.dl-horizontal dd {
  width: 100%;
  display: block;
  clear: both;
  // margin-bottom: 1em;
}

.dl-horizontal dd ul {
  margin-bottom: 0;
}

.dl-horizontal dd.blacklight-holdings_1display > ul > li {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.availability-icon {
  margin-right: 6px;
  text-transform: uppercase;
}

.dl-horizontal .blacklight-holdings_1display ul.holding-block li {
  margin-bottom: 0;
}

.blacklight-holdings_1display li + li {
  margin-top: .3em;
}

@media (min-width: $bp-small) {
  .dl-horizontal dt {
    overflow: visible;
    width: 160px;
    margin-right: 10px;
    clear: none;
    display: inline-block;
    white-space: initial;
    float: left;
    clear: left;
  }

  .dl-horizontal dd {
    margin-left: 170px;
    margin-right: -30px;
    clear: none;
    margin-bottom: 1em;
  }

  .dl-horizontal dd:after {
    display: block;
    content: '';
    clear: both;
  }

  .content {
    margin-left: -30px;
  }
}

.header-row {
  padding-left: 0px;
}