.item-selector {
  margin-bottom: 1.5em;
  max-height: 187px;
  overflow: auto;
  padding: 0;

  input[type=checkbox] {
    margin-right: 0.5em;
  }

  label {
    margin: 0;
  }
}

.requestable-table h2 {
  font-family: 'Roboto Mono', monospace;
}
