@import "../variables/breaks";
@import "../variables/colors";

.search-operators {
  display: inline-block;
  padding: 1em 1em 1em 0;

  label {
    cursor: pointer;
    margin-right: 10px;
  }
}

.advanced.form-horizontal {
  width: 100%;
}

.search-field {
  &.mb-3 {
    margin-bottom: 0;
  }

  select.form-control {
    margin-bottom: 1em;

    @media (min-width: $bp-medium) {
      width: auto;
      margin-bottom: 0;
    }
  }

  div {
    @media (min-width: $bp-medium) {
      display: inline-block;
      float: right;
      width: calc(100% - 150px);
    }
  }
}

#guided_search .mb-3 {
  margin-left: 0;
}

.limit-criteria-heading {
  margin: 0 0 0.8em;
}

.advanced-search-form .limit-criteria {
  margin-bottom: 0;
}

#guided_search {
  padding-bottom: 1.25em;
}

.page-header {
  margin: 5px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.advanced-facet-label {
  padding-top: 4px;

  @media (min-width: $bp-medium) {
    text-align: right;
  }
}

.advanced.row {
  margin-left: 15px;
  margin-right: 15px;
}

.clear-form {
  color: shade-color($blue, 3);
}

.well>h4 {
  margin: 0.25em 0 0.5em;
}

.well.search_history {
  padding: 10px;
}

.inclusive_or.well {
  padding: 10px;
  margin-bottom: 5px;
}


#advanced_search_facets .dropdown-toggle::after {
  position: absolute;
  right: 12px;
}

.dropdown-item {
  white-space: normal;
}

@include media-breakpoint-up(md) {
  .two-columns-md {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 49%;
  }
  .two-columns-md > * {
    height: 2.5rem;
  }
}

.two-columns-md>* {
  margin: 5px 5px 1rem;
}

.dropdown .fa-caret-down, .lux-icon-arrow-down {
  display: none;
  width: 10px;
  height: 10px;
}

@media (min-width: $bp-small) {
  .dropdown .fa-caret-down, .lux-icon-arrow-down {
    display: inline;
    position: absolute;
    right: 5px;
    top: calc(50% - .6rem);
  }
}

.dropdown-menu[role=listbox] {
  max-height: 30vh;
  overflow-y: auto;
}

input.combobox-multiselect {
  height: 2.5rem;
}
