@import "../variables/breaks";
@import "../variables/colors";

.search-operators {
  display: inline-block;
  padding: 1em 1em 1em 0;

  label {
    cursor: pointer;
    margin-right: 10px;
  }
}

.advanced.form-horizontal {
  width: 100%;
}

.search-field {
  &.form-group {
    margin-bottom: 0;
  }

  select.form-control {
    margin-bottom: 1em;
    @media (min-width: $bp-medium) {
      width: auto;
      margin-bottom: 0;
    }
  }

  div {
    @media (min-width: $bp-medium) {
      display: inline-block;
      float: right;
      width: calc(100% - 150px);
    }
  }
}

#guided_search .form-group {
  margin-left: 0;
}

.limit-criteria-heading {
  margin: 0 0 0.8em;
}

.advanced-search-form .limit-criteria {
  margin-bottom: 0;
}

.chosen-container-multi .chosen-choices {
  min-height: 34px;
  border-radius: 4px;
  background-image: none;
  padding: 0 5px 3.25px;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin-top: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  margin: 6.5px 5px -1px 0;
}

#guided_search {
  padding-bottom: 1.25em;
}

.page-header {
  margin: 5px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.advanced-facet-label {
  padding-top: 4px;

  @media (min-width: $bp-medium) {
    text-align: right;
  }
}

.advanced.row {
  margin-left: 15px;
  margin-right: 15px;
}

.clear-form {
  color: darken($blue, 3);
}

.well > h4 {
  margin: 0.25em 0 0.5em;
}

.well.search_history {
  padding: 10px;
}

.inclusive_or.well {
  padding: 10px;
  margin-bottom: 5px;
}

.chosen-container .chosen-results li.group-result {
  cursor: pointer;
}

#advanced_search_facets .dropdown-toggle::after {
  position: absolute;
  right: 12px;
}

.dropdown-item {
  white-space: normal;
}

.row .range_limit input.range_begin, .row .range_limit input.range_end {
  width: 5em;
}

@include media-breakpoint-up(md) {
  .two-columns-md {
    columns: 2;
  }  
}
