@import "../variables/breaks";
@import "../variables/colors";

.search-operators {
  display: inline-block;
  padding: 1em 1em 1em 0;

  label {
    cursor: pointer;
    margin-right: 10px;
  }
}

.search-field {
  &.form-group {
    margin-bottom: 0;
  }

  select.form-control {
    margin-bottom: 1em;
    @media (min-width: $bp-small) {
      width: auto;
      margin-bottom: 0;
    }
  }

  div {
    @media (min-width: $bp-small) {
      display: inline-block;
      float: right;
      width: calc(100% - 150px);
    }
  }
}

#guided_search .form-group {
  margin-left: 0;
}
