@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

#documents .document {
  // margin: 1.5em 0;
  // padding: 0 0 1.5em;
  margin: 0;
  padding: 0.75em 0 0.5em;
}

.documents-list dl {
  margin-bottom: 0;
}

.documents-list .document h3.document-title-heading {
  padding-left: 0;
  font-size: 1.3em;
  margin-top: 0;
}

.document .blacklight-format .icon {
  display: inline-block;
  width: auto;
  height: auto;
  padding-right: 0;
}

.content dl {
  font-size: 0.9em;
  margin-bottom: 0;
}

.document-metadata {
  line-height: 1.5em;
  vertical-align: middle;
  margin-bottom: 0;

  .icon {
    line-height: 1em;
    vertical-align: middle;
    margin-right: 0.2em;
  }

  .blacklight-holdings {
    margin-top: 0.5em;
  }

  .blacklight-format {
    font-size: 0.875em;
    text-transform: uppercase;
  }

  .search-metadata {
    color: $dark-gray;
  }
}

.document a:hover {
  color: shade-color($orange, 10%);
  text-decoration: underline;
}

dd.blacklight-electronic_access_display {
  word-break: break-all;
}

.document .dl-horizontal li {
  list-style-type: none;
}

.record-wrapper {
  width: calc(100% - 130px);
  display: inline-block;
  padding-left: 1em;
}

.search-result-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.thumbnail-wrapper {
  width: 120px;
  padding-left: 10px;
}

#spell {
  padding: 0 15px;

  h4 {
    margin: 1em 0 0.5em 0;
  }
}

em.highlight-query {
  background-color: #FFFDD0;
}