@use "variables/breaks";

// Advanced Search
.search-options {
  margin-bottom: 0;
  display: inline-block;
  flex: 1;

  @media (min-width: breaks.$bp-large) {
    flex: initial;
  }

  li {
    padding: 1em 0;

    @media (min-width: breaks.$bp-large) {
      a {
        padding-left: 1em;
      }
    }
  }
}

#sortAndPerPage,
.pagination-search-widgets {
  border: none;
  margin-bottom: 1em;
  padding-bottom: 0;
  padding-top: 0;
}

.pagination-search-widgets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
