@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";

#documents .document {
  // margin: 1.5em 0;
  // padding: 0 0 1.5em;
  margin: 0;
  padding: 0.75em 0 0.5em;
}

.documents-list dl {
  margin-bottom: 0;
}

.documents-list h3 {
  font-size: 1.3em;
  margin-top: 0;
}

.document .blacklight-format .icon {
  display: inline-block;
  width: auto;
  height: auto;
  padding-right: 0;
}

.content dl {
  font-size: 0.9em;
  margin-bottom: 0;
}

.document-metadata {
  line-height: 1.5em;
  vertical-align: middle;

  .icon {
    line-height: 1em;
    vertical-align: middle;
    margin-right: 0.2em;
  }

  .blacklight-holdings {
    margin-top: 1em;
  }

  .blacklight-format {
    font-size: 0.875em;
    text-transform: uppercase;
  }
}

.document a:hover {
  color: darken($orange, 10%);
  text-decoration: underline;
}

dd.blacklight-electronic_access_display {
  word-break: break-all;
}

.document .dl-horizontal li {
  list-style-type: none;
}

.record-wrapper {
  width: calc(100% - 130px);
  display: inline-block;
  padding-left: 1em;
}

.thumbnail-wrapper {
  width: 120px;
  float: right;
}
