$stackmap-scale: 0.585;
$locator-scale: 0.8;

.stackmap-cn, .stackmap-library {
  font-weight: bold;
}

.modal-dialog {
  @media (min-width: $bp-small)  {
    width: 90%;
    max-width: 90%;
  }

  @media (min-width: $bp-medium)  {
    max-width: 650px;
  }
}

#stackmap-modal {
  .modal-header {
    background-color: $light-gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .modal-body {

    p {
      margin-bottom: 1em;
    }

    .stackmap-wrapper {
      width: 568px;
      height: 505px;
    }

    .stackmap-src {
      border: 0;
      width: 150vw;
      height: 850px;

      transform: scale($stackmap-scale);
      transform-origin: top left;

      &[src*="locator"] {
        height: 650px;
        transform: scale($locator-scale);
        width: 115vw;

        @media (min-width: $bp-small) {
          width: 107vw;
        }

        @media (min-width: $bp-medium) {
          width: calc(618px/#{$locator-scale});
        }
      }

      @media (min-width: $bp-small) {
        width: 140vw;
      }

      @media (min-width: $bp-medium) {
        width: calc(618px/#{$stackmap-scale});
      }
    }
  }

  .modal-footer {
    padding: 0;
    background: whitesmoke;

    ul {
      margin: 0;
    }

    li {
      float: left;
      width: calc(50% - 1px);
      padding: 1em;
      text-align: center;
      background: $light-gray;

      &:first-child {
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-left: 1px solid #e5e5e5;
        border-bottom-right-radius: 6px;
      }
    }

    a {
      color: $black;
    }

    svg {
      vertical-align: middle;
      margin-right: 0.325rem;
    }
  }
}
