@import "variables/breaks";
@import "variables/colors";
@import "abstractions/mixins";

table {
  width: 100%;

  caption {
    color: $black;
  }

  th {
    font-weight: normal;
  }
}

.browse thead {
  th {
    padding: 10px 15px;
    font-family: Arial, sans-serif;
    font-weight: 700;

    &:nth-child(4),
    &:nth-child(2) {
      min-width: 150px;
    }
  }
}

td {
  padding: 10px 15px;
  vertical-align: top;

  &.actions {
    width: 100px;
  }
}

@media (max-width: $bp-large) {
  .table--overflow {
    overflow: auto;

    p {
      margin: 0;
    }
  }

  .table-bordered {
    border-left: 0;
    border-right: 0;
  }

  /* Force table to not be like tables anymore */
  .browse--call-number,
  .table.account--fines,
  .table.account--blocks {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */

    thead tr {
      @include visually-hidden;
    }

    tr {
      border-bottom: 1px solid $gray;
      padding: 0;
    }

    // for call number browse only

    td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-left: 1em;
      padding-top: 2em;
      padding-bottom: 0.75em;

      &.rtl {
        float: none;
      }
    }

    td:empty {
      display: none;
    }

    td:before {
      /* Now like a table header */
      position: absolute;

      /* Top/left values mimic padding */
      top: 6px;

      // left: 6px;
      width: 45%;
      white-space: nowrap;
      font-weight: 700;
      font-family: Arial, sans-serif;
    }
  }
}

.renew-items .form-control {
  max-width: 350px;
}
