.uv {
  display: inline-block;
  width: 100%;
  height: 600px;
  background-color: #000;
}
hr.clear {
  clear: both;
}

.uv__overlay {
  background:transparent;
  position:relative;
  width:100%;
  height:600px;
  top:600px;
  margin-top:-600px;
  z-index: 1000;
}

.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
}

.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}

.intrinsic-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
