address .name, address .street {
  display: block;
  clear: both;
}

.login_actions {
  padding-left: 15px;
}

.card-body hr {
  margin-top: 1rem;
}

.card-cas {
  margin: 0 10px 20px;

  .btn {
    margin: auto;
    display: block;
    width: 200px;
  }

  p {
    margin: 10px 0 0;
    text-align: center;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
}

.card-barcode, .card-alma {
  margin: 0 10px 20px;

  .card-header p {
    margin: 0.4em 0 0;
    font-size: 0.9em;
    padding-left: 0;
  }

  label {
    @media (min-width: 768px) {
      text-align: right;
    }
    margin-bottom: 5px;
    font-weight: 700;
  }

  p {
    margin: 10px 0 0;
    padding-left: 0px;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
}
