<% if (!@account.demerits.nil?) %>
  <h2 class="section-heading">Account Demerits</h2>
  <table class="table table-striped table-bordered account--demerits">
    <tbody>
    <% @account.demerits.each do |demerit| %>
      <% demerit.each do |key, value| %>
        <tr>
          <td><%= key.humanize %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

<% end %>
