<h2 class="section-heading">Fines and Fees</h2>
<% if (!@account.fines_fees.nil?) %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tbody>
      <% @account.fines_fee.each do |fine| %>
        <% fine.each do |key, value| %>
          <tr>
            <td><%= key.humanize %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No Outstanding Fines or Fees</p>
<% end %>
