<h2 class="section-heading">Account Information</h2>
<p>
  <p class="netid"><%= @patron["netid"] %></p>
  <p class="name">
    <%= @patron["first_name"] %> <%= @patron["last_name"] %>
  </p>
  <p class="barcode"><%= @patron["barcode"] %></p>
</p>