<h2 class="section-heading">Account information</h2>

<dl class="account--patron_info">
  <dt>Name</dt>
  <dd><%= @patron["first_name"] %> <%= @patron["last_name"] %></dd>
  <dt>Current barcode</dt>
  <dd><%= @patron["barcode"] %></dd>
</dl>
