<!DOCTYPE html>
<html>
<head>
  <!-- TODO: enable this to automatically redirect -->
  <!-- meta http-equiv="Refresh" content="0; URL=https://princeton.alma.exlibrisgroup.com/discovery/account?vid=01PRI_INST:Services&lang=EN&section=overview" -->
</head>
<body>
  <div class="col-md-12">
    <p>Redirecting to Library Account in Alma,
    click <%= link_to("here", "https://princeton.alma.exlibrisgroup.com/discovery/account?vid=01PRI_INST:Services&lang=EN&section=overview") %>
    if you are not automatically redirected.</p>
  </div>
</body>
</html>
