//bootstrap variables override
$table-bg-accent: #f5f4f1;
$font-size-base: 1rem;
$brand-primary: #3072AB;
$brand-success: #3B863B;
$gray-light: #757575;

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight/blacklight_base';
@import 'blacklight_marc';
