//bootstrap variables override
$table-bg-accent: #f5f4f1;
$font-size-base: 16px;
$brand-primary: #3072AB;

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight/blacklight_base';
@import 'blacklight_marc';
