@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight/blacklight_base';

#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
  	width: 150px;
    height: 50px;
	  background:transparent image_url('pul/logo.png') no-repeat top left;
	  display: inline-block;
	  text-indent: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	  padding-right:0;
	  margin-right:20px;
	  padding-left: 0;
  }
}

.orange {
  display:inline;
  color:#e87511;
}

h3.rtl {
  color:#e87511;
  text-align:right;
}

dd.rtl {
  color:#e87511;
  text-align:right;
}

rtl {
  display:inline;
  float:right;
}

.rtl {
  direction: rtl;
  float:right;
}

.dl-horizontal dt 
{
  overflow:visible;
  width: 180px !important;
  margin-right: 10px;  
}

.dl-horizontal dd 
{
  margin-left: 190px;  
}

ul
{
  list-style-type: none;
  padding: 0;
}



.browse
{

  li, td, th
  {
    padding: .5em;
  }

  li.row-even, tr.row-even
  {
    background-color: #cfcfcf;
  }


}