@import 'typography';

.top-panel-heading.panel-heading {
    padding-left: 0;
}

.panel-group .panel {
    border-radius: 0;
     -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.panel-default > .panel-heading {
    background: #f5f4f1;
}
.panel-title > a {
    font-size: 0.9em;
}

.facet-values .facet-label {
    font-size: 0.9em;
}

.facets-heading {
    margin-top: 0;
}

