body {
    background: #f5f4f1;
}

main {
    background: white;
}
.l-footer {
  background-color: #f5f4f1;
  margin: 2em 0;
}

footer {
    h2 {
  font-size: 16px;
  margin-bottom: 0.75em;
  font-weight: bold;
  color: #89440a;
    }
}