.l-branding__pul {
    background: #494f57;
    border-top: 3px solid #e87511;
    min-height: 40px;
    .menu--level-1 {
        height: 40px;
        position: relative;
        z-index: 10;
        > ul {
            display: block;
            float: right;
            margin: 0;
            vertical-align: baseline;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
           > li >  a, .btn-account {
                color: #ddd;
                font-size: 0.75em;
                background: none;
                border: none;
            }
            > li {
                float: left;
                padding: 0 20px;
                border-right: 1px solid #666;
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
    }
}

.dropdown-account {
  .dropdown {
    float: right;
  }
}

.logo__pul {
    height: 40px;
    display: inline-block;
    img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.svg .logo-svg {
    display: inline-block;
    max-width: 100%;
}

.svg .logo-no-svg {
    display: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar + .navbar {
    margin-top: 0;
}

.navbar-inverse,
.navbar-default {
    background-color: #f5f4f1;
    border-bottom: 1px solid #e8e6df;
}

.header__secondary .navbar-right .navbar-nav {
  float: right;
}