@use "variables/colors";

@media (min-width: 900px) {
  .lux-library-links ul {
    align-content: center;
  }
}

.lux-badge {
  text-transform: uppercase;
}

.holdings-card .lux-text-style.green {
  color: colors.$available-green;
}

.holding-status .lux-text-style.green {
  color: colors.$available-green;
}

.when-closed .lux-badge-gray {
  background: var(--color-grayscale-light);
}

.when-closed .lux-badge {
  height: 1.5rem;
  font-size: .55rem;
  padding: 0.8rem 0.5rem;
  letter-spacing: 0.02rem;
}

.lux {
  // We use Libre Franklin since it is a variable font and is a new
  // recommendation from the Communications Office.  Once Lux includes
  // Libre Franklin, we can remove these customizations.
  --font-family-heading: 'Libre Franklin', Helvetica, Arial, sans-serif;
  --font-family-text: 'Libre Franklin', Helvetica, Arial, sans-serif;
}
