body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

// Printing Tables:
// http://css-discuss.incutio.com/wiki/Printing_Tables

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tr,
img {
  page-break-inside: avoid;
}

td {
  padding: 0;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

header,
footer,
#facets,
.documents-list .col-md-2,
.search-widgets,
.pagination,
.pagination-search-widgets,
#sidebar,
.umlaut-section,
.availability,
.dropdown-toggle,
.button--start-over,
.button--edit-search,
.index-document-functions,
.alert.announcement,
.icon-rssfeed,
.request.btn {
  display: none;
}

.document dt,
h1,
.panel-heading {
  font-weight: bold;
  font-size: 1.2em;
}

#librarian-classic-views,
.availability {
  padding: 1em;
}

.dl-horizontal dt {
  display: block;
  clear: both;
  text-align: left;
}

.dl-horizontal dd {
  clear: both;
  margin-left: 0;
}

.blacklight-holdings a,
.document-metadata a,
.search-subjects,
.dl-horizontal a {
  text-decoration: none;
}

.panel,
.location--panel .panel .panel-heading {
  border: 0;
  box-shadow: 0;
}

.holding-block,
.holding-block .availability-icon,
.library-location,
.location--panel .panel .holding-block h3,
.location--online .panel .panel-body a {
  font-size: 13pt;
}

.label {
  border: 0;
}

#main-content {
  width: 60%;
}

#availability {
  width: 40%;

  .browse-cn,
  .find-it {
    display: none;
  }
}

.dl-horizontal .other-views,
.dl-horizontal .classic-views {
  display: none;
}

.browse--call-number thead tr {
  position: initial !important;
  clip: none !important;
  height: auto !important;
  width: auto !important;

  th {
    display: inline;
  }
}

.browse--call-number td:before {
  display: none;
}

.browse--call-number {
  table-layout: fixed;
  width: 100%;
}

.browse td {
  display: table-cell;
  font-size: 13pt;

  &:nth-child(1),
  &:nth-child(2) {
    width: 15%;
  }
  &:nth-child(3) {
    width: 30%;
  }
  &:nth-child(4),
  &:nth-child(5) {
    width: 20%;
  }
}

abbr {
  display: none;
}

.record-wrapper {
  width: 100%;
}

.thumbnail-wrapper {
  display: none;
}

.document-metadata {
  line-height: 1.2em;
  .blacklight-holdings {
    margin: 0;
    ul {
      margin-top: 3px;
    }
  }
}

#sortAndPerPage {
  margin: 0;
}
