body,
.blacklight-catalog-show h1,
.blacklight-catalog-show .main-content dt,
.blacklight-catalog-show .main-content dd,
.blacklight-catalog-show .main-content h3,
.blacklight-catalog-show .main-content .availability--online,
.blacklight-catalog-show .main-content .availability--physical .availability-table {
  font-family: Arial, Helvetica, sans-serif;
}

body,
.blacklight-catalog-show .main-content dt,
.blacklight-catalog-show .main-content dd,
.blacklight-catalog-show .main-content h3,
.blacklight-catalog-show .main-content .availability--online,
.blacklight-catalog-show .main-content .availability--physical .availability-table {
  font-size: 12pt;
}

.blacklight-catalog-show h1 {
  font-size: 14pt;
}

.blacklight-catalog-show h2 {
  display: none;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

// Printing Tables:
// http://css-discuss.incutio.com/wiki/Printing_Tables

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

img, {
  page-break-inside: avoid;
}

td {
  padding: 0;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

header,
footer,
#facets,
.documents-list .col-md-2,
.search-widgets,
.pagination,
.pagination-search-widgets,
#sidebar,
#aside,
.umlaut-section,
.dropdown-toggle,
.button--start-over,
.button--edit-search,
.index-document-functions,
.alert.announcement,
.icon-rssfeed,
.request.btn {
  display: none;
}

.document dt,
.top-fields dt,
h1,
.panel-heading {
  font-weight: bold;
  font-size: 13pt;
  width: 100%;
}

.blacklight-catalog-show .main-content .top-fields,
.blacklight-catalog-show .main-content .availability--online,
.blacklight-catalog-show .main-content .availability--physical,
.blacklight-catalog-show .main-content .availability--online > ul:first-of-type {
  border: 0;
  padding: 0;
  margin: 0;
}

.blacklight-catalog-show h3 {
  margin-bottom: 0;
}

.blacklight-catalog-show .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .record-availability {
    order: 3;
  }
}

#librarian-classic-views,
.availability {
  padding: 1em;
}

.dl-horizontal dt {
  display: block;
  clear: both;
  text-align: left;
}

.dl-horizontal dd {
  clear: both;
  margin-left: 0;
}

.blacklight-catalog-show .main-content dd {
  max-width: 100%;
}

.blacklight-holdings a,
.document-metadata a,
.search-subjects,
.dl-horizontal a {
  text-decoration: none;
}

.panel,
.location--panel .panel .panel-heading {
  border: 0;
  box-shadow: 0;
}

.holding-block,
.holding-block .availability-icon,
.library-location,
.location--panel .panel .holding-block h3,
.location--online .panel .panel-body a {
  font-size: 13pt;
}

.label {
  border: 0;
}

.availability-table {
  thead,
  tr .location-services,
  .browse-cn,
  .find-it {
    display: none;
  }

  tr {
    display: block;
    td {
      padding: 0;
    }
  }
}


.blacklight-catalog-show .content {
  width: 100%;
}

.browse-name,
.browse-name-title,
.browse-subject,
.browse-related-name,
.document-viewers {
  display: none;
}

.modal-open * {
  visibility: hidden;
}

.modal-open .modal-content * {
  visibility: visible;
}

.modal-open .modal-footer {
  display: none;
}

#stackmap-modal .modal-header {
  border: 0;

  button {
    display: none;
  }
}

.dl-horizontal .other-views,
.dl-horizontal .classic-views {
  display: none;
}

.browse--call-number thead tr {
  position: initial !important;
  clip: none !important;
  height: auto !important;
  width: auto !important;

  th {
    display: inline;
  }
}

.browse--call-number td:before {
  display: none;
}

.browse--call-number {
  table-layout: fixed;
  width: 100%;
}

.browse td {
  display: table-cell;
  font-size: 13pt;

  &:nth-child(1),
  &:nth-child(2) {
    width: 15%;
  }
  &:nth-child(3) {
    width: 30%;
  }
  &:nth-child(4),
  &:nth-child(5) {
    width: 20%;
  }
}

abbr {
  display: none;
}

.record-wrapper {
  width: 100%;
}

.thumbnail-wrapper {
  display: none;
}

.document-metadata {
  line-height: 1.2em;
  .blacklight-holdings {
    margin: 0;
    ul {
      margin-top: 3px;
    }
  }
}

#sortAndPerPage {
  margin: 0;
}
