@import 'typography';

#documents .document {
    margin: 1.5em 0;
    padding: 0 0 1.5em;
}
.documents-list dl {
    margin-bottom: 0;
}

.documents-list h3 {
    font-size: 1.4em;
    margin-top: 0;
}