header .input-group-addon {
    border: none;
    padding: 0;
    background: none;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        background: white;
        padding: 7px 20px 7px 20px;
        width: 100%;
        cursor: pointer;
        border: 1px solid #ccc;
        outline: none;
        font-size: 14px;
        height: 34px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 42px;
    }
    .caret {
        position: relative;
        z-index: 3;
        left: -30px;
    }
}

.search_q.form-control, .search-btn {
      height: 42px;
    }

// reset form styling cross-browser
.form-control,
.form-control:focus {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.navbar-form .input-group > .search_q.form-control {
    width: 300px;
}

.search-query-form, #search-navbar .search-query-form  {
  margin: 0;
  padding: 0;
}

#search-navbar .search-query-form {
  width: auto;
}

.search-query-form .input-group {
  float: left;
}

.search-options {
  margin-bottom: 0;
  display: inline-block;
}
.search-options li a {
  font-size: 0.8em;
  padding-left: 1em;
}

.header__secondary .container {
  height: 80px;
  position: relative;
  z-index: 1;

  #search-navbar {
    height: 80px;
  }

.navbar-right, .search-options, .search-query-form {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
}