@import "variables/breaks";
@import "variables/colors";
@import "variables/typography";
// search.scss
header .navbar-form .input-group .input-group-addon {
    width: 190px;
}

@media (max-width: 530px) {
    header .navbar-form .input-group .input-group-addon {
        width: 15px;
        select {
            font-size: 12px;
        }
    }
}

header .navbar-form .input-group .input-group-btn {
    width: 40px;
}

header .input-group-addon {
    border: none;
    padding: 0;
    background: none;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        background: $white;
        padding: 7px 20px 7px 20px;
        width: 100%;
        cursor: pointer;
        border: 1px solid $gray;
        outline: none;
        font-size: 14px;
        height: 34px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 42px;
    }
    .caret {
        position: relative;
        z-index: 3;
        left: -30px;
    }
}

.search-widgets select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 12px;
    width: 140px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    display: inline-block;
}

.search-widgets .field .caret {
    position: relative;
    z-index: 3;
    left: -30px;
}

.search_q.form-control,
.search-btn {
    height: 42px;
}

@media (min-width: $bp-medium) {
    .navbar-form .input-group > .search_q.form-control {
        width: 250px;
    }
}

@media (min-width: $bp-large) {
    .navbar-form .input-group > .search_q.form-control {
        width: 375px;
    }
}

.search-query-form,
#search-navbar .search-query-form {
    margin: 0;
    // padding: 0;
}

#search-navbar .search-query-form {
    width: auto;
}

.search-query-form .input-group {
    float: left;
}

.search-options {
    clear: both;
    display: block;
    float: none;
    li {
        display: inline-block;
        padding-right: 1em;
    }
}

@media (max-width: $bp-small) {
    #facets .top-panel-heading {
        padding-left: 1em;
        padding-top: 0.5em;
    }
    h2.facets-heading {
        font-size: 1.6em;
        margin-bottom: 0;
        margin-top: 0.2em;
    }
    .facets-toggle {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .l-branding__pul .logo__pul {
        margin: 0;
        padding: 0;
    }
    .header__secondary .container {
        height: 140px;
    }
    .header__secondary .container .navbar-right {
        width: 100%;
        margin-top: 1em;
    }
    .search-options,
    .header__secondary .container .navbar-right .navbar-nav,
    .l-branding__pul .menu--level-1 {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        li {
            display: inline-block;
            float: none
        }
    }
    #sortAndPerPage {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        .page_links,
        .search-widgets {
            display: inline-block;
            float: none;
            font-size: 1.2em;
            width: 100%;
        }
    }
    .l-branding__pul .menu--level-1 ul li {
        font-size: 1.2em;
    }
    .button--start-over {
        width: 100%;
        a {
            width: 100%;
            font-size: 14px;
        }
    }
    .btn-group.query {
        width: 100%;
    }
}

.button--start-over {
    // width: 100%;
    margin: 0;
    padding: 0;
    a {
        // width: 100%;
        font-size: 14px;
        margin: 0;
    }
}

@media (min-width: 500px) and (max-width: $bp-medium) {
    .search-options {
        margin-top: 0.6em;
        max-width: 50%;
        float: left;
    }
    .header__secondary .container .navbar-right {
        margin-top: 0.6em;
        max-width: 50%;
        float: right;
    }
}

.header__secondary .container #search-navbar {
    padding: 0;
}

@media (min-width: $bp-medium) {
    .search-options {
        margin-bottom: 0;
        display: inline-block;
        li {
            display: block;
            padding-right: 0;
        }
    }
    .search-options li a {
        font-size: 0.8em;
        padding-left: 1em;
    }
}

@media (min-width: $bp-medium) {
    .header__secondary .container {
        height: 80px;
    }
}

.search-query-form {
    padding: 1em 0;
}

@media (min-width: 525px) {
    .header__secondary .container {
        // height: 80px;
        position: relative;
        z-index: 1;
        #search-navbar {
            height: 80px;
        }
        .navbar-right,
        .search-options,
        .search-query-form {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .search-query-form {
            padding: 0;
        }
    }
}

//results.scss
#documents .document {
    // margin: 1.5em 0;
    // padding: 0 0 1.5em;
    margin: 0;
    padding: 1em 0;
}

.documents-list dl {
    margin-bottom: 0;
}

.documents-list h3 {
    font-size: 1.4em;
    margin-top: 0;
}

.input-group {
    width: 100%;
}

.input-group-addon,
.input-group-btn {
    width: auto;
}

.dropdown-account {
    .dropdown {
        float: right;
    }
}

.logo__pul {
    height: 40px;
    display: inline-block;
    img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.svg .logo-svg {
    display: inline-block;
    max-width: 100%;
}

.svg .logo-no-svg {
    display: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar + .navbar {
    margin-top: 0;
}

.navbar-inverse,
.navbar-default {
    background-color: $light-gray;
    border-bottom: 1px solid $gray;
}

.header__secondary .navbar-right .nav {
    float: none;
    clear: both;
    > li {
        display: inline-block;
    }
    > li > a {
        display: inline;
    }
}

.header__secondary .navbar-right .nav {
    float: right;
    clear: none;
}

// footer.scss
body {
    background: $light-gray;
}

main {
    background: $white;
}

.l-footer {
    background-color: $light-gray;
    margin: 2em 0;
}

footer {
    h2 {
        font-size: 16px;
        margin-bottom: 0.75em;
        font-weight: bold;
        color: $dark-orange;
        font-family: $font-serif;
        a {
            color: $dark-orange;
        }
    }
}

footer a {
    color: black;
}

.l-region--footer .leaf a {
    line-height: 1.75em;
}

.l-region--footer address,
.l-region--footer .footer--copyright,
.l-region--footer li a {
    color: #808489;
    font-size: 0.9em;
}

.svg .facebook-logo:before,
.svg .twitter-logo:before,
.svg .govdocs-logo:before,
.svg .friends-logo:before,
.svg .pu-logo:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.svg .facebook-logo,
.svg .twitter-logo,
.svg .govdocs-logo,
.svg .friends-logo,
.svg .pu-logo {
    background-size: contain;
    display: inline-block;
    line-height: 11px;
    height: 24px;
}

.svg .facebook-logo img,
.svg .twitter-logo img,
.svg .govdocs-logo img,
.svg .friends-logo img,
.svg .pu-logo img {
    display: none;
}

.svg .facebook-logo {
    background-image: image-url("facebook.svg");
    width: 24px;
    margin: 0 0.2em 0.75em;
}

.svg .twitter-logo {
    background-image: image-url("twitter.svg");
    width: 24px;
    margin: 0 0.2em 0.75em;
}

.svg .govdocs-logo {
    background-image: image-url("govdocs.svg");
    width: 27px;
    margin: 0 0.2em 0.75em;
}

.svg .friends-logo {
    background-image: image-url("friends.svg");
    width: 91px;
    margin: 0 0.2em 0.75em;
}

.svg .pu-logo {
    background-image: image-url("pu.svg");
    width: 142px;
    height: 40px;
    margin: 0.5em 0 0;
}

.l-region--footer .footer--copyright {
    margin-top: 0.5em;
}

//facets.scss
.top-panel-heading.panel-heading {
    padding-left: 0;
}

.panel-group .panel {
    border-radius: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
    background: $light-gray;
}

.panel-title > a {
    font-size: 0.9em;
}

.facet-values .facet-label,
.facet-values .facet-count {
    font-size: 0.9em;
}

.facets-heading {
    margin-top: 0;
}

//constraints.scss
.constraints-container {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0.35em;
}

.button--start-over {
    display: inline-block;
}

//blacklight.css.scss
.orange {
    display: inline;
    color: $orange;
}

.rtl {
    direction: rtl;
    float: right;
    font-family: verdana, arial;
}

h3.rtl {
    color: $orange;
    text-align: right;
}

dd.rtl {
    color: $orange;
    text-align: right;
}

rtl {
    display: inline;
    float: right;
}

// .dl-horizontal dt {
//     overflow: visible;
//     width: 180px;
//     margin-right: 10px;
// }
.dl-horizontal dd {
    width: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.search-options {
    padding: 0px 5px;
}

.browse {
    li,
    td,
    th {
        padding: .5em;
    }
    li.row-even,
    tr.row-even {
        background-color: $light-gray;
    }
}

.alert {
    margin: 10px 0px;
}

.pivot-facet .facet-label {
    display: inline;
    padding-left: 0px;
    word-break: none;
}

.dl-nested dd {
    margin-left: 50px;
    clear: left;
}

.dl-nested dt {
    clear: left;
    text-align: left;
}

.facets-heading {
    font-size: 18px;
}

body {
    font-family: $font-sans;
}

main {
    padding: 1em 0 1.5em;
}

address {
    margin-bottom: 0;
}

.subject-heirarchy {
    text-decoration: underline;
    color: darken($orange, 10%);
}

.search-subject:hover {
    color: darken($orange, 10%);
}

.search-subject:active {
    text-decoration: none;
}

@media (min-width: $bp-small) {
    .container {
        width: 100%;
    }
}

@media (min-width: $bp-medium) {
    .container {
        width: 950px;
    }
}

@media (min-width: $bp-large) {
    .container {
        width: 1200px;
    }
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: none;
    text-decoration: underline;
}

.search-widgets select,
.navbar-nav > li > a,
.navbar-nav > li.dropdown > button,
.button--start-over a,
.pagination-search-widgets .btn-default {
    padding: 6px 12px;
    margin: 3px;
    background: $light-gray;
    border: 1px solid $gray;
    color: $black;
    &:hover {
        background: $blue;
        color: $white;
        text-decoration: none;
    }
}

header .navbar-nav > li > a {
    border: none;
    border-radius: 3px;
}

.dropdown-account .dropdown-menu {
    right: 0;
    left: auto;
}

.document .icon,
.facet-values .icon {
    width: 22px;
    height: 22px;
    display: table-cell;
    background-position: center;
    background-size: contain;
    padding-right: 0.5em;
}

ul.facet-values {
    border-spacing: 0 0.3em;
    margin-bottom: 0;
    .facet-values,
    > ul {
        border-spacing: 0;
    }
}

.pivot-facet .pivot-facet {
    padding: 0 0 0 3.5em;
    width: 100%;
    &.collapse.in,
    &.collapsing {
        display: table;
    }
}

.document-thumbnail {
    display: block;
    height: 110px;
    width: 85px;
    margin-bottom: 0;
    padding: 0;
    img,
    .default {
        max-width: 75px;
        height: auto;
        height: 100px;
        background-size: contain;
        background-position: center;
    }
}

#sidebar .document-thumbnail {
    display: block;
    height: 160px;
    width: 110px;
    img,
    .default {
        max-width: 100px;
        height: auto;
        height: 150px;
        background-size: contain;
    }
}

#sidebar .availability {
    clear: both;
}

.document .blacklight-format .icon {
    display: inline-block;
}

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count {
    padding: 0;
    text-indent: 0;
    vertical-align: top;
    line-height: 1.8em;
}

.facet-values .icon {
    font-size: 1.55em;
    line-height: 1.2em;
}

.icon + .facet-label {
    padding-left: 0.5em;
}

.document-metadata {
    line-height: 1.5em;
    vertical-align: middle;
    .icon {
        line-height: 1em;
        vertical-align: middle;
        margin-right: 0.2em;
    }
    .blacklight-call_number_display {
        margin-top: 1em;
    }
    .blacklight-format {
        font-size: 0.875em;
        text-transform: uppercase;
    }
}

.tooltip > .tooltip-inner {
    max-width: 600px !important;
}

.document a:hover {
    color: darken($orange, 10%);
    text-decoration: underline;
}

dd.blacklight-electronic_access_display {
    word-break: break-all;
}

[dir="rtl"] {
    font-family: verdana, arial;
}

.other-resources ul li {
    display: inline-block;
    padding: 0 1em;
    border-right: 1px solid $dark-gray;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        border: none;
    }
}

.facet_limit-active,
.facet_limit-active > .panel-heading {
    border-color: #ddd;
    color: #333;
}

.facet-values li .selected {
    color: #333;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.page-heading {
    display: inline-block;
    margin-bottom: 1.4em;
    padding-top: 5px;
}

.browse-pager {
    display: inline-block;
    .pager {
        margin: 0;
    }
}

.prev_next_links.btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 4px;
    margin-left: 1em;
}

.prev_next_links.btn-group > .btn {
    float: none;
}

#marc_view {
    font-family: courier, monospace;
}

#sortAndPerPage, .pagination-search-widgets {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.welcome-message h2 {
    margin-top: 0;
}

.umlaut-holding {
    margin-bottom: 1.5em;
}
#full_text {
    margin-bottom: 1.5em;
}
.availability .panel-body {
    margin: 0;
    padding: 1em;
}
.availability .availability--heading {
    margin-bottom: 0;
}
.availability h3 {
    margin-top: 0;
}

select::-ms-expand {
    display: none;
}

#librarian-classic-views {
    padding-left: 30px;
}