// these rules are temporary

@import "variables/colors";

.announcement {
  border-left: 4px solid #E0CB52;
  z-index: 1;
  margin: 0;
  border-radius: 0;
  padding: 5px 10px;

  p {
    margin: 0;
  }
}

.is-disabled {
  opacity: .5;
  background: $light-gray;
  pointer-events: none;
  cursor: not-allowed;
}

.introjs-fixParent {
  position: relative !important;
}

.introjs-helperNumberLayer {
  line-height: 10px;
  font-weight: normal;
  font-family: $font-sans;
  font-size: 11px;
}

button.btn-account.introjs-showElement {
  color: $blue;
}

.introjs-helperLayer {
  border: none;
}

@media (max-width: $bp-small) {
  .intro_tour {
    display: none;
  }
}
