// these rules are temporary

@import "variables/colors";

.announcement {
  border-left: 4px solid #E0CB52;
  z-index: 1;
  margin: 0;
  border-radius: 0;
  padding: 5px 10px;

  p {
    margin: 0;
  }
}

.is-disabled {
  opacity: .5;
  background: $light-gray;
  pointer-events: none;
  cursor: not-allowed;
}

// temporary hathi-trust access message on the home page
.hathitrust-temporary-access {
  .card {
      border: 0;
  }
  .card-body {
      width: 100%;
      padding: 1rem;
  }
}

.hathitrust-temporary-access {
  clear: both;
  display: flex;
  flex-direction: row;
  background-color: $yellow-light;
  margin-top: 2rem;
  padding: 1rem;
  
  .hathi-text {
    padding-left: 1rem;
  }

  p {
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }
}

.covid19-temporary-access {
  clear: both;
  display: flex;
  flex-direction: row;
  background-color: $yellow-light;
  margin-top: 2rem;
  padding: 1rem;
  
  .covid19-text {
    padding-left: 1rem;
  }

  p {
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }
}
