<%= render 'shared/start_over_row' %>
<div class="col-sm-12">
  <h1 class="page-heading">Send Us Feedback</h1>
  <small>*All fields are required</small>
</div>

<div class="col-md-10">
  <%= render 'form' %>
</div>
